In [1]:
#Question 1 - Print the version of numpy
import numpy as np
print(np.__version__)

1.23.5

In [14]:
#Question 2
"""
Using NumPy create a 5x5 array filled with zeros (set data type to int16) 
and assign it to a variable named arr. In response, print this array to the console.
"""
import numpy as np
arr = np.zeros((5,5))
arr = np.int16(arr)
print(arr)
print(arr.dtype)

#Another Way
import numpy as np
arr3 = np.zeros(shape=(5, 5), dtype='int16')
print(arr3)

[[0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]]
int16
[[0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]
 [0 0 0 0 0]]

In [16]:
#Question 2
"""
Using NumPy, create a 10x10 array filled with number 8 (set the data type to float32) 
and assign it to a variable named arr. In response, print this array to the console as shown below.
"""
import numpy as np

arr = np.full(shape=(10,10), dtype='float32', fill_value=(8))
print(arr)

[[8. 8. 8. 8. 8. 8. 8. 8. 8. 8.]
 [8. 8. 8. 8. 8. 8. 8. 8. 8. 8.]
 [8. 8. 8. 8. 8. 8. 8. 8. 8. 8.]
 [8. 8. 8. 8. 8. 8. 8. 8. 8. 8.]
 [8. 8. 8. 8. 8. 8. 8. 8. 8. 8.]
 [8. 8. 8. 8. 8. 8. 8. 8. 8. 8.]
 [8. 8. 8. 8. 8. 8. 8. 8. 8. 8.]
 [8. 8. 8. 8. 8. 8. 8. 8. 8. 8.]
 [8. 8. 8. 8. 8. 8. 8. 8. 8. 8.]
 [8. 8. 8. 8. 8. 8. 8. 8. 8. 8.]]

In [17]:
#Another solution of question 2
import numpy as np
arr = np.ones(shape=(10, 10), dtype='float32') * 8
print(arr)

[[8. 8. 8. 8. 8. 8. 8. 8. 8. 8.]
 [8. 8. 8. 8. 8. 8. 8. 8. 8. 8.]
 [8. 8. 8. 8. 8. 8. 8. 8. 8. 8.]
 [8. 8. 8. 8. 8. 8. 8. 8. 8. 8.]
 [8. 8. 8. 8. 8. 8. 8. 8. 8. 8.]
 [8. 8. 8. 8. 8. 8. 8. 8. 8. 8.]
 [8. 8. 8. 8. 8. 8. 8. 8. 8. 8.]
 [8. 8. 8. 8. 8. 8. 8. 8. 8. 8.]
 [8. 8. 8. 8. 8. 8. 8. 8. 8. 8.]
 [8. 8. 8. 8. 8. 8. 8. 8. 8. 8.]]

In [23]:
#Question 3
"""
Using NumPy, create a one-dimensional array of all two-digit numbers, assign it to a variable 
named arr and print this array to the console as shown below.
"""
import numpy as np
arr = np.arange(10,100,1)
print(arr)

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57
 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81
 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99]

In [50]:
#Question 4
import numpy as np
"""
Using NumPy create the following array:
[[10 11 12 13 14 15 16 17 18 19]
 [20 21 22 23 24 25 26 27 28 29]
 [30 31 32 33 34 35 36 37 38 39]
 [40 41 42 43 44 45 46 47 48 49]
 [50 51 52 53 54 55 56 57 58 59]
 [60 61 62 63 64 65 66 67 68 69]
 [70 71 72 73 74 75 76 77 78 79]
 [80 81 82 83 84 85 86 87 88 89]
 [90 91 92 93 94 95 96 97 98 99]]
Note that the shape of this array is (9, 10). In response, print this array to the console.
"""
arr = np.arange(10,100)
arr = arr.reshape((9,10))
print(arr)

[[10 11 12 13 14 15 16 17 18 19]
 [20 21 22 23 24 25 26 27 28 29]
 [30 31 32 33 34 35 36 37 38 39]
 [40 41 42 43 44 45 46 47 48 49]
 [50 51 52 53 54 55 56 57 58 59]
 [60 61 62 63 64 65 66 67 68 69]
 [70 71 72 73 74 75 76 77 78 79]
 [80 81 82 83 84 85 86 87 88 89]
 [90 91 92 93 94 95 96 97 98 99]]

In [52]:
#Another solutions of question 4
import numpy as np
#Solution1
arr1 = np.arange(10, 100).reshape(-1, 10)
print(arr1)
#Solution2
arr = np.arange(10, 100).reshape(9, -1)
print(arr)

[[10 11 12 13 14 15 16 17 18 19]
 [20 21 22 23 24 25 26 27 28 29]
 [30 31 32 33 34 35 36 37 38 39]
 [40 41 42 43 44 45 46 47 48 49]
 [50 51 52 53 54 55 56 57 58 59]
 [60 61 62 63 64 65 66 67 68 69]
 [70 71 72 73 74 75 76 77 78 79]
 [80 81 82 83 84 85 86 87 88 89]
 [90 91 92 93 94 95 96 97 98 99]]
[[10 11 12 13 14 15 16 17 18 19]
 [20 21 22 23 24 25 26 27 28 29]
 [30 31 32 33 34 35 36 37 38 39]
 [40 41 42 43 44 45 46 47 48 49]
 [50 51 52 53 54 55 56 57 58 59]
 [60 61 62 63 64 65 66 67 68 69]
 [70 71 72 73 74 75 76 77 78 79]
 [80 81 82 83 84 85 86 87 88 89]
 [90 91 92 93 94 95 96 97 98 99]]

In [53]:
#Question 5
"""
Using NumPy, create a 8x8 two-dimensional array - identity matrix with int16 data type and 
assign it to a variable named arr. In response, print this array to the console as shown below.
Expected output:
[[1 0 0 0 0 0 0 0]
 [0 1 0 0 0 0 0 0]
 [0 0 1 0 0 0 0 0]
 [0 0 0 1 0 0 0 0]
 [0 0 0 0 1 0 0 0]
 [0 0 0 0 0 1 0 0]
 [0 0 0 0 0 0 1 0]
 [0 0 0 0 0 0 0 1]]
Tip: Use the np.eye() function
"""
import numpy as np

arr = np.eye(8,dtype='int16')
print(arr)

[[1 0 0 0 0 0 0 0]
 [0 1 0 0 0 0 0 0]
 [0 0 1 0 0 0 0 0]
 [0 0 0 1 0 0 0 0]
 [0 0 0 0 1 0 0 0]
 [0 0 0 0 0 1 0 0]
 [0 0 0 0 0 0 1 0]
 [0 0 0 0 0 0 0 1]]

In [59]:
#Question 6
"""
Using NumPy create any 3-dimensional array of the shape (2, 3, 4) and assign it to variable arr
"""
import numpy as np
arr = np.arrayarr = np.array([[[4, 5, 4, 2], [6, 3, 5, 1], [5, 2, 1, 2]],
    [[7, 2, 3, 1], [6, 2, 0, 9], [0, 1, 9, 1]]])
print(arr)

[[[4 5 4 2]
  [6 3 5 1]
  [5 2 1 2]]

 [[7 2 3 1]
  [6 2 0 9]
  [0 1 9 1]]]

In [70]:
#Question 7
"""
Suppose you have the following NumPy array:
arr = np.array(
    [
        ['4', '3', '6', '2', '1'],
        ['7', '2', '1', '2', '6'],
    ],
    dtype='<U1',
)
Change the data type of this array to float16. In response print this array to the console.
Expected output:
[[4. 3. 6. 2. 1.]
 [7. 2. 1. 2. 6.]]
"""
import numpy as np
arr = np.array(
    [
        ['4', '3', '6', '2', '1'],
        ['7', '2', '1', '2', '6'],
    ],
    dtype='<U1',
)
arr = arr.astype('float16')
print(arr)

[[4. 3. 6. 2. 1.]
 [7. 2. 1. 2. 6.]]

In [74]:
#Question 8
"""
Create any one-dimensional NumPy array of the shape (5,) and assign it to variable named arr.
"""
import numpy as np

arr = np.array([1,2,3,4,5])
print(arr)
print(arr.shape)

[1 2 3 4 5]
(5,)

***SECCIÓN 4***

In [80]:
#Question 1
"""
Using NumPy create the following 2-dimensional array:
array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 2, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 3, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 4, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 5, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 6, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 7, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 8, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 9]])

In response, print this array to the console.
Expected output:
[[0 0 0 0 0 0 0 0 0 0]
 [0 1 0 0 0 0 0 0 0 0]
 [0 0 2 0 0 0 0 0 0 0]
 [0 0 0 3 0 0 0 0 0 0]
 [0 0 0 0 4 0 0 0 0 0]
 [0 0 0 0 0 5 0 0 0 0]
 [0 0 0 0 0 0 6 0 0 0]
 [0 0 0 0 0 0 0 7 0 0]
 [0 0 0 0 0 0 0 0 8 0]
 [0 0 0 0 0 0 0 0 0 9]]
Tip: Use the np.diag() function.
"""
import numpy as np
arr = np.diag([0,1,2,3,4,5,6,7,8,9])
print(arr)

#Another way
import numpy as np
arr2 = np.diag(np.arange(10))
print("ANOTHER WAY \n", arr2)

[[0 0 0 0 0 0 0 0 0 0]
 [0 1 0 0 0 0 0 0 0 0]
 [0 0 2 0 0 0 0 0 0 0]
 [0 0 0 3 0 0 0 0 0 0]
 [0 0 0 0 4 0 0 0 0 0]
 [0 0 0 0 0 5 0 0 0 0]
 [0 0 0 0 0 0 6 0 0 0]
 [0 0 0 0 0 0 0 7 0 0]
 [0 0 0 0 0 0 0 0 8 0]
 [0 0 0 0 0 0 0 0 0 9]]
ANOTHER WAY
 [[0 0 0 0 0 0 0 0 0 0]
 [0 1 0 0 0 0 0 0 0 0]
 [0 0 2 0 0 0 0 0 0 0]
 [0 0 0 3 0 0 0 0 0 0]
 [0 0 0 0 4 0 0 0 0 0]
 [0 0 0 0 0 5 0 0 0 0]
 [0 0 0 0 0 0 6 0 0 0]
 [0 0 0 0 0 0 0 7 0 0]
 [0 0 0 0 0 0 0 0 8 0]
 [0 0 0 0 0 0 0 0 0 9]]

In [85]:
#Question 2
"""
The following NumPy array:
array([[1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1]])

transform into this array:
array([[0, 0, 0, 0, 0, 0],
       [0, 5, 5, 5, 5, 0],
       [0, 5, 5, 5, 5, 0],
       [0, 5, 5, 5, 5, 0],
       [0, 5, 5, 5, 5, 0],
       [0, 0, 0, 0, 0, 0]])

In response, print the transformed array to the console.

Expected output:
[[0 0 0 0 0 0]
 [0 5 5 5 5 0]
 [0 5 5 5 5 0]
 [0 5 5 5 5 0]
 [0 5 5 5 5 0]
 [0 0 0 0 0 0]]

Tip: Use the np.pad() function.
"""
import numpy as np

arr = np.ones(shape=(4, 4), dtype='int')
arr = np.pad(arr*5, pad_width = 1, mode='constant')
print(arr)

[[0 0 0 0 0 0]
 [0 5 5 5 5 0]
 [0 5 5 5 5 0]
 [0 5 5 5 5 0]
 [0 5 5 5 5 0]
 [0 0 0 0 0 0]]

In [109]:
#Question 3
"""
The following NumPy array:
array([[0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0]])
transform into the following:

array([[2, 0, 2, 0, 2, 0],
       [4, 0, 4, 0, 4, 0],
       [2, 0, 2, 0, 2, 0],
       [4, 0, 4, 0, 4, 0],
       [2, 0, 2, 0, 2, 0],
       [4, 0, 4, 0, 4, 0]])

In response, print the transformed array to the console.
Expected output:

[[2 0 2 0 2 0]
 [4 0 4 0 4 0]
 [2 0 2 0 2 0]
 [4 0 4 0 4 0]
 [2 0 2 0 2 0]
 [4 0 4 0 4 0]]

Tip: Use the slice operator and assign the appropriate values.
"""
import numpy as np

arr = np.zeros(shape=(6, 6), dtype='int')
arr[::2] = [2,0,2,0,2,0]
arr[1::4] = [4,0,4,0,4,0]
print(arr)
#ANOTHER WAY
arr2 = np.zeros(shape=(6, 6), dtype='int')
arr2[::2, ::2] = 2
arr[1::2, ::2] = 4
 
print("ANOTHER WAY \n",arr2)

[[2 0 2 0 2 0]
 [4 0 4 0 4 0]
 [2 0 2 0 2 0]
 [0 0 0 0 0 0]
 [2 0 2 0 2 0]
 [4 0 4 0 4 0]]
ANOTHER WAY
 [[2 0 2 0 2 0]
 [0 0 0 0 0 0]
 [2 0 2 0 2 0]
 [0 0 0 0 0 0]
 [2 0 2 0 2 0]
 [0 0 0 0 0 0]]

In [8]:
#Question 4
"""
The following array is given:
arr = np.array(
    [
        [4.99, 3.49, 9.99],
        [1.99, 9.99, 14.99],
        [14.99, 2.39, 7.29],
    ]
)
Using NumPy, create an array of the same shape and data type as the given array and fill it with zeros. In response, print this array to the console.
Expected output:
[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]
Tip: Use the np.zeros_like() function.
"""
import numpy as np
arr = np.array(
    [
        [4.99, 3.49, 9.99],
        [1.99, 9.99, 14.99],
        [14.99, 2.39, 7.29],
    ]
)

arr = np.zeros_like(arr, shape=(3,3))
print(arr)

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

In [9]:
#Question #5
"""
The following array is given:
A = np.array(
    [
        [4.99, 3.49, 9.99],
        [1.99, 9.99, 14.99],
        [14.99, 2.39, 7.29],
    ]
)
Using NumPy, create an array of the same shape and data type as the given array and fill it with a constant value 9.99. In response, print this array to the console.
Expected output:
[[9.99 9.99 9.99]
 [9.99 9.99 9.99]
 [9.99 9.99 9.99]]
Tip: Use the np.full_like() function.
"""
import numpy as np
arr = np.array(
    [
        [4.99, 3.49, 9.99],
        [1.99, 9.99, 14.99],
        [14.99, 2.39, 7.29],
    ]
)

arr = np.full_like(arr,fill_value = 9.99)
print(arr)

[[9.99 9.99 9.99]
 [9.99 9.99 9.99]
 [9.99 9.99 9.99]]

In [11]:
#Question 6
"""
Using NumPy create the following two-dimensional array - lower triangular matrix:
array([[1., 0., 0., 0., 0., 0.],
       [1., 1., 0., 0., 0., 0.],
       [1., 1., 1., 0., 0., 0.],
       [1., 1., 1., 1., 0., 0.],
       [1., 1., 1., 1., 1., 0.],
       [1., 1., 1., 1., 1., 1.]])
In response, print this array to the console.
Expected output:
[[1. 0. 0. 0. 0. 0.]
 [1. 1. 0. 0. 0. 0.]
 [1. 1. 1. 0. 0. 0.]
 [1. 1. 1. 1. 0. 0.]
 [1. 1. 1. 1. 1. 0.]
 [1. 1. 1. 1. 1. 1.]]
Tip: Use the np.tri() function.
"""
import numpy as np

arr = np.tri(6,6)
print(arr)

[[1. 0. 0. 0. 0. 0.]
 [1. 1. 0. 0. 0. 0.]
 [1. 1. 1. 0. 0. 0.]
 [1. 1. 1. 1. 0. 0.]
 [1. 1. 1. 1. 1. 0.]
 [1. 1. 1. 1. 1. 1.]]

In [12]:
#Another way of question number 5
import numpy as np

arr = np.tri(N=6)
print(arr)

[[1. 0. 0. 0. 0. 0.]
 [1. 1. 0. 0. 0. 0.]
 [1. 1. 1. 0. 0. 0.]
 [1. 1. 1. 1. 0. 0.]
 [1. 1. 1. 1. 1. 0.]
 [1. 1. 1. 1. 1. 1.]]

In [14]:
#Question 6
"""
Suppose you have the following NumPy array:

arr = np.array(
    [
        [False, True, True, False, True],
        [False, False, True, True, True],
    ]
)

Change the data type of this array to int8. In response print this array to the console.

Expected output:

[[0 1 1 0 1]
 [0 0 1 1 1]]
"""
import numpy as np
arr = np.array(
    [
        [False, True, True, False, True],
         [False, False, True, True, True],
    ]
)

arr =  arr.astype('int8')
print(arr)

[[0 1 1 0 1]
 [0 0 1 1 1]]

In [24]:
#Question 8
"""
Create any two-dimensional NumPy array of the shape (2,6) and int32 
type and assign it to variable named arr.
"""
import numpy as np

arr = np.array([[1,2,3,4,5,6],[7,8,9,10,11,12]])
print(arr.astype('int32'))

#Another way
arr2 = np.array([[1,2,3,4,5,6],[7,8,9,10,11,12]], dtype='int32')
print(arr2)

[[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]]
[[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]]

***SECCIÓN 5***

In [25]:
#Question 1
"""
Exercise 1
Suppose you have the following list:
rates = [
    [1.97, 1.04, 1.35, 2.17, 2.29, 4.38],
    [1.34, 2.04, 1.37, 2.09, 1.29, 3.38],
]
Convert this list into a NumPy array and print it ot the console.
Expected output:

[[1.97 1.04 1.35 2.17 2.29 4.38]
 [1.34 2.04 1.37 2.09 1.29 3.38]]
"""

import numpy as np
rates = [
    [1.97, 1.04, 1.35, 2.17, 2.29, 4.38],
    [1.34, 2.04, 1.37, 2.09, 1.29, 3.38],
]

arr = np.array((rates))
print(arr)
#Antoher way
#arr = np.asarray(rates)
#print(arr)

[[1.97 1.04 1.35 2.17 2.29 4.38]
 [1.34 2.04 1.37 2.09 1.29 3.38]]

In [57]:
#Question 2
"""
Suppose you have the following string:
title = '30 Days of Python Code - Numpy Challange'
Convert this string to the following NumPy array:
array([['30', 'Days', 'of', 'Python'],
       ['Code', '-', 'Numpy', 'Challange']], dtype='<U9')
In response, print this array to the console.
Expected output:
[['30' 'Days' 'of' 'Python']
 ['Code' '-' 'Numpy' 'Challange'
"""
import numpy as np
title = '30 Days of Python Code - Numpy Challange'
arr = str.split(title, ' ')

arr = np.asarray(arr).reshape(2,-1)
print(arr)

[['30' 'Days' 'of' 'Python']
 ['Code' '-' 'Numpy' 'Challange']]

In [69]:
#Question 3
"""
Create the following array using only functions implemented in NumPy:
array([[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
       [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
       [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
       [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
       [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]])
In response, print this array to the console.
Expected output:
[[0 1 2 3 4 5 6 7 8 9]
 [0 1 2 3 4 5 6 7 8 9]
 [0 1 2 3 4 5 6 7 8 9]
 [0 1 2 3 4 5 6 7 8 9]
 [0 1 2 3 4 5 6 7 8 9]]
Tip: Use the np.tile() function.
"""
import numpy as np
from numpy import random

arr = np.array([0,1,2,3,4,5,6,7,8,9])
arr = np.tile(A=arr ,reps = (5,1))
print(arr)

#Another way
arr2= np.tile(np.arange(10), (5,1))
print(arr2)

[[0 1 2 3 4 5 6 7 8 9]
 [0 1 2 3 4 5 6 7 8 9]
 [0 1 2 3 4 5 6 7 8 9]
 [0 1 2 3 4 5 6 7 8 9]
 [0 1 2 3 4 5 6 7 8 9]]
[[0 1 2 3 4 5 6 7 8 9]
 [0 1 2 3 4 5 6 7 8 9]
 [0 1 2 3 4 5 6 7 8 9]
 [0 1 2 3 4 5 6 7 8 9]
 [0 1 2 3 4 5 6 7 8 9]]

In [71]:
#Question 4
"""
Suppose you have the following 3-dimensional 2x3x6 NumPy array:
arr = np.array(
    [
        [[3, 2, 4, 0, 1, 3], [5, 0, 4, 4, 4, 1], [3, 2, 4, 1, 1, 4]],
        [[5, 5, 4, 5, 1, 3], [2, 2, 5, 2, 4, 0], [5, 1, 3, 4, 2, 3]],
    ]
)
Construct an array of the same shape filled with the number 1 and print it to the console.
Expected output:
[[[1 1 1 1 1 1]
  [1 1 1 1 1 1]
  [1 1 1 1 1 1]]
 
 [[1 1 1 1 1 1]
  [1 1 1 1 1 1]
  [1 1 1 1 1 1]]]
"""
import numpy as np


arr = np.array(
    [
        [[3, 2, 4, 0, 1, 3], [5, 0, 4, 4, 4, 1], [3, 2, 4, 1, 1, 4]],
        [[5, 5, 4, 5, 1, 3], [2, 2, 5, 2, 4, 0], [5, 1, 3, 4, 2, 3]],
    ]
)
arr = np.ones_like(arr)
print(arr)

[[[1 1 1 1 1 1]
  [1 1 1 1 1 1]
  [1 1 1 1 1 1]]

 [[1 1 1 1 1 1]
  [1 1 1 1 1 1]
  [1 1 1 1 1 1]]]

In [91]:
#Question 5
"""
Create the following array using only functions implemented in NumPy:
array([[0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. ],
       [0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ]])
In response, print this array to the console.
Expected output:
[[0.  0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1. ]
 [0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0. ]
 [0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0. ]
 [0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0. ]
 [0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0. ]]
Tip: Please note that the first row contains evenly spaced numbers over the interval [0, 1].
"""

import numpy as np

arr = np.zeros((5,11))
arr[0] = np.arange(0,1.1,0.1)
print(arr)

#Another way
arr2 = np.concatenate(
    (
        np.linspace(0, 1, 11).reshape(1, -1),
        np.zeros((4, 11)),
    ),
    axis=0,
)
print(arr2)

[[0.  0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1. ]
 [0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0. ]
 [0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0. ]
 [0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0. ]
 [0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0. ]]

In [92]:
#Question 6
"""
Suppose you have the following NumPy arrays:
x = np.linspace(0, 1, 11)
y = np.linspace(0, 1, 11)
that look like this:
array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. ])
Return the coordinate arrays (meshgrid) from these vectors and assign to the variables xx and yy.
"""

import numpy as np

x = np.linspace(0, 1, 11)
y = np.linspace(0, 1, 11)

xx,yy = np.meshgrid(x,y)
print(xx)
print(yy)

[[0.  0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1. ]
 [0.  0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1. ]
 [0.  0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1. ]
 [0.  0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1. ]
 [0.  0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1. ]
 [0.  0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1. ]
 [0.  0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1. ]
 [0.  0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1. ]
 [0.  0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1. ]
 [0.  0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1. ]
 [0.  0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1. ]]
[[0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0. ]
 [0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1 0.1]
 [0.2 0.2 0.2 0.2 0.2 0.2 0.2 0.2 0.2 0.2 0.2]
 [0.3 0.3 0.3 0.3 0.3 0.3 0.3 0.3 0.3 0.3 0.3]
 [0.4 0.4 0.4 0.4 0.4 0.4 0.4 0.4 0.4 0.4 0.4]
 [0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5]
 [0.6 0.6 0.6 0.6 0.6 0.6 0.6 0.6 0.6 0.6 0.6]
 [0.7 0.7 0.7 0.7 0.7 0.7 0.7 0.7 0.7 0.7 0.7]
 [0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8 0.8]
 [0.9 0.9 0.9 0.9 0.9 0.9 0.9 0.9 0.9 0.9 0.9]
 [1.  1.  1.  1.  1.  1.  1.  1.  1.  1.  1. ]]

In [109]:
#Question 7
"""
Suppose you have the following string of data:
string_data = '4 2 6 2 7 10 6 2 14'
Create a NumPy array with int16 data type from this string and print it to the console as shown below.
"""
import numpy as np

string_data = '4 2 6 2 7 10 6 2 14'
arr = np.fromstring(string_data,  dtype='int16', sep=' ')
print(arr)

#ANOTHER WAY
string_data = '4 2 6 2 7 10 6 2 14'
arr2 = np.array([int(num) for num in string_data.split()], dtype='int16')
 
print(arr2)

[ 4  2  6  2  7 10  6  2 14]
[ 4  2  6  2  7 10  6  2 14]

In [114]:
#Question 8
"""
Create any 3-dimensional NumPy array of the shape (2,3,4) 
and float32 data type and assign it to variable named arr.
"""
import numpy as np
from numpy import random

arr = np.random.randint(10, size = (2,3,4))
arr = arr.astype('float32')
print(arr)
print(arr.ndim, arr.dtype)

[[[2. 4. 6. 4.]
  [0. 9. 0. 1.]
  [4. 2. 4. 5.]]

 [[2. 1. 9. 7.]
  [2. 6. 1. 4.]
  [1. 3. 3. 0.]]]
3 float32

***SECCIÓN 6***

In [119]:
#Question 1
import numpy as np

"""
Print the shape of these arrays
"""
A = np.array(
    [
        [False, True, True, False, True],
        [False, False, True, True, True],
        [True, False, False, True, False],
    ]
)
B = np.array(
    [
        [
            [False, True, True, False, True],
            [False, False, True, True, True],
            [True, False, False, True, False],
        ]
    ]
)
C = np.array(
    [
        [[False, True, True, False, True]],
        [[False, False, True, True, True]],
        [[True, False, False, True, False]],
    ]
)

print(A.shape)
print(B.shape)
print(C.shape)

(3, 5)
(1, 3, 5)
(3, 1, 5)

In [120]:
#Question 2
"""
According to the previous arrays, print their dimentions
"""
A = np.array(
    [
        [False, True, True, False, True],
        [False, False, True, True, True],
        [True, False, False, True, False],
    ]
)
B = np.array(
    [
        [
            [False, True, True, False, True],
            [False, False, True, True, True],
            [True, False, False, True, False],
        ]
    ]
)
C = np.array(
    [
        [[False, True, True, False, True]],
        [[False, False, True, True, True]],
        [[True, False, False, True, False]],
    ]
)
D = np.array([True, False])
print(A.ndim)
print(B.ndim)
print(C.ndim)
print(D.ndim)

2
3
3
1

In [129]:
#Question 3
"""
Suppose you have the following NumPy array:

Print the number of elements of this array to the console.
"""
import numpy as np


arr = np.array(
    [
        [6, 7, 7, 3, 9],
        [7, 4, 8, 4, 0],
        [1, 5, 3, 2, 4],
        [7, 8, 9, 8, 2],
    ]
)

print(arr.size)

20

In [139]:
#Question 4
"""
Suppose you have the following NumPy arrays:
A1 = np.array([3, 5, 1])
A2 = np.array([3, 5, 1], dtype=np.int8)
A3 = np.array([3, 5, 1], dtype=np.int16)
A4 = np.array([3, 5, 1], dtype='float')
For each of these arrays, print the length of one array element in bytes to the console (in the same order as they are given).
Expected output:
8
1
2
8
"""
import numpy as np

A1 = np.array([3, 5, 1])
A2 = np.array([3, 5, 1], dtype=np.int8)
A3 = np.array([3, 5, 1], dtype=np.int16)
A4 = np.array([3, 5, 1], dtype='float')

print(A1.itemsize)
print(A2.itemsize)
print(A3.itemsize)
print(A4.itemsize)

4
1
2
8

In [143]:
#Question 5
"""
Suppose you have the following NumPy arrays:
A1 = np.array([3, 5, 1])
A2 = np.array([3, 5, 1], dtype=np.int8)
A3 = np.array([3, 5, 1], dtype=np.int16)
A4 = np.array([3, 5, 1], dtype='float')
For each of these arrays, print the total bytes consumed by the elements of the array to the console (in the same order as they are given)
"""
import numpy as np

A1 = np.array([3, 5, 1])
A2 = np.array([3, 5, 1], dtype=np.int8)
A3 = np.array([3, 5, 1], dtype=np.int16)
A4 = np.array([3, 5, 1], dtype='float')

print(A1.nbytes)
print(A2.nbytes)
print(A3.nbytes)
print(A4.nbytes)

12
3
6
24

In [149]:
#Question 6
"""
Suppose you have the following NumPy arrays:
A1 = np.array([3, 5, 1, 2, 5, 4])
A2 = np.array([3, 5, 1, 4, 7, 3, 8, 24], dtype=np.int8)
A3 = np.array([3, 5, 1, 6, 2], dtype=np.int16)

Write a program that selects the name of an array that consumes the lowest number 
of bytes by its elements. In response, print the name of this array to the console.
"""
import numpy as np
 
 
A1 = np.array([3, 5, 1, 2, 5, 4])
A2 = np.array([3, 5, 1, 4, 7, 3, 8, 24], dtype=np.int8)
A3 = np.array([3, 5, 1, 6, 2], dtype=np.int16)
 
total = {'A1': A1.nbytes, 'A2': A2.nbytes, 'A3': A3.nbytes}
 
print(min(total, key=total.get))

[4, 1, 2]
4
1
2

In [186]:
#Question 7
"""
Suppose you need to store the following NumPy array in your application:
arr = np.array(
    [
        [3, 4, 0, 5, 6],
        [9, 7, 4, 0, 6],
        [1, 9, 6, 7, 9],
        [7, 6, 9, 8, 8],
        [2, 2, 1, 5, 2],
        [9, 7, 5, 5, 9],
        [6, 9, 9, 5, 2],
        [9, 6, 1, 8, 1],
    ],
    dtype='float64',
)

Check the total number of bytes consumed by this array in the following scenarios:
-with the same data type as given
-with float32 data type
-with int16 data type
In response print these values to the console as shown below.
"""
import numpy as np

np.random.seed(20)
arr = np.array(
    [
        [3, 4, 0, 5, 6],
        [9, 7, 4, 0, 6],
        [1, 9, 6, 7, 9],
        [7, 6, 9, 8, 8],
        [2, 2, 1, 5, 2],
        [9, 7, 5, 5, 9],
        [6, 9, 9, 5, 2],
        [9, 6, 1, 8, 1],
    ],
    dtype='float64',
)

A1 = arr.nbytes
A2 = np.array(arr, dtype=np.float32)
A3 = np.array(arr, dtype=np.int16)
print('float64:',A1)
print('float32:',A2.nbytes)
print('int16:',A3.nbytes)

#ANOTHER WAY
print('----Another Way----')
print('float64:', arr.nbytes)
print('float32:', arr.astype('float32').nbytes)
print('int16:', arr.astype('int16').nbytes)

float64: 320
float32: 160
int16: 80
----Another Way----
float64: 320
float32: 160
int16: 80

In [189]:
#Question 8
import numpy as np


arr = np.zeros((3, 8, 4), dtype='int')

arr = arr.reshape(24,4)
print(arr)

print('---Another way---')
arr2 = np.zeros((3, 8, 4), dtype='int')
arr2 = arr.reshape(-1, arr2.shape[2])
print(arr2)

[[0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]]
---Another way---
[[0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]]

***SECCIÓN 7***

In [7]:
#Exercise 1
"""
The following array is given:
arr = np.array([[4, 2, 1], [6, 4, 2]])
Expand this array by one dimension (add a new dimension at the beginning). 
Expected shape of the output array: (1, 2, 3).  In response, print this array to the console.
"""
import numpy as np

arr = np.array([[4, 2, 1], [6, 4, 2]])
arr = np.expand_dims(arr, axis = 0)
print(arr)

[[[4 2 1]
  [6 4 2]]]

In [12]:
#Exercise 2
"""
The following array is given:
image = np.random.randint(
    low=0,
    high=256,
    size=(200, 300, 3),
    dtype=np.uint8,
)
Extend this array by one dimension (add a new dimension at the beginning) and assign to image_extended variable. 
The expected shape of this array is (1, 200, 300, 3).
"""
import numpy as np


image = np.random.randint(
    low=0,
    high=256,
    size=(200, 300, 3),
    dtype=np.uint8,
)
image_extended = np.expand_dims(image, axis=0)
print(image_extended)

[[[[205 200  64]
   [ 54 108  62]
   [145 240 168]
   ...
   [152 228  39]
   [253  92  68]
   [129  11  65]]

  [[231 248 224]
   [ 44 251 120]
   [ 78  31 146]
   ...
   [160 193  70]
   [ 86 121  34]
   [110 155 147]]

  [[229 236 155]
   [ 19  62 123]
   [ 52 229  23]
   ...
   [ 63 155 122]
   [194 227  21]
   [  2  88 236]]

  ...

  [[191  18  40]
   [ 77  76 199]
   [123 174  51]
   ...
   [117   8   2]
   [116  44 247]
   [ 47  24  10]]

  [[196 247  88]
   [214   1  85]
   [ 61 154 133]
   ...
   [161 143  92]
   [120  17 238]
   [118 201 252]]

  [[124  83  11]
   [  3 190  93]
   [ 32  85  47]
   ...
   [147 149 199]
   [ 28  71 138]
   [247 184 220]]]]

In [16]:
#Exercise 3
"""
Two randomly generated arrays are given:
image1 = np.random.randint(
    low=0,
    high=256,
    size=(200, 300, 3),
    dtype=np.uint8,
)
image2 = np.random.randint(
    low=0,
    high=256,
    size=(200, 300, 3),
    dtype=np.uint8,
)
Expand each of these arrays by adding one dimension at the beginning and then combine these arrays into one called images. The expected shape of images array is (2, 200, 300, 3).
"""
import numpy as np

image1 = np.random.randint(
    low=0,
    high=256,
    size=(200, 300, 3),
    dtype=np.uint8,
)
image2 = np.random.randint(
    low=0,
    high=256,
    size=(200, 300, 3),
    dtype=np.uint8,
)

image1 = np.expand_dims(image1, axis = 0)
image2 = np.expand_dims(image2, axis = 0)
images = np.concatenate((image1, image2))
print('Another Way')
images = np.append(image1, image2, axis = 0)

Another Way

In [19]:
#Exercise 4
"""
The following array is given:
arr = np.array([[[1, 2, 3], [6, 3, 2]]])
Shape of this array is (1, 2, 3). Remove the unnecessary first dimension and extract (2, 3) 
array and print it to the console as shown below.
"""
import numpy as np
arr = np.array([[[1, 2, 3], [6, 3, 2]]])
arr = np.squeeze(arr) #Remove the first dimension of an array
print(arr)

[[1 2 3]
 [6 3 2]]

In [21]:
#Exercise 5
"""
The following 2D array with the shape (4, 1) is given:
A = np.array([[0.4], [0.9], [0.5], [0.6]])
Convert this array to a one-dimensional array and print it to the console
"""

import numpy as np


arr = np.array([[0.4], [0.9], [0.5], [0.6]])
arr = np.squeeze(arr)
print(arr)

[0.4 0.9 0.5 0.6]

In [23]:
#Exercise 6
"""
Present the following 2-dimensional array as a flattened 1-dimensional 
array and print the result to the console.
arr = np.array(
    [
        [4.99, 3.49, 9.99],
        [1.99, 9.99, 14.99],
        [14.99, 2.39, 7.29],
    ]
)
"""
import numpy as np
arr = np.array(
    [
        [4.99, 3.49, 9.99],
        [1.99, 9.99, 14.99],
        [14.99, 2.39, 7.29],
    ]
)
arr = np.ravel(arr) #Flatten an array into 1D dimensional array
print(arr)

[ 4.99  3.49  9.99  1.99  9.99 14.99 14.99  2.39  7.29]

In [29]:
#Exercise 7
"""
Suppose you have the following 1-dimensional NumPy array:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
Perform the following operations:
-convert this array into the following 2-dimensional NumPy array and assign to the variable named row:
array([[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]])
-convert this array into the following 2-dimensional NumPy array and assign to the variable named column:
array([[0],
       [1],
       [2],
       [3],
       [4],
       [5],
       [6],
       [7],
       [8],
       [9]])

In response. print these arrays to the console as shown below.
"""
import numpy as np


arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
row = np.expand_dims(arr, axis=0)
column = np.expand_dims(arr, axis=1)
print(row)
print(column)

[[0 1 2 3 4 5 6 7 8 9]]
[[0]
 [1]
 [2]
 [3]
 [4]
 [5]
 [6]
 [7]
 [8]
 [9]]

In [30]:
#Exercise 7 - Another way
import numpy as np
 
 
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
 
row = arr[np.newaxis, :] #Another fuction to add axis and dimension
column = arr[:, np.newaxis]
 
print(row)
print(column)

[[0 1 2 3 4 5 6 7 8 9]]
[[0]
 [1]
 [2]
 [3]
 [4]
 [5]
 [6]
 [7]
 [8]
 [9]]

In [34]:
#Exercise 8
"""
Suppose you have the following NumPy array:
array([[False, False, False, False],
       [False, False, False, False],
       [False, False, False, False],
       [False, False, False, False],
       [False, False, False, False],
       [False, False, False, False],
       [False, False, False, False],
       [False, False, False, False],
       [False, False, False, False],
       [False, False, False, False]])
Convert this 2-dimensional array into a 3-dimensional 5x2x4 array and print it to the console.
"""
import numpy as np

arr = np.full((10, 4), fill_value=False)
arr = np.expand_dims(arr, axis = 0).reshape(5,2,4)
print(arr)

[[[False False False False]
  [False False False False]]

 [[False False False False]
  [False False False False]]

 [[False False False False]
  [False False False False]]

 [[False False False False]
  [False False False False]]

 [[False False False False]
  [False False False False]]]

***SECCION 8 - INDEXING AND SLICING***

In [75]:
#Exercise 1
#From the following NumPy array:
import numpy as np


playway = np.array(
    [
        [305.0, 324.5, 283.5, 310.0, 64081.0],
        [325.5, 340.5, 320.0, 340.5, 55496.0],
        [324.0, 340.5, 315.0, 330.0, 36152.0],
        [344.0, 344.0, 310.0, 315.0, 35992.0],
        [306.5, 307.0, 291.0, 305.0, 32539.0],
        [274.0, 291.0, 250.0, 258.0, 79402.0],
        [278.0, 284.5, 256.0, 264.0, 35700.0],
        [270.0, 270.0, 238.5, 245.0, 60445.0],
        [218.0, 228.0, 196.0, 197.0, 94031.0],
        [210.0, 229.0, 198.8, 211.0, 100412.0],
        [205.0, 248.0, 197.8, 240.5, 50659.0],
        [245.0, 269.0, 232.5, 264.0, 99480.0],
        [264.0, 280.0, 251.0, 270.0, 70136.0],
        [267.0, 280.0, 267.0, 279.5, 30732.0],
        [297.5, 307.0, 280.0, 280.5, 43426.0],
        [274.0, 289.0, 258.0, 285.0, 37098.0],
        [305.0, 309.0, 296.5, 309.0, 31939.0],
        [313.0, 330.0, 295.0, 304.0, 46724.0],
        [300.0, 309.0, 295.5, 300.0, 27213.0],
        [302.0, 306.5, 290.0, 296.0, 13466.0],
        [299.0, 300.0, 287.0, 300.0, 10316.0],
        [302.5, 309.0, 302.0, 306.5, 15698.0],
    ]
)
#extract last three columns and print it to the console.
playway = playway[0:,2:] #Another way :  [0:,-3:]
print(playway)

[[   283.5    310.   64081. ]
 [   320.     340.5  55496. ]
 [   315.     330.   36152. ]
 [   310.     315.   35992. ]
 [   291.     305.   32539. ]
 [   250.     258.   79402. ]
 [   256.     264.   35700. ]
 [   238.5    245.   60445. ]
 [   196.     197.   94031. ]
 [   198.8    211.  100412. ]
 [   197.8    240.5  50659. ]
 [   232.5    264.   99480. ]
 [   251.     270.   70136. ]
 [   267.     279.5  30732. ]
 [   280.     280.5  43426. ]
 [   258.     285.   37098. ]
 [   296.5    309.   31939. ]
 [   295.     304.   46724. ]
 [   295.5    300.   27213. ]
 [   290.     296.   13466. ]
 [   287.     300.   10316. ]
 [   302.     306.5  15698. ]]

In [121]:
#Exercise 2
#Exercise 1
#From the following NumPy array:
import numpy as np


playway = np.array(
    [
        [305.0, 324.5, 283.5, 310.0, 64081.0],
        [325.5, 340.5, 320.0, 340.5, 55496.0],
        [324.0, 340.5, 315.0, 330.0, 36152.0],
        [344.0, 344.0, 310.0, 315.0, 35992.0],
        [306.5, 307.0, 291.0, 305.0, 32539.0],
        [274.0, 291.0, 250.0, 258.0, 79402.0],
        [278.0, 284.5, 256.0, 264.0, 35700.0],
        [270.0, 270.0, 238.5, 245.0, 60445.0],
        [218.0, 228.0, 196.0, 197.0, 94031.0],
        [210.0, 229.0, 198.8, 211.0, 100412.0],
        [205.0, 248.0, 197.8, 240.5, 50659.0],
        [245.0, 269.0, 232.5, 264.0, 99480.0],
        [264.0, 280.0, 251.0, 270.0, 70136.0],
        [267.0, 280.0, 267.0, 279.5, 30732.0],
        [297.5, 307.0, 280.0, 280.5, 43426.0],
        [274.0, 289.0, 258.0, 285.0, 37098.0],
        [305.0, 309.0, 296.5, 309.0, 31939.0],
        [313.0, 330.0, 295.0, 304.0, 46724.0],
        [300.0, 309.0, 295.5, 300.0, 27213.0],
        [302.0, 306.5, 290.0, 296.0, 13466.0],
        [299.0, 300.0, 287.0, 300.0, 10316.0],
        [302.5, 309.0, 302.0, 306.5, 15698.0],
    ]
)
#extract every second row and print it to the console.
playway = playway[0::2]
#print(playway[::2, :]) #Another way
print(playway)

[[  305.    324.5   283.5   310.  64081. ]
 [  324.    340.5   315.    330.  36152. ]
 [  306.5   307.    291.    305.  32539. ]
 [  278.    284.5   256.    264.  35700. ]
 [  218.    228.    196.    197.  94031. ]
 [  205.    248.    197.8   240.5 50659. ]
 [  264.    280.    251.    270.  70136. ]
 [  297.5   307.    280.    280.5 43426. ]
 [  305.    309.    296.5   309.  31939. ]
 [  300.    309.    295.5   300.  27213. ]
 [  299.    300.    287.    300.  10316. ]]

In [149]:
#Exercise 3
#From the following NumPy array:
import numpy as np

playway = np.array(
    [
        [305.0, 324.5, 283.5, 310.0, 64081.0],
        [325.5, 340.5, 320.0, 340.5, 55496.0],
        [324.0, 340.5, 315.0, 330.0, 36152.0],
        [344.0, 344.0, 310.0, 315.0, 35992.0],
        [306.5, 307.0, 291.0, 305.0, 32539.0],
        [274.0, 291.0, 250.0, 258.0, 79402.0],
        [278.0, 284.5, 256.0, 264.0, 35700.0],
        [270.0, 270.0, 238.5, 245.0, 60445.0],
        [218.0, 228.0, 196.0, 197.0, 94031.0],
        [210.0, 229.0, 198.8, 211.0, 100412.0],
        [205.0, 248.0, 197.8, 240.5, 50659.0],
    ]
)
#exclude the first row and last column. In response, print the rest of the array to the console.
playway = playway[1:,0:4]
print(playway)

[[325.5 340.5 320.  340.5]
 [324.  340.5 315.  330. ]
 [344.  344.  310.  315. ]
 [306.5 307.  291.  305. ]
 [274.  291.  250.  258. ]
 [278.  284.5 256.  264. ]
 [270.  270.  238.5 245. ]
 [218.  228.  196.  197. ]
 [210.  229.  198.8 211. ]
 [205.  248.  197.8 240.5]]

In [155]:
#Another way
playway = np.array(
    [
        [305.0, 324.5, 283.5, 310.0, 64081.0],
        [325.5, 340.5, 320.0, 340.5, 55496.0],
        [324.0, 340.5, 315.0, 330.0, 36152.0],
        [344.0, 344.0, 310.0, 315.0, 35992.0],
        [306.5, 307.0, 291.0, 305.0, 32539.0],
        [274.0, 291.0, 250.0, 258.0, 79402.0],
        [278.0, 284.5, 256.0, 264.0, 35700.0],
        [270.0, 270.0, 238.5, 245.0, 60445.0],
        [218.0, 228.0, 196.0, 197.0, 94031.0],
        [210.0, 229.0, 198.8, 211.0, 100412.0],
        [205.0, 248.0, 197.8, 240.5, 50659.0],
    ]
)

playway = playway[1:, :4]
print(playway)

[[325.5 340.5 320.  340.5]
 [324.  340.5 315.  330. ]
 [344.  344.  310.  315. ]
 [306.5 307.  291.  305. ]
 [274.  291.  250.  258. ]
 [278.  284.5 256.  264. ]
 [270.  270.  238.5 245. ]
 [218.  228.  196.  197. ]
 [210.  229.  198.8 211. ]
 [205.  248.  197.8 240.5]]

In [205]:
#Exercise 4
"""
Suppose you have the following 2x3x4 NumPy array:
arr = np.array(
    [
        [
            [0.0, 2.0, 0.5, 1.0],
            [0.0, 2.0, 0.0, 3.0],
            [0.0, 4.0, 0.0, 0.0],
        ],
        [
            [0.0, 0.5, 0.0, 0.2],
            [0.0, 0.4, 0.0, 5.0],
            [0.0, 0.0, 1.0, 0.0],
        ],
    ]
)
Using slicing, from the given 3D array extract the middle rows of interior arrays - 
as a 2D 2x4 array - and print them to the console.
"""
import numpy as np
arr = np.array(
    [
        [
            [0.0, 2.0, 0.5, 1.0],
            [0.0, 2.0, 0.0, 3.0],
            [0.0, 4.0, 0.0, 0.0],
        ],
        [
            [0.0, 0.5, 0.0, 0.2],
            [0.0, 0.4, 0.0, 5.0],
            [0.0, 0.0, 1.0, 0.0],
        ],
    ]
)

arr = arr[0:,1]
print(arr)
#Another way :print(arr[:, 1, :])

[[0.  2.  0.  3. ]
 [0.  0.4 0.  5. ]]

In [207]:
#Exercise 5
import numpy as np
"""
Using slicing, from the given 3D array extract the middle rows of interior arrays -
as a 3D 2x1x4 array - and print them to the console.
"""
arr = np.array(
    [
        [
            [0.0, 2.0, 0.5, 1.0],
            [0.0, 2.0, 0.0, 3.0],
            [0.0, 4.0, 0.0, 0.0],
        ],
        [
            [0.0, 0.5, 0.0, 0.2],
            [0.0, 0.4, 0.0, 5.0],
            [0.0, 0.0, 1.0, 0.0],
        ],
    ]
)
arr = arr[:,1].reshape(2,1,4)
print(arr)
#Another way print(arr[:, [1], :])

[[[0.  2.  0.  3. ]]

 [[0.  0.4 0.  5. ]]]

In [214]:
#Exercise 6
#Suppose you have the following 3x8x4 NumPy array:
import numpy as np

arr = np.array(
    [
        [1, 0, 5, 0],
        [6, 6, 6, 6],
        [0, 1, 4, 1],
        [5, 6, 3, 5],
        [2, 3, 0, 6],
        [0, 1, 4, 5],
        [0, 4, 5, 3],
        [6, 2, 1, 1],
        [0, 5, 5, 0],
        [4, 2, 6, 6],
    ]
)
#Find all coordinates where the following array is 
#0 and print to the console as shown below (note that the answer is a list of tuples).

arr = np.where(arr==0) #Find the scalar with the condition 
arr = list(zip(arr[0],arr[1])) #zip = takes list, tuples or strings and combine in an tuples iterator
print(arr)

[(0, 1), (0, 3), (2, 0), (4, 2), (5, 0), (6, 0), (8, 0), (8, 3)]

***SECCION 9- ARRAYS MANIPULATION***

In [283]:
#Exercise 1
"""
The following NumPy array is given:
array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])
Using the slice operator, transform this array into the following:
array([[11, 10,  9,  8],
       [ 7,  6,  5,  4],
       [ 3,  2,  1,  0]])
In response, print the transformed array to the console.
"""
import numpy as np

arr = np.arange(12, dtype='int').reshape(-1, 4)
arr = arr[::-1,::-1]
print(arr)

[[11 10  9  8]
 [ 7  6  5  4]
 [ 3  2  1  0]]

In [295]:
#Exercise 2
"""
Random seed is set to 42. The following array is given:
image = np.random.randint(
    low=0,
    high=256,
    size=(10, 10, 3),
    dtype=np.uint8,
)
Extract the first channel (index 0) of this image array and print it to the console.
"""
import numpy as np
np.random.seed(42)
image = np.random.randint(
    low=0,
    high=256,
    size=(10, 10, 3),
    dtype=np.uint8,
)

image = image[:,:,0] #Acceding to channels of an 3D array
print(image)

[[102  95 234   3  14  46  99 212 188 153]
 [203 214 121 114 239 244  74  14 145 184]
 [116  85 226 235 151 181 160   6  52  14]
 [ 76 233 235 213  68 219 129   0 140 147]
 [ 20  46  19 209  57 156  86  24 235 110]
 [231 254 218 134 162  73 169  35 242 253]
 [187 249 201 231 189 116  49  74 189 158]
 [ 29   7  54 131 181 123 248 119 228  13]
 [ 50 155  40 120  72 115 167  85 131 242]
 [ 52 169  13 144 243 167   8  77  22  10]]

In [324]:
#Exercise 3
"""
The following array is given:
image = np.random.randint(
    low=0,
    high=256,
    size=(10, 10, 3),
    dtype=np.uint8,
)
Extract any array of shape (5, 5, 3) from this array and assign to the result variable.
"""
import numpy as np

image = np.random.randint(
    low=0,
    high=256,
    size=(10, 10, 3),
    dtype=np.uint8,
)
image = image[5:,:5]
print(image.shape)
#another way result = image[:5, :5, :]

(5, 5, 3)

In [348]:
#Exercise 4
"""
The following array is given:
arr = np.array(
    [
        ['id', 'price'],
        ['001', '14.99'],
        ['002', '4.99'],
        ['003', '7.99'],
        ['004', '2.49'],
        ['005', '1.49'],
    ]
)
Starting with the second row of this array, randomly shuffle the rows and print result to the console.
"""
import numpy as np
np.random.seed(42)
arr = np.array(
    [
        ['id', 'price'],
        ['001', '14.99'],
        ['002', '4.99'],
        ['003', '7.99'],
        ['004', '2.49'],
        ['005', '1.49'],
    ]
)
np.random.shuffle(arr[1::])
print(arr)

[['id' 'price']
 ['002' '4.99']
 ['005' '1.49']
 ['003' '7.99']
 ['001' '14.99']
 ['004' '2.49']]

In [350]:
#Exercise 5
"""
The following NumPy array is given:
arr = np.random.randn(10, 8)
Round the values of this array to three decimal places and print result to the console.
"""
import numpy as np

np.random.seed(42)
arr = np.random.randn(10, 8)

arr = np.round(arr,3)
print(arr)

[[ 0.497 -0.138  0.648  1.523 -0.234 -0.234  1.579  0.767]
 [-0.469  0.543 -0.463 -0.466  0.242 -1.913 -1.725 -0.562]
 [-1.013  0.314 -0.908 -1.412  1.466 -0.226  0.068 -1.425]
 [-0.544  0.111 -1.151  0.376 -0.601 -0.292 -0.602  1.852]
 [-0.013 -1.058  0.823 -1.221  0.209 -1.96  -1.328  0.197]
 [ 0.738  0.171 -0.116 -0.301 -1.479 -0.72  -0.461  1.057]
 [ 0.344 -1.763  0.324 -0.385 -0.677  0.612  1.031  0.931]
 [-0.839 -0.309  0.331  0.976 -0.479 -0.186 -1.106 -1.196]
 [ 0.813  1.356 -0.072  1.004  0.362 -0.645  0.361  1.538]
 [-0.036  1.565 -2.62   0.822  0.087 -0.299  0.092 -1.988]]

In [351]:
#Exercise 6
"""
The following NumPy array is given:
array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])
Using the slice operator, transform this array into the following (reverse the order of the rows):
array([[ 8,  9, 10, 11],
       [ 4,  5,  6,  7],
       [ 0,  1,  2,  3]])
In response, print the transformed array to the console.
"""
import numpy as np

arr = np.arange(12, dtype='int').reshape(-1, 4)
arr = arr[::-1]
print(arr)

[[ 8  9 10 11]
 [ 4  5  6  7]
 [ 0  1  2  3]]

In [543]:
#Exercise 7
"""
The following NumPy array is given:
array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])
Using the slice operator, transform this array into the following (reverse column order):
array([[ 3,  2,  1,  0],
       [ 7,  6,  5,  4],
       [11, 10,  9,  8]])
In response, print the transformed array to the console.
"""
import numpy as np

arr = np.arange(12, dtype='int').reshape(-1, 4)
#arr = arr[:3:,::-1]
arr = arr[:,::-1]
print(arr)

[[ 3  2  1  0]
 [ 7  6  5  4]
 [11 10  9  8]]

***SECCION 8 - ARRAYS MANIPULATION***

In [564]:
#Exercise 1
"""
The following NumPy array is given:
arr = np.array(
    [
        [0, 1],
        [2, 3],
        [4, 5],
        [6, 7],
        [8, 9],
    ]
)
Iterate through the elements of this array and print each element to the console as shown below.
"""
import numpy as np

arr = np.array(
    [
        [0, 1],
        [2, 3],
        [4, 5],
        [6, 7],
        [8, 9],
    ]
)
for i in arr:
    print(i[0])
    print(i[1])
#Another way
print("---------------Another option.----------")
for i in arr.flat:
    print(i)

0
1
2
3
4
5
6
7
8
9
---------------Another option.----------
0
1
2
3
4
5
6
7
8
9

In [567]:
#Exercise 2
"""
Perform the following operations:
-update the value in the fourth row and second column to 10
-update the value in the fifth row and first column to 5
In response, print this array to the console.
"""

import numpy as np

arr = np.array(
    [
        [0, 1],
        [2, 3],
        [4, 5],
        [6, 7],
        [8, 9],
    ]
)
arr[3,1] = 10
arr[4,0] = 5
print(arr)
#Option 2
"""
arr.itemset((3, 1), 10)
arr.itemset((4, 0), 5)
print(arr)
"""

[[ 0  1]
 [ 2  3]
 [ 4  5]
 [ 6 10]
 [ 5  9]]

In [576]:
#Exercise 3
"""
The following NumPy array is given:
arr = np.array(
    [
        [3, 2, 6],
        [6, 2, 7],
        [6, 2, 4],
        [5, 3, 1],
    ]
)
Create a flattened array from this array and print it to the console.
"""
import numpy as np
arr = np.array(
    [
        [3, 2, 6],
        [6, 2, 7],
        [6, 2, 4],
        [5, 3, 1],
    ]
)

arr = arr.flat
arr = np.asarray(arr)
print(arr)
#Another option
arr = np.ravel(arr) #Flatten an array into 1D dimensional array

[3 2 6 6 2 7 6 2 4 5 3 1]

In [579]:
#Exercise 4
"""
The following NumPy array is given:
arr = np.array([0, 0, 0, 0, 0, 0, 0, 1, 0, 2, 0, 0, 0, 0, 0])
Trim the leading and trailing zeros from this array and print result to the console.
"""
import numpy as np

arr = np.array([0, 0, 0, 0, 0, 0, 0, 1, 0, 2, 0, 0, 0, 0, 0])
arr = arr[7:10]
print(arr)
#Another way
arr = np.trim_zeros(arr)
print(arr)

[1 0 2]

In [622]:
#Exercise 5
"""
Perform the following operations:
-delete the second row from this array
-delete the last column from this array
In response, print the rest of this array to the console.
"""
import numpy as np
arr = np.array(
    [
        [2, 0, 0, 0, 2, 0, 1, 1, 4, 2],
        [3, 2, 0, 4, 4, 0, 1, 1, 2, 1],
        [1, 4, 3, 0, 3, 4, 2, 3, 4, 2],
        [4, 2, 0, 2, 4, 3, 1, 2, 4, 1],
    ]
)
arr = np.delete(arr, 9, axis =1 )
arr = np.delete(arr, 1, axis = 0)
print(arr)

[[2 0 0 0 2 0 1 1 4]
 [1 4 3 0 3 4 2 3 4]
 [4 2 0 2 4 3 1 2 4]]

In [640]:
#Exercise 6
"""
Replace the first row with the last one and print this array to the console.
"""
import numpy as np

arr = np.array(
    [
        [563, 996, 272, 400, 487, 581, 117, 749, 434, 815],
        [195, 942, 938, 580, 897, 72, 109, 600, 979, 586],
        [468, 970, 898, 765, 316, 368, 143, 381, 674, 971],
        [963, 733, 548, 247, 779, 170, 830, 665, 692, 502],
        [40, 494, 384, 353, 337, 181, 689, 142, 181, 386],
    ]
)
new_array = arr.copy()
arr[0] = arr[4]
arr[4] = new_array[0]
print(arr)
#Another way
print("------------------")
arr2 = arr2[[4,1,2,3,0],:]
print(arr2)

[[ 40 494 384 353 337 181 689 142 181 386]
 [195 942 938 580 897  72 109 600 979 586]
 [468 970 898 765 316 368 143 381 674 971]
 [963 733 548 247 779 170 830 665 692 502]
 [563 996 272 400 487 581 117 749 434 815]]
------------------
[[ 40 494 384 353 337 181 689 142 181 386]
 [195 942 938 580 897  72 109 600 979 586]
 [468 970 898 765 316 368 143 381 674 971]
 [963 733 548 247 779 170 830 665 692 502]
 [563 996 272 400 487 581 117 749 434 815]]

In [652]:
#Exercise 7
"""
Reverse the order of the rows in the array and print it to the console.
"""
import numpy as np


arr = np.array(
    [
        [563, 996, 272, 400, 487, 581, 117, 749, 434, 815],
        [195, 942, 938, 580, 897, 72, 109, 600, 979, 586],
        [468, 970, 898, 765, 316, 368, 143, 381, 674, 971],
        [963, 733, 548, 247, 779, 170, 830, 665, 692, 502],
        [40, 494, 384, 353, 337, 181, 689, 142, 181, 386],
    ]
)

arr = arr[[4,3,2,1,0],:]
print(arr)
#Another option 
print("--------------------")
arr2 = arr.copy()
arr2 = arr2[::-1, :]
print(arr2)

[[ 40 494 384 353 337 181 689 142 181 386]
 [963 733 548 247 779 170 830 665 692 502]
 [468 970 898 765 316 368 143 381 674 971]
 [195 942 938 580 897  72 109 600 979 586]
 [563 996 272 400 487 581 117 749 434 815]]
--------------------
[[563 996 272 400 487 581 117 749 434 815]
 [195 942 938 580 897  72 109 600 979 586]
 [468 970 898 765 316 368 143 381 674 971]
 [963 733 548 247 779 170 830 665 692 502]
 [ 40 494 384 353 337 181 689 142 181 386]]

***SECCTION 11- ARRAYS MANIPULATION***

In [653]:
#Exercise 1
"""
Suppose you have the following NumPy array:
arr = np.array(
    [
        [6, 7, 7, 3, 9],
        [7, 4, 8, 4, 0],
        [1, 5, 3, 2, 4],
        [7, 8, 9, 8, 2],
    ]
)
Reshape this array as follows:
array([[6, 7, 7, 3],
       [9, 7, 4, 8],
       [4, 0, 1, 5],
       [3, 2, 4, 7],
       [8, 9, 8, 2]])
In response, print the result to the console.
"""
import numpy as np

arr = np.array(
    [
        [6, 7, 7, 3, 9],
        [7, 4, 8, 4, 0],
        [1, 5, 3, 2, 4],
        [7, 8, 9, 8, 2],
    ]
)
arr = arr.reshape(5,4) #(5,-1)
print(arr)

[[6 7 7 3]
 [9 7 4 8]
 [4 0 1 5]
 [3 2 4 7]
 [8 9 8 2]]

In [656]:
#Exercise 2
"""
Convert this array to its transposed form and print result to the console.
"""
import numpy as np

arr = np.array(
    [
        [0, 1, 5, 7, 5, 5, 9, 3, 0, 7, 5, 4, 7, 4, 4],
        [8, 9, 2, 5, 0, 8, 1, 5, 8, 2, 9, 0, 9, 1, 3],
    ]
)
arr = np.transpose(arr)#A transposed array is an array in which the rows and columns have been swapped
arr = arr.T #Other option
print(arr)

[[0 8]
 [1 9]
 [5 2]
 [7 5]
 [5 0]
 [5 8]
 [9 1]
 [3 5]
 [0 8]
 [7 2]
 [5 9]
 [4 0]
 [7 9]
 [4 1]
 [4 3]]

In [662]:
#Exercise 3
"""
Squeeze this array into a 2-dimensional array with the shape 2x2 and print it to the console.
"""
import numpy as np


arr = np.array([[[4, 2], [5, 2]]])
arr = np.squeeze(arr)
print(arr)

[[4 2]
 [5 2]]

In [672]:
#Exercise 4
"""
Remove the third column and print this array to the console.
"""
import numpy as np

np.random.seed(42)
arr = np.random.randn(8, 4)
arr = np.delete(arr,2, axis = 1 )
print(arr)

[[ 0.49671415 -0.1382643   1.52302986]
 [-0.23415337 -0.23413696  0.76743473]
 [-0.46947439  0.54256004 -0.46572975]
 [ 0.24196227 -1.91328024 -0.56228753]
 [-1.01283112  0.31424733 -1.4123037 ]
 [ 1.46564877 -0.2257763  -1.42474819]
 [-0.54438272  0.11092259  0.37569802]
 [-0.60063869 -0.29169375  1.85227818]]

In [678]:
#Exercise 5
"""
Remove the following columns:
-'Time'
-'Turn'
-'Share'
In response, print the rest of this array to the console.
"""
import numpy as np
np.set_printoptions(linewidth=160, suppress=True)
wig_games = np.array(
    [
        [
            'Profile',
            'Time',
            'Course',
            'Open',
            'Low',
            'High',
            'Turn',
            'Share',
        ],
        [
            '11B(11BIT)',
            '17kwi17:01',
            '391.00',
            '383.50',
            '383.00',
            '394.00',
            '4994874',
            '19.034%',
        ],
        [
            'CDR(CDPROJEKT)',
            '17kwi17:01',
            '339.50',
            '338.30',
            '337.00',
            '344.20',
            '79245368',
            '39.618%',
        ],
        [
            'CIG(CIGAMES)',
            '17kwi17:03',
            '0.742',
            '0.772',
            '0.730',
            '0.772',
            '971459',
            '1.855%',
        ],
        [
            'PLW(PLAYWAY)',
            '17kwi17:03',
            '387.50',
            '374.00',
            '373.00',
            '388.00',
            '12661786',
            '10.638%',
        ],
        [
            'TEN(TSGAMES)',
            '17kwi17:02',
            '349.50',
            '332.00',
            '330.00',
            '353.50',
            '13697060',
            '28.855%',
        ],
    ],
    dtype='<U14',
)
wig_games2 = wig_games.copy()

wig_games = np.delete(wig_games, 1, axis = 1)
wig_games = np.delete(wig_games, [5], axis = 1)
wig_games = np.delete(wig_games, [5], axis = 1)
print(wig_games)

print('------------------------')
wig_games2 = np.delete(wig_games2, [1, 6, 7], axis=1)
print(wig_games)

[['Profile' 'Course' 'Open' 'Low' 'High']
 ['11B(11BIT)' '391.00' '383.50' '383.00' '394.00']
 ['CDR(CDPROJEKT)' '339.50' '338.30' '337.00' '344.20']
 ['CIG(CIGAMES)' '0.742' '0.772' '0.730' '0.772']
 ['PLW(PLAYWAY)' '387.50' '374.00' '373.00' '388.00']
 ['TEN(TSGAMES)' '349.50' '332.00' '330.00' '353.50']]
------------------------
[['Profile' 'Course' 'Open' 'Low' 'High']
 ['11B(11BIT)' '391.00' '383.50' '383.00' '394.00']
 ['CDR(CDPROJEKT)' '339.50' '338.30' '337.00' '344.20']
 ['CIG(CIGAMES)' '0.742' '0.772' '0.730' '0.772']
 ['PLW(PLAYWAY)' '387.50' '374.00' '373.00' '388.00']
 ['TEN(TSGAMES)' '349.50' '332.00' '330.00' '353.50']]

In [19]:
#Exercise 6
"""
Convert this array of indices to one-hot encoded array as follows:

The first row has a 1 at index 2, the second row has a 1 at index 0,
the third row has a 1 at index 0 and so on.
"""
import numpy as np

arr = np.array([2, 0, 1, 3, 5])
onehot = np.zeros((arr.size, arr.max()+1), dtype='int8')
onehot[np.arange(arr.size), arr] = 1
print(onehot)

[[0 0 1 0 0 0]
 [1 0 0 0 0 0]
 [0 1 0 0 0 0]
 [0 0 0 1 0 0]
 [0 0 0 0 0 1]]

***SECCTION 12 - MATHS & CALCULATIONS***

In [116]:
#Exercise 1
"""
Calculate the cumulative product of the elements along the rows and print it to the console.
"""
import numpy as np

arr = np.array(
    [
        [3, 4, 2, 3, 4, 3, 4, 2],
        [2, 4, 2, 1, 2, 3, 1, 4],
        [4, 1, 2, 4, 2, 4, 1, 4],
        [4, 1, 2, 4, 4, 2, 1, 4],
        [2, 3, 3, 4, 2, 2, 1, 4],
    ]
)
new_array = [] #Create a new matrix to store the results
for row in arr:
    producto = 1
    row_result = []
    for element in row:
    # Calculate the cumulative product for the current element and store it in the row_result list
        producto = producto * element
        #print(producto)
        row_result.append(producto)
    new_array.append(row_result)
new_array = np.asarray(new_array)
print(new_array)

#Another way
print("------------------------------------------")
print(arr.cumprod(axis=1))

[[   3   12   24   72  288  864 3456 6912]
 [   2    8   16   16   32   96   96  384]
 [   4    4    8   32   64  256  256 1024]
 [   4    4    8   32  128  256  256 1024]
 [   2    6   18   72  144  288  288 1152]]
------------------------------------------
[[   3   12   24   72  288  864 3456 6912]
 [   2    8   16   16   32   96   96  384]
 [   4    4    8   32   64  256  256 1024]
 [   4    4    8   32  128  256  256 1024]
 [   2    6   18   72  144  288  288 1152]]

In [207]:
#Exercise 2
"""
Calculate the cumulative sum of the elements along the columns and print it to the console.
"""
#Get the numbers of columns
num_columns = arr.shape[1]
new_array = []
for i in range(num_columns):
    suma = 0
    result_arr = []
    for j in arr[:,i]:
        suma = suma + j
        result_arr.append(suma)
        #print(result_arr)
    new_array.append(result_arr)
new_array = np.asarray(new_array)
print(new_array.T)

print("-----------ANOTHER WAY----------------")
print(arr.cumsum(axis=0))

[[ 3  4  2  3  4  3  4  2]
 [ 5  8  4  4  6  6  5  6]
 [ 9  9  6  8  8 10  6 10]
 [13 10  8 12 12 12  7 14]
 [15 13 11 16 14 14  8 18]]
-----------ANOTHER WAY----------------
[[ 3  4  2  3  4  3  4  2]
 [ 5  8  4  4  6  6  5  6]
 [ 9  9  6  8  8 10  6 10]
 [13 10  8 12 12 12  7 14]
 [15 13 11 16 14 14  8 18]]

In [221]:
#Exercise 3
"""
Extract the diagonal of this array and print it to the console.
"""
import numpy as np
arr = np.array(
    [
        [0.98719372, 0.40157794, 0.72824049, 0.20055243],
        [0.58863943, 0.1753418, 0.02128165, 0.78263826],
        [0.33259132, 0.80081786, 0.26790891, 0.53948946],
        [0.00659557, 0.14391722, 0.3477083, 0.14417694],
    ]
)

arr = np.diagonal(arr)
print(arr)

[0.98719372 0.1753418  0.26790891 0.14417694]

In [231]:
#Exercise 4
"""
Perform the following operations:
-fill the first column with 0.0
-fill the last column with 1.0
In response print this array to the console.
"""
import numpy as np

arr = np.array(
    [
        [0.98719372, 0.40157794, 0.72824049, 0.20055243],
        [0.58863943, 0.1753418, 0.02128165, 0.78263826],
        [0.33259132, 0.80081786, 0.26790891, 0.53948946],
        [0.00659557, 0.14391722, 0.3477083, 0.14417694],
    ]
)
arr[0:,0] = 0
arr[0:,-1] = 1.0
print(arr)
print("------------------Another way-------------")
arr[:, 0].fill(0.0)
arr[:, 3].fill(1.0)
print(arr)

[[0.         0.40157794 0.72824049 1.        ]
 [0.         0.1753418  0.02128165 1.        ]
 [0.         0.80081786 0.26790891 1.        ]
 [0.         0.14391722 0.3477083  1.        ]]
------------------Another way-------------
[[0.         0.40157794 0.72824049 1.        ]
 [0.         0.1753418  0.02128165 1.        ]
 [0.         0.80081786 0.26790891 1.        ]
 [0.         0.14391722 0.3477083  1.        ]]

In [239]:
#Exercise 5
"""
Extract the maximum values for each row and print them to the console.
"""
import numpy as np

arr = np.array(
    [
        [0.9, 0.01, 0.09],
        [0.1, 0.3, 0.6],
        [0.1, 0.2, 0.7],
    ]
)
arr2 = arr.copy()
new_array = []
for i in arr:
    arr = np.max(i)
    new_array.append(arr)
new_array = np.asarray(new_array)
print(new_array)
print("---------------- Another way -------------")
maxvals = arr2.max(axis=1)
print(maxvals)

[0.9 0.6 0.7]
---------------- Another way -------------
[0.9 0.6 0.7]

In [243]:
#Exercise 6
"""
Calculate the mean for each column, round to two decimal places and print the result to the console.
"""
import numpy as np


prices = np.array(
    [
        [46956.85, 47261.27, 46363.63, 46768.23],
        [46504.95, 47365.6, 46215.3, 47283.29],
        [47386.83, 47386.83, 46453.98, 46509.19],
    ]
)
prices = np.mean(prices, axis = 0).round(3)
print(prices)
#other way: means = np.round(prices.mean(axis=0), 2)

[46949.543 47337.9   46344.303 46853.57 ]

In [272]:
#Exercise 7
"""
Calculate the number of zeros in this array an print it to the console.
"""
import numpy as np

arr = np.array(
    [
        [2, 2, 2, 2, 0, 1, 0, 2, 1, 2],
        [2, 1, 0, 0, 0, 0, 0, 2, 1, 0],
        [2, 0, 2, 0, 2, 2, 2, 2, 2, 2],
        [2, 1, 1, 2, 2, 0, 0, 2, 2, 0],
        [0, 1, 0, 2, 0, 2, 0, 0, 0, 1],
    ]
)
arr2 = arr.copy
size = []
for row in arr:
    for elements in row:
        if elements == 0:
            size.append(elements)
            #print(zeros)
total = np.asarray(size)
print(total.size)
#print("--------------------Other way-----------------")
#result = arr2.size - np.count_nonzero(arr2)
#print(result)

19

In [285]:
#Exercise 8
"""
Check the Pythagorean formula for sines and cosines of the A array and then compare the result with the B array. 
Use the np.allclose() function in this exercise.
"""
import numpy as np

A = np.linspace(0, np.pi / 2, 20)
B = np.full(shape=(20,), fill_value=1, dtype='float')
 
result = np.allclose(np.sin(A) ** 2 + np.cos(A) ** 2, B)
print(result)

True

In [339]:
#Exercise 9
"""
This data is corrupted (for example 452, 705 or -234) and you need to clean it up a bit. 
Trim the age values to the specified range [0, 100]. 
In response, print the cleaned array to the console.
"""

import numpy as np

ages = np.array(
    [
        [71, 61, 43, 68, 40, 68, 18, 52, 40, 70],
        [23, 19, 55, 28, 29, 73, 43, 27, 61, 41],
        [22, 60, 59, 69, 51, 70, 39, 29, 30, 69],
        [25, 35, 63, 36, 61, 61, 26, 32, 58, 35],
        [52, 74, 41, 53, 452, 75, 26, 58, 19, 26],
        [36, 42, 23, 57, 32, 60, 30, 24, 74, 75],
        [34, 48, 50, 26, 41, 61, 41, 46, 63, 19],
        [20, 36, 39, 44, 37, 35, 26, 79, 705, 37],
        [44, -234, 54, 68, 40, 30, 64, 25, 26, 71],
        [65, 26, 22, 49, 52, 36, 58, 48, 27, 75],
    ])

new_array = []
delet_numbers = []
for row in ages:
    for element in row:
        if element > 100:
            delet_numbers.append(element)
            element = 100
            new_array.append(element)
        elif element <0:
            delet_numbers.append(element)
            element = 0
            new_array.append(element)
        else:
            new_array.append(element)
#print(delet_numbers)
new_array = np.asarray(new_array).reshape(10,10)
print(new_array)

print("-------------------Another way -----------------")
ages = np.clip(ages, a_min=0, a_max=100) #Define a litim of matrix values
print(ages)

[[ 71  61  43  68  40  68  18  52  40  70]
 [ 23  19  55  28  29  73  43  27  61  41]
 [ 22  60  59  69  51  70  39  29  30  69]
 [ 25  35  63  36  61  61  26  32  58  35]
 [ 52  74  41  53 100  75  26  58  19  26]
 [ 36  42  23  57  32  60  30  24  74  75]
 [ 34  48  50  26  41  61  41  46  63  19]
 [ 20  36  39  44  37  35  26  79 100  37]
 [ 44   0  54  68  40  30  64  25  26  71]
 [ 65  26  22  49  52  36  58  48  27  75]]
-------------------Another way -----------------
[[ 71  61  43  68  40  68  18  52  40  70]
 [ 23  19  55  28  29  73  43  27  61  41]
 [ 22  60  59  69  51  70  39  29  30  69]
 [ 25  35  63  36  61  61  26  32  58  35]
 [ 52  74  41  53 100  75  26  58  19  26]
 [ 36  42  23  57  32  60  30  24  74  75]
 [ 34  48  50  26  41  61  41  46  63  19]
 [ 20  36  39  44  37  35  26  79 100  37]
 [ 44   0  54  68  40  30  64  25  26  71]
 [ 65  26  22  49  52  36  58  48  27  75]]

***SECCTION 13 - MATHS & CALCULATIONS***

In [345]:
#Exercise 1
"""
Each column represents the annual accumulation factor for 3 years (columns) 
for 4 types of investments (rows). Calculate the total accumulation factor for each investment - 
the product of the rows. Round values to 5 decimal places and print result to the console.
"""
import numpy as np

accumulation_factors = np.array(
    [
        [1.03, 1.035, 1.037],
        [1.037, 1.035, 1.03],
        [1.02, 1.05, 1.028],
        [1.01, 1.023, 1.088],
    ]
)
total = []
for row in accumulation_factors:
    investment = np.prod(row) #el producto de los elementos de una matriz a lo largo de un eje específico
    total.append(investment)
total = np.asarray(total).round(5)
print(total)
#Other solution
#accumulation_factors = np.prod(accumulation_factors, axis=1).round(5)
#print(accumulation_factors)

[1.10549 1.10549 1.10099 1.12415]

In [359]:
#Exercise 2
"""
Each column represents the annual accumulation factor for 3 years (columns) 
for 4 types of investments (rows). Calculate the difference between the minimum and maximum values 
for each row of this array and print it to the console.
"""
import numpy as np

accumulation_factors = np.array(
    [
        [1.03, 1.035, 1.037],
        [1.037, 1.035, 1.04],
        [1.02, 1.05, 1.028],
        [1.01, 1.023, 1.088],
    ]
)
total = []
for row in accumulation_factors:
    operation = row.max() - row.min()
    total.append(operation)

new_arr = np.asarray(total).round(3)
print(new_arr)

[0.007 0.005 0.03  0.078]

In [360]:
"""
OTHER SOLUTIONS - PREVIOUS EXERCISE
"""
import numpy as np
 
 
accumulation_factors = np.array(
    [
        [1.03, 1.035, 1.037],
        [1.037, 1.035, 1.04],
        [1.02, 1.05, 1.028],
        [1.01, 1.023, 1.088],
    ]
)
 
result = np.ptp(accumulation_factors, axis=1) #Peak to peak
#a la diferencia entre el valor máximo y el valor mínimo en la matriz o en el eje especificado.
print(result)

"""
max_val = np.max(accumulation_factors, axis=1)
min_val = np.min(accumulation_factors, axis=1)
result = max_val - min_val
print(result)
"""

[0.007 0.005 0.03  0.078]

'\nmax_val = np.max(accumulation_factors, axis=1)\nmin_val = np.min(accumulation_factors, axis=1)\nresult = max_val - min_val\nprint(result)\n'

In [374]:
#Exercise 3
"""
Each array represents the annual accumulation factor for 4 years for 3 types of investments.
Combine these arrays into one as follows:
"""
import numpy as np

year1 = np.array([1.03, 1.035, 1.037])
year2 = np.array([1.037, 1.035, 1.04])
year3 = np.array([1.02, 1.05, 1.028])
year4 = np.array([1.01, 1.023, 1.088])

full_arr = np.stack((year1,year2,year3,year4), axis = 1) #Concatenate with columns
print(full_arr)

#Another way
#investments = np.c_[year1, year2, year3, year4]-indexar/concatenar matrices a lo largo del segundo eje (columnas

[[1.03  1.037 1.02  1.01 ]
 [1.035 1.035 1.05  1.023]
 [1.037 1.04  1.028 1.088]]

In [393]:
#Exercise 4
"""
Which represents stock data: open, high, low, close, volume. 
Calculate the correlation between open and close price and print it to the console.
"""
import numpy as np


playway = np.array(
    [
        [305.0, 324.5, 283.5, 310.0, 64081.0],
        [325.5, 340.5, 320.0, 340.5, 55496.0],
        [324.0, 340.5, 315.0, 330.0, 36152.0],
        [344.0, 344.0, 310.0, 315.0, 35992.0],
        [306.5, 307.0, 291.0, 305.0, 32539.0],
        [274.0, 291.0, 250.0, 258.0, 79402.0],
        [278.0, 284.5, 256.0, 264.0, 35700.0],
        [270.0, 270.0, 238.5, 245.0, 60445.0],
        [218.0, 228.0, 196.0, 197.0, 94031.0],
        [210.0, 229.0, 198.8, 211.0, 100412.0],
        [205.0, 248.0, 197.8, 240.5, 50659.0],
        [245.0, 269.0, 232.5, 264.0, 99480.0],
        [264.0, 280.0, 251.0, 270.0, 70136.0],
        [267.0, 280.0, 267.0, 279.5, 30732.0],
        [297.5, 307.0, 280.0, 280.5, 43426.0],
        [274.0, 289.0, 258.0, 285.0, 37098.0],
        [305.0, 309.0, 296.5, 309.0, 31939.0],
        [313.0, 330.0, 295.0, 304.0, 46724.0],
        [300.0, 309.0, 295.5, 300.0, 27213.0],
        [302.0, 306.5, 290.0, 296.0, 13466.0],
        [299.0, 300.0, 287.0, 300.0, 10316.0],
        [302.5, 309.0, 302.0, 306.5, 15698.0],
    ]
)

playway = np.corrcoef(playway[0:, 0], playway[:,-2])[0,1]
print(playway)

0.9121043028538186

In [394]:
#Exercise 5
"""
Calculate the square root of each element of this array and print result to the console.
"""

import numpy as np

arr = np.array([[3, 4, 9, 2], [5, 3, 2, 5]])
arr = np.sqrt(arr)
print(arr)

[[1.73205081 2.         3.         1.41421356]
 [2.23606798 1.73205081 1.41421356 2.23606798]]

In [398]:
#Exercise 6
"""
Calculate the average value for each column.
Round the result to two decimal places and print it to the console.
"""
import numpy as np


playway_values = np.array(
    [
        [305.0, 324.5, 283.5, 310.0, 64081.0],
        [325.5, 340.5, 320.0, 340.5, 55496.0],
        [324.0, 340.5, 315.0, 330.0, 36152.0],
        [344.0, 344.0, 310.0, 315.0, 35992.0],
        [306.5, 307.0, 291.0, 305.0, 32539.0],
        [274.0, 291.0, 250.0, 258.0, 79402.0],
        [278.0, 284.5, 256.0, 264.0, 35700.0],
        [270.0, 270.0, 238.5, 245.0, 60445.0],
        [218.0, 228.0, 196.0, 197.0, 94031.0],
        [210.0, 229.0, 198.8, 211.0, 100412.0],
        [205.0, 248.0, 197.8, 240.5, 50659.0],
        [245.0, 269.0, 232.5, 264.0, 99480.0],
        [264.0, 280.0, 251.0, 270.0, 70136.0],
        [267.0, 280.0, 267.0, 279.5, 30732.0],
        [297.5, 307.0, 280.0, 280.5, 43426.0],
        [274.0, 289.0, 258.0, 285.0, 37098.0],
        [305.0, 309.0, 296.5, 309.0, 31939.0],
        [313.0, 330.0, 295.0, 304.0, 46724.0],
        [300.0, 309.0, 295.5, 300.0, 27213.0],
        [302.0, 306.5, 290.0, 296.0, 13466.0],
        [299.0, 300.0, 287.0, 300.0, 10316.0],
        [302.5, 309.0, 302.0, 306.5, 15698.0],
    ]
)
playway_values = np.mean(playway_values, axis =0).round(2)
print(playway_values)

[  283.14   295.25   268.69   282.3  48688.05]

In [404]:
#Exercise 7
"""
Calculate arithmetic means of these arrays (elementwise) and print the result to the console.
"""
import numpy as np


A = np.array([[3, 4, 9, 2], [5, 3, 2, 5]])
B = np.array([[4, 3, 2, 5], [6, 3, 1, 6]])

elementwise = np.median([A,B], axis =0)
print(elementwise)

[[3.5 3.5 5.5 3.5]
 [5.5 3.  1.5 5.5]]

In [405]:
#Exercise 8
"""
Multiply these arrays (elementwise) and print the result to the console.
"""
import numpy as np


A = np.array([[3, 4, 9, 2], [5, 3, 2, 5]])
B = np.array([[4, 3, 2, 5], [6, 3, 1, 6]])

product = (A*B)
print(product)

[[12 12 18 10]
 [30  9  2 30]]

***SECTION 14 - DATES***

In [409]:
#Exercise 1
"""
Using NumPy generate all dates for Mondays for January 2024 as an array:
"""
import numpy as np

start_date = np.datetime64('2024-01-01')
end_date = np.datetime64('2024-02-01')

mondays = np.arange(start_date, end_date, dtype='datetime64[D]')[::7]
print(mondays)

['2024-01-01' '2024-01-08' '2024-01-15' '2024-01-22' '2024-01-29']

In [465]:
#Exercise 2
"""
Add a new column to this array that stores dates 3 days
later than specified and print the result to the console.
"""
import numpy as np

dates = np.arange('2025-01', '2025-02', dtype='datetime64[D]').reshape(31,1)
dates2 = np.arange('2025-01-04','2025-02-04', dtype='datetime64[D]').reshape(31,1)

all_dates = np.concatenate([dates,dates2], axis = 1)
print(all_dates)
#result = np.c_[dates, dates + np.timedelta64(3, 'D')] - Another way

[['2025-01-01' '2025-01-04']
 ['2025-01-02' '2025-01-05']
 ['2025-01-03' '2025-01-06']
 ['2025-01-04' '2025-01-07']
 ['2025-01-05' '2025-01-08']
 ['2025-01-06' '2025-01-09']
 ['2025-01-07' '2025-01-10']
 ['2025-01-08' '2025-01-11']
 ['2025-01-09' '2025-01-12']
 ['2025-01-10' '2025-01-13']
 ['2025-01-11' '2025-01-14']
 ['2025-01-12' '2025-01-15']
 ['2025-01-13' '2025-01-16']
 ['2025-01-14' '2025-01-17']
 ['2025-01-15' '2025-01-18']
 ['2025-01-16' '2025-01-19']
 ['2025-01-17' '2025-01-20']
 ['2025-01-18' '2025-01-21']
 ['2025-01-19' '2025-01-22']
 ['2025-01-20' '2025-01-23']
 ['2025-01-21' '2025-01-24']
 ['2025-01-22' '2025-01-25']
 ['2025-01-23' '2025-01-26']
 ['2025-01-24' '2025-01-27']
 ['2025-01-25' '2025-01-28']
 ['2025-01-26' '2025-01-29']
 ['2025-01-27' '2025-01-30']
 ['2025-01-28' '2025-01-31']
 ['2025-01-29' '2025-02-01']
 ['2025-01-30' '2025-02-02']
 ['2025-01-31' '2025-02-03']]

In [468]:
#Exercise 3
"""
Using the np.arange() function, generate the following 2-dimensional 31x1 array:
"""

import numpy as np

dates = np.arange('2024-01-01', '2024-02', dtype = 'datetime64[D]').reshape(31,1) #arr = arr.reshape(-1, 1)
print(dates)

[['2024-01-01']
 ['2024-01-02']
 ['2024-01-03']
 ['2024-01-04']
 ['2024-01-05']
 ['2024-01-06']
 ['2024-01-07']
 ['2024-01-08']
 ['2024-01-09']
 ['2024-01-10']
 ['2024-01-11']
 ['2024-01-12']
 ['2024-01-13']
 ['2024-01-14']
 ['2024-01-15']
 ['2024-01-16']
 ['2024-01-17']
 ['2024-01-18']
 ['2024-01-19']
 ['2024-01-20']
 ['2024-01-21']
 ['2024-01-22']
 ['2024-01-23']
 ['2024-01-24']
 ['2024-01-25']
 ['2024-01-26']
 ['2024-01-27']
 ['2024-01-28']
 ['2024-01-29']
 ['2024-01-30']
 ['2024-01-31']]

In [471]:
#Exercise 4
"""
Using the np.arange() function, generate the following 2-dimensional 4x3 array:
"""
import numpy as np

dates = np.arange('2024-01', '2025-01', dtype = 'datetime64[M]').reshape(4,3) #(-1,3)
print(dates)

[['2024-01' '2024-02' '2024-03']
 ['2024-04' '2024-05' '2024-06']
 ['2024-07' '2024-08' '2024-09']
 ['2024-10' '2024-11' '2024-12']]

In [476]:
#Exercise 5
"""
Using the np.datetime64() function, generate today's date and print result to the console
"""
today = np.datetime64('today')
print(today)

2023-07-25

In [490]:
#Exercise 6
"""
Count the number of a business days in this array and print the result to the console.
"""
import numpy as np
 
dates = np.arange('2025-01-01', '2025-01-10', dtype='datetime64[D]')
#Another way
#result = np.sum(np.is_busday(dates))
new_dates = np.busday_count('2025-01','2025-01-10')
print(new_dates)

7

***SECTION 15 - RANDOM***

In [501]:
#Exercise 1
"""
Using NumPy create a 2-dimensional 5x4 array consisting of 20 pseudo-randomly generated values from the uniform distribution [0,1). 
Set the random seed to 10
"""
import numpy as np

np.random.seed(10)
# generates random numbers in the range [0, 1) with the given shape.
arr = np.random.rand(5,4) 
print(arr)

[[0.77132064 0.02075195 0.63364823 0.74880388]
 [0.49850701 0.22479665 0.19806286 0.76053071]
 [0.16911084 0.08833981 0.68535982 0.95339335]
 [0.00394827 0.51219226 0.81262096 0.61252607]
 [0.72175532 0.29187607 0.91777412 0.71457578]]

In [512]:
#Exercise 2
"""
Using NumPy create a 2-dimensional 10x4 array with pseudo-randomly generated values
from the standard normal distribution N(0,1). Set the random seed to 20.
"""
import numpy as np

np.random.seed(20)
#generates samples from a standard normal distribution (mean=0, variance=1) with the given shape
arr = np.random.randn(10,5)

print(arr)

[[ 0.88389311  0.19586502  0.35753652 -2.34326191 -1.08483259]
 [ 0.55969629  0.93946935 -0.97848104  0.50309684  0.40641447]
 [ 0.32346101 -0.49341088 -0.79201679 -0.84236793 -1.27950266]
 [ 0.24571517 -0.0441948   1.56763255  1.05110868  0.40636843]
 [-0.1686461  -3.18970279  1.12013226  1.33277821 -0.24333877]
 [-0.13003071 -0.10901737  1.55618644  0.12877835 -2.06694872]
 [-0.88549315 -1.10457948  0.93286635  2.059838   -0.93493796]
 [-1.61299022  0.52706972 -1.55110074  0.32961334 -1.13652654]
 [-0.3384906   0.32097078 -0.60230802  1.54472836  0.64703408]
 [ 0.59321721  0.4380245   1.35778902  1.20451128  1.35179619]]

In [541]:
#Exercise 3
"""
Using NumPy create a 2-dimensional 10x4 array with pseudo-randomly generated values
from the normal distribution N(100, 5). Set the random seed to 30.
"""
import numpy as np

np.random.seed(30)
 
sigma = np.sqrt(5)
mu = 100
 
arr = sigma * np.random.randn(10, 4) + mu
print(arr)

[[ 97.17349231 103.41650023  97.82942436 101.05220329]
 [ 99.7748353  100.67930221  96.14063068 103.544381  ]
 [100.30029631  97.52499594 103.52901961 100.24037271]
 [ 98.29153712  98.2666258  103.09437633 101.70027274]
 [ 99.36127721 101.20382627  95.34026547 102.09694365]
 [ 99.98708001  98.95468525  99.05410904 102.38025432]
 [ 93.50787269 103.61547679 103.18753701  98.51356237]
 [102.20256689  96.19764407  97.54000366  97.05813038]
 [101.81233513  97.66380453  98.45883627  98.09317768]
 [102.48979932  95.70413391  98.43161651 101.89861815]]

In [552]:
#Exercise 4
"""
Using NumPy create a 1-dimensional array (vector) containing the possible result 
from the Big Lotto game. Set the random seed to 42.
Tip: The result of the Big Lotto game is a 6-element vector of natural
numbers with values from 1 to 49 inclusive (draw without repetition).
"""
import numpy as np

np.random.seed(42)
arr = np.random.choice(np.arange(1,50), size = 6, replace=False, p=None)
print(arr)

[14 46 48 45 18 28]

In [555]:
#Exercise 5
"""
Using NumPy create a 3-dimensional array called image with shape (200, 300, 3) 
filled with random values from 0 to 255 (inclusive) and data type np.uint8. Set random seed to 42.
"""
import numpy as np

np.random.seed(42)
image = np.random.randint(
    low = 0,
    high = 256,
    size = (200,300,3),
    dtype = np.uint8

)
print(image)

[[[102 220 225]
  [ 95 179  61]
  [234 203  92]
  ...
  [ 41  27  87]
  [102 225  65]
  [170   0 238]]

 [[169 170 213]
  [159  44 250]
  [224 206  61]
  ...
  [162 118  77]
  [228  67  21]
  [ 68  30  64]]

 [[237  26 118]
  [ 62 157 198]
  [  1 151  37]
  ...
  [218 189  51]
  [193 250 243]
  [235  34 180]]

 ...

 [[116 102 228]
  [ 29  75  71]
  [156 133  53]
  ...
  [ 93  45  68]
  [124 238  76]
  [184 185 202]]

 [[216 202 116]
  [146 168 132]
  [236  80  45]
  ...
  [169 145 212]
  [123  50  70]
  [ 11  43  62]]

 [[ 32  52  65]
  [155   2  86]
  [ 83 240  27]
  ...
  [ 30  57 175]
  [ 72  83 171]
  [ 40 114 195]]]

In [557]:
#Exercise 6
"""
Using NumPy create a 2-dimensional array with shape of (200, 300) 
filled with random values from 0 to 255 (inclusive) with data type np.uint8 
and assign to the variable image.
"""
import numpy as np

image = np.random.randint(
    low = 0,
    high = 256,
    size = (200,300),
    dtype = np.uint8
)

print(image)

[[145  30 244 ...  99  82 179]
 [ 66  67 127 ... 167  42  53]
 [ 60  72  97 ... 123  60 198]
 ...
 [120 118 134 ... 226   9 168]
 [238  13 243 ... 168 115   2]
 [162 201  77 ... 106 167 241]]

***SECTION 16 - COMPARING ARRAYS & BROADCASTING***

In [5]:
#Exercise 1
"""
Check if the following arrays are equal (element-wise):
"""
import numpy as np


A = np.array([0.4, 0.5, 0.3])
B = np.array([0.39999999, 0.5000001, 0.3])

equal = np.allclose(A,B) #Returns True if two arrays are element-wise equal within a tolerance.
print(equal)

True

In [7]:
#Exercise 2
"""
Check if the following arrays are equal (element-wise):
"""
import numpy as np


A = np.array([0.4, 0.5, 0.3])
B = np.array([0.3999999999, 0.5000000001, 0.3])

result = A == B
print(result)

[False False  True]

In [8]:
#Exercise 3
"""
Check which numbers (element-wise) from the A array are greater than numbers from the B array and print 
the result to the console as shown below.
"""
import numpy as np


A = np.array([0.4, 0.5, 0.3, 0.9])
B = np.array([0.38, 0.51, 0.3, 0.91])

result = A > B
#result = np.greater(A,B)
print(result)

[ True False False False]

In [15]:
#Exercise 4
"""
Calculate the average of the given column and then subtract it from the entire column.
In response, print the result to the console
"""

import numpy as np

np.random.seed(20)
arr = np.array(
    [
        [0.88389311],
        [0.19586502],
        [0.35753652],
        [-2.34326191],
        [-1.08483259],
        [0.55969629],
        [0.93946935],
        [-0.97848104],
        [0.50309684],
        [0.40641447],
    ]
)
new_arr = []
result = np.mean(arr)
for row in arr:
    for element in row:
        operation = element - result
        new_arr.append(operation)

new_arr = np.asarray(new_arr).reshape(10,1)
print(new_arr)
#Another way
"""
result = arr - np.mean(arr, axis=0)
print(result)
"""

[[ 0.9399535 ]
 [ 0.25192541]
 [ 0.41359691]
 [-2.28720152]
 [-1.0287722 ]
 [ 0.61575668]
 [ 0.99552974]
 [-0.92242065]
 [ 0.55915723]
 [ 0.46247486]]

'\nresult = arr - np.mean(arr, axis=0)\nprint(result)\n'

In [19]:
#Exercise 5
"""
Calculate the mean values for columns and then subtract them from the original array. 
In response, print the result to the console.
"""
import numpy as np

np.random.seed(20)
arr = np.array(
    [
        [0.88389311, 0.19586502, 0.35753652, -2.34326191],
        [-1.08483259, 0.55969629, 0.93946935, -0.97848104],
        [0.50309684, 0.40641447, 0.32346101, -0.49341088],
        [-0.79201679, -0.84236793, -1.27950266, 0.24571517],
        [-0.0441948, 1.56763255, 1.05110868, 0.40636843],
        [-0.1686461, -3.18970279, 1.12013226, 1.33277821],
        [-0.24333877, -0.13003071, -0.10901737, 1.55618644],
        [0.12877835, -2.06694872, -0.88549315, -1.10457948],
        [0.93286635, 2.059838, -0.93493796, -1.61299022],
        [0.52706972, -1.55110074, 0.32961334, -1.13652654],
    ]
)

new_arr = arr.copy()
mean = np.mean(arr, axis = 0)
result = new_arr - mean
print(result)
"""
Another way
result = arr - np.mean(arr, axis=0)
print(result)
"""

[[ 0.81962558  0.49493548  0.26629952 -1.93044173]
 [-1.14910012  0.85876675  0.84823235 -0.56566086]
 [ 0.43882931  0.70548493  0.23222401 -0.0805907 ]
 [-0.85628432 -0.54329747 -1.37073966  0.65853535]
 [-0.10846233  1.86670301  0.95987168  0.81918861]
 [-0.23291363 -2.89063233  1.02889526  1.74559839]
 [-0.3076063   0.16903975 -0.20025437  1.96900662]
 [ 0.06451082 -1.76787826 -0.97673015 -0.6917593 ]
 [ 0.86859882  2.35890846 -1.02617496 -1.20017004]
 [ 0.46280219 -1.25203028  0.23837634 -0.72370636]]

''

***SECTION 17 - SAVING, LOADING & EXPORTING***

In [32]:
#Exercise 1
"""
Save this array to a binary file named 'array.npy' and then load that file back into another variable.
In response, print this variable to the console.

Tip: Use the np.save() and np.load() functions.
"""
import numpy as np

arr = np.arange(0,12).reshape(3,4)
save = np.save('array.npy', arr)
load = np.load('array.npy')
print(load)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

In [39]:
#Exercise 2
"""
Save this array to a text file named 'array.txt' with two decimal places and then load 
this file back into another variable. In response, print this variable to the console.
"""
import numpy as np

arr = np.arange(12, dtype = 'float32').reshape(3,4)
#np.savetxt(fname='array.txt', X=arr, fmt='%0.2f')
np.savetxt('array.txt', arr, fmt='%0.1f')
load = np.loadtxt('array.txt')
print(load)

[[ 0.  1.  2.  3.]
 [ 4.  5.  6.  7.]
 [ 8.  9. 10. 11.]]

In [57]:
#Exercise 3
"""
In response, print this list to the console.
"""
import numpy as np

arr = np.arange(12).reshape(3,4)
arr = arr.tolist()
print(arr)

[[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11]]

In [154]:
#Exercise 4
"""
You want to export this array to csv files. Please follow the steps below:
-export the first internal array to a file named arr1.csv
-export the second internal array to a file named arr2.csv
Then, load these files into the new arrays arr1 and arr2, transpose them and create a new array like this:
array([[[0. , 0. , 0. ],
        [2. , 2. , 4. ],
        [0.5, 0. , 0. ],
        [1. , 3. , 0. ]],
 
       [[0. , 0. , 0. ],
        [0.5, 0.4, 0. ],
        [0. , 0. , 1. ],
        [0.2, 5. , 0. ]]])
In response, print this array to the console.
"""
import numpy as np

arr = np.array(
    [
        [
            [0.0, 2.0, 0.5, 1.0],
            [0.0, 2.0, 0.0, 3.0],
            [0.0, 4.0, 0.0, 0.0],
        ],
        [
            [0.0, 0.5, 0.0, 0.2],
            [0.0, 0.4, 0.0, 5.0],
            [0.0, 0.0, 1.0, 0.0],
        ],
    ]
)

arr1 = arr[0]
arr2 = arr[1]

np.savetxt('arr1.csv', arr1)
np.savetxt('arr2.csv', arr2)

load1 = np.loadtxt('arr1.csv')
load2 = np.loadtxt('arr2.csv')

new_arrays = np.array((load1.T, load2.T)).reshape(2,4,3)
print(new_arrays)

"""
Another way:

np.savetxt('arr1.csv', arr[0, :, :], delimiter=',')
np.savetxt('arr2.csv', arr[1, :, :], delimiter=',')
 
arr1 = np.loadtxt('arr1.csv', delimiter=',')
arr2 = np.loadtxt('arr2.csv', delimiter=',')
 
    result = np.c_[[arr1.T, arr2.T]] - LOOK AT
 
print(result)
"""

[[[0.  0.  0. ]
  [2.  2.  4. ]
  [0.5 0.  0. ]
  [1.  3.  0. ]]

 [[0.  0.  0. ]
  [0.5 0.4 0. ]
  [0.  0.  1. ]
  [0.2 5.  0. ]]]

In [156]:
#Exercise 5
"""
A text file called stocks.txt containing stock data is included with this exercise (tab delimited file).
Columns mean:
Instrument | ISIN code | Package | Package (PLN) | Share in portfolio (%) | 
Share in trading shares and PDAs per session (%) | Average spread per session
Split text into lines. Then split each line by the tab character \t and create an array (without headers)
containing the following data as shown below.Assign this array to the result variable and print 
it to the console.
"""
import numpy as np


with open('stocks.txt', 'r') as file:
    text = file.read()

lines = text.splitlines()
lines = [line.split('\t') for line in lines]
result = np.array(lines, dtype=str)
 
print(result)

FileNotFoundError: [Errno 2] No such file or directory: 'stocks.txt'

In [183]:
#Exercise 6
"""
Save this array to the 'wig_games.csv' file. 
Then load the content of this file into the wig_games_new variable and print it to the console.
"""
import numpy as np

np.set_printoptions(linewidth=160, suppress=True)

wig_games = np.array(
    [
        [
            'Profile',
            'Time',
            'Course',
            'Open',
            'Low',
            'High',
            'Turn',
            'Share',
        ],
        [
            '11B(11BIT)',
            '17kwi17:01',
            '391.00',
            '383.50',
            '383.00',
            '394.00',
            '4994874',
            '19.034%',
        ],
        [
            'CDR(CDPROJEKT)',
            '17kwi17:01',
            '339.50',
            '338.30',
            '337.00',
            '344.20',
            '79245368',
            '39.618%',
        ],
        [
            'CIG(CIGAMES)',
            '17kwi17:03',
            '0.742',
            '0.772',
            '0.730',
            '0.772',
            '971459',
            '1.855%',
        ],
        [
            'PLW(PLAYWAY)',
            '17kwi17:03',
            '387.50',
            '374.00',
            '373.00',
            '388.00',
            '12661786',
            '10.638%',
        ],
        [
            'TEN(TSGAMES)',
            '17kwi17:02',
            '349.50',
            '332.00',
            '330.00',
            '353.50',
            '13697060',
            '28.855%',
        ],
    ],
    dtype='<U14',
)

np.savetxt('wig_games.csv', wig_games, fmt='%s')
wig_games_new = np.genfromtxt('wig_games.csv', dtype='str')
#wig_games_new = np.loadtxt('wig_games.csv', delimiter=',', dtype='str')
print(wig_games_new)
"""
Another way:
np.savetxt(fname='wig_games.csv', X=wig_games, fmt='%s', delimiter=',')
 
wig_games_new = np.loadtxt(
    fname='wig_games.csv', 
    delimiter=',', 
    dtype=str
)
 
print(wig_games_new)
"""

[['Profile' 'Time' 'Course' 'Open' 'Low' 'High' 'Turn' 'Share']
 ['11B(11BIT)' '17kwi17:01' '391.00' '383.50' '383.00' '394.00' '4994874' '19.034%']
 ['CDR(CDPROJEKT)' '17kwi17:01' '339.50' '338.30' '337.00' '344.20' '79245368' '39.618%']
 ['CIG(CIGAMES)' '17kwi17:03' '0.742' '0.772' '0.730' '0.772' '971459' '1.855%']
 ['PLW(PLAYWAY)' '17kwi17:03' '387.50' '374.00' '373.00' '388.00' '12661786' '10.638%']
 ['TEN(TSGAMES)' '17kwi17:02' '349.50' '332.00' '330.00' '353.50' '13697060' '28.855%']]

***TEST 1***

In [187]:
#Question 1
import numpy as np
arr = np.ndarray((2,4))
print(arr.dtype)

float64

In [188]:
#Question 2
import numpy as np
 
 
arr = np.array(
    [
        [[0.0, 2.0, 0.5, 1.0], [0.0, 2.0, 0.0, 3.0], [0.0, 4.0, 0.0, 0.0]],
        [[0.0, 0.5, 0.0, 0.2], [0.0, 0.4, 0.0, 5.0], [0.0, 0.0, 1.0, 0.0]],
    ],
    dtype='float32',
)
print(type(arr))

<class 'numpy.ndarray'>

In [191]:
#Question 3

arr1 = np.array([[3, 4], [7, 2]], dtype='float32')
arr2 = np.array([[3, 4], [7, 2]], dtype='float16')
arr3 = np.array([[3, 4], [7, 2]], dtype='int32')
arr4 = np.array([[3, 4], [7, 2]], dtype='int64')

print(arr1.nbytes)
print(arr2.nbytes)
print(arr3.nbytes)
print(arr4.nbytes)

16
8
16
32

In [192]:
#Question 4
import numpy as np
 
 
arr = np.arange(10, 100, 10)
print(arr)

[10 20 30 40 50 60 70 80 90]

In [197]:
np.tile(np.arange(1, 10, 2), (4,1))

array([[1, 3, 5, 7, 9],
       [1, 3, 5, 7, 9],
       [1, 3, 5, 7, 9],
       [1, 3, 5, 7, 9]])

In [200]:
np.identity(5, dtype = int)

array([[1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1]])

In [204]:
np.full(5, dtype = int, fill_value=1)

array([1, 1, 1, 1, 1])

In [206]:
arr = np.array([[[[4, 5, 2], [1, 2, 9]]]])
np.squeeze(arr)

array([[4, 5, 2],
       [1, 2, 9]])

In [210]:
arr = np.array(
    [
        [0.82099623, 0.18434514, 0.07869875, 0.30224637],
        [0.41717424, 0.99255052, 0.52972868, 0.69760684],
        [0.09067095, 0.49947004, 0.12569393, 0.82154367],
        [0.76099946, 0.98516906, 0.050164, 0.17941131],
        [0.63094448, 0.55696111, 0.50296981, 0.24180981],
        [0.56905011, 0.86905967, 0.96313547, 0.69613793],
    ]
)

print(arr[:, 3:4])

[[0.30224637]
 [0.69760684]
 [0.82154367]
 [0.17941131]
 [0.24180981]
 [0.69613793]]

***SECTION 19 - APPENDING, CONCATENATING & STACKING***

In [211]:
#Exercise 1
"""
Combine the following NumPy arrays into one as shown below and print it to the console.
"""
import numpy as np


arr1 = np.arange(12).reshape(-1, 4)
arr2 = np.array([[4, 3, 7, 2], [0, 5, 2, 6]])

arr = np.concatenate((arr1,arr2))
#result = np.append(arr1, arr2, axis=0)
print(arr)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [ 4  3  7  2]
 [ 0  5  2  6]]

In [213]:
#Exercise 2
"""
Concatenate these arrays as follows:
"""
import numpy as np

A = np.array([[3, 4, 5], [8, 3, 1]])
B = np.array([[0, 5, 2], [4, 2, 1]])

arr = np.concatenate((A,B))
print(arr)

[[3 4 5]
 [8 3 1]
 [0 5 2]
 [4 2 1]]

In [214]:
#Exercise 3
import numpy as np


data = np.array([[4.3, 4.2], [3.1, 3.6]])
target = np.array([[0], [1]])

arr = np.concatenate((data,target), axis = 1)
print(arr)

[[4.3 4.2 0. ]
 [3.1 3.6 1. ]]

In [220]:
#Exercise 4
"""
Transform each of these arrays into a column and concatenate them into one array as shown below. 
In response, print the result to the console.
"""
import numpy as np

feature1 = np.array([1.6, 0.9, 2.2])
feature2 = np.array([0.4, 1.3, 3.2])
feature3 = np.array([1.4, 0.3, 1.2])

arr = np.column_stack((feature1,feature2,feature3))
print(arr)

[[1.6 0.4 1.4]
 [0.9 1.3 0.3]
 [2.2 3.2 1.2]]

In [234]:
#Exercise 5
"""
Add a third row to this array with the values 3, 4, 6, 7 as follows:
"""
import numpy as np

arr = np.array(
    [
        [0, 1, 5, 7],
        [8, 9, 2, 5],
    ]
)
column = np.array([[3,4,6,7]])
new_arr = np.concatenate((arr,column))
print(new_arr)

[[0 1 5 7]
 [8 9 2 5]
 [3 4 6 7]]

In [243]:
#Exercise 6
"""
Write a function called shift() that takes two arguments:
-arr - a 1D NumPy array
-n - an integer, shift
and shifts the array elements by n.
"""
import numpy as np
 
def shift(arr, n):
    if n == 0:
        return arr
    elif n >= 0:
        return np.concatenate(
            (np.full(n, np.nan, dtype=arr.dtype), arr[:-n])
        )
    else:
        return np.concatenate(
            (arr[-n:], np.full(-n, np.nan, dtype=arr.dtype))
        )
arr = np.array([1., 0., 2., 9., 2., 6., 4., 7., 6.], dtype='float32')
print(shift(arr, 2))

[nan nan  1.  0.  2.  9.  2.  6.  4.]

In [259]:
arr = np.array([1., 0., 2., 9., 2., 6., 4., 7., 6.], dtype='float32')
arr = np.concatenate((np.full(2, np.nan, dtype=arr.dtype), arr[:-2]))
print(arr)

[nan nan  1.  0.  2.  9.  2.  6.  4.]

***SECTION 20 - APPENDING, CONCATENATING & STACKING***

In [284]:
#Exercise 1
import numpy as np

A = np.array([0, 1, 5, 7])
B = np.array([[6, 2, 6, 2], [3, 4, 6, 7]])
C = np.array([[56], [65], [79]])
#result = np.vstack((A, B))
#result = np.hstack((result, C))
arr1 = np.row_stack((A,B))
arr2 = np.column_stack((arr1,C)) 
print(arr2)

[[ 0  1  5  7 56]
 [ 6  2  6  2 65]
 [ 3  4  6  7 79]]

In [293]:
#Exercise 2
"""
Calculate a new column: the difference between the highest and lowest price (high - low).

Steps:
-Assign the calculated difference to the max_min_diff variable
-Add the calculated column (variable max_min_diff) to the array playway_values at the end.
"""
import numpy as np

np.set_printoptions(suppress=True)
playway_values = np.array(
    [
        [305.0, 324.5, 283.5, 310.0, 64081.0],
        [325.5, 340.5, 320.0, 340.5, 55496.0],
        [324.0, 340.5, 315.0, 330.0, 36152.0],
        [344.0, 344.0, 310.0, 315.0, 35992.0],
        [306.5, 307.0, 291.0, 305.0, 32539.0],
        [274.0, 291.0, 250.0, 258.0, 79402.0],
        [278.0, 284.5, 256.0, 264.0, 35700.0],
        [270.0, 270.0, 238.5, 245.0, 60445.0],
        [218.0, 228.0, 196.0, 197.0, 94031.0],
        [210.0, 229.0, 198.8, 211.0, 100412.0],
        [205.0, 248.0, 197.8, 240.5, 50659.0],
        [245.0, 269.0, 232.5, 264.0, 99480.0],
        [264.0, 280.0, 251.0, 270.0, 70136.0],
        [267.0, 280.0, 267.0, 279.5, 30732.0],
        [297.5, 307.0, 280.0, 280.5, 43426.0],
        [274.0, 289.0, 258.0, 285.0, 37098.0],
        [305.0, 309.0, 296.5, 309.0, 31939.0],
        [313.0, 330.0, 295.0, 304.0, 46724.0],
        [300.0, 309.0, 295.5, 300.0, 27213.0],
        [302.0, 306.5, 290.0, 296.0, 13466.0],
        [299.0, 300.0, 287.0, 300.0, 10316.0],
        [302.5, 309.0, 302.0, 306.5, 15698.0],
    ]
)

arr1 = playway_values[:,[1]]
arr2 = playway_values[:,[2]]
max_min_diff = arr1 - arr2

playway_values = np.column_stack((playway_values,max_min_diff ))
#playway_values = np.concatenate((playway_values, max_min_diff), axis=1)
print(playway_values)

[[   305.     324.5    283.5    310.   64081.      41. ]
 [   325.5    340.5    320.     340.5  55496.      20.5]
 [   324.     340.5    315.     330.   36152.      25.5]
 [   344.     344.     310.     315.   35992.      34. ]
 [   306.5    307.     291.     305.   32539.      16. ]
 [   274.     291.     250.     258.   79402.      41. ]
 [   278.     284.5    256.     264.   35700.      28.5]
 [   270.     270.     238.5    245.   60445.      31.5]
 [   218.     228.     196.     197.   94031.      32. ]
 [   210.     229.     198.8    211.  100412.      30.2]
 [   205.     248.     197.8    240.5  50659.      50.2]
 [   245.     269.     232.5    264.   99480.      36.5]
 [   264.     280.     251.     270.   70136.      29. ]
 [   267.     280.     267.     279.5  30732.      13. ]
 [   297.5    307.     280.     280.5  43426.      27. ]
 [   274.     289.     258.     285.   37098.      31. ]
 [   305.     309.     296.5    309.   31939.      12.5]
 [   313.     330.     295.     304.   46724.      35. ]
 [   300.     309.     295.5    300.   27213.      13.5]
 [   302.     306.5    290.     296.   13466.      16.5]
 [   299.     300.     287.     300.   10316.      13. ]
 [   302.5    309.     302.     306.5  15698.       7. ]]

In [42]:
#Exercise 3
"""
Add to this array column that returns 1 in case the close price is higher than the open price,
otherwise 0.
"""
import numpy as np

np.set_printoptions(suppress=True)
playway_values = np.array(
    [
        [305.0, 324.5, 283.5, 310.0, 64081.0],
        [325.5, 340.5, 320.0, 340.5, 55496.0],
        [324.0, 340.5, 315.0, 330.0, 36152.0],
        [344.0, 344.0, 310.0, 315.0, 35992.0],
        [306.5, 307.0, 291.0, 305.0, 32539.0],
        [274.0, 291.0, 250.0, 258.0, 79402.0],
        [278.0, 284.5, 256.0, 264.0, 35700.0],
        [270.0, 270.0, 238.5, 245.0, 60445.0],
        [218.0, 228.0, 196.0, 197.0, 94031.0],
        [210.0, 229.0, 198.8, 211.0, 100412.0],
        [205.0, 248.0, 197.8, 240.5, 50659.0],
        [245.0, 269.0, 232.5, 264.0, 99480.0],
        [264.0, 280.0, 251.0, 270.0, 70136.0],
        [267.0, 280.0, 267.0, 279.5, 30732.0],
        [297.5, 307.0, 280.0, 280.5, 43426.0],
        [274.0, 289.0, 258.0, 285.0, 37098.0],
        [305.0, 309.0, 296.5, 309.0, 31939.0],
        [313.0, 330.0, 295.0, 304.0, 46724.0],
        [300.0, 309.0, 295.5, 300.0, 27213.0],
        [302.0, 306.5, 290.0, 296.0, 13466.0],
        [299.0, 300.0, 287.0, 300.0, 10316.0],
        [302.5, 309.0, 302.0, 306.5, 15698.0],
    ]
)

close_price = playway_values[:,3]
higher_price = playway_values[:,0]

new_column =  np.array(close_price > higher_price, dtype = 'int')
playway_values = np.column_stack((playway_values, new_column))
print(playway_values)

[[   305.     324.5    283.5    310.   64081.       1. ]
 [   325.5    340.5    320.     340.5  55496.       1. ]
 [   324.     340.5    315.     330.   36152.       1. ]
 [   344.     344.     310.     315.   35992.       0. ]
 [   306.5    307.     291.     305.   32539.       0. ]
 [   274.     291.     250.     258.   79402.       0. ]
 [   278.     284.5    256.     264.   35700.       0. ]
 [   270.     270.     238.5    245.   60445.       0. ]
 [   218.     228.     196.     197.   94031.       0. ]
 [   210.     229.     198.8    211.  100412.       1. ]
 [   205.     248.     197.8    240.5  50659.       1. ]
 [   245.     269.     232.5    264.   99480.       1. ]
 [   264.     280.     251.     270.   70136.       1. ]
 [   267.     280.     267.     279.5  30732.       1. ]
 [   297.5    307.     280.     280.5  43426.       0. ]
 [   274.     289.     258.     285.   37098.       1. ]
 [   305.     309.     296.5    309.   31939.       1. ]
 [   313.     330.     295.     304.   46724.       0. ]
 [   300.     309.     295.5    300.   27213.       0. ]
 [   302.     306.5    290.     296.   13466.       0. ]
 [   299.     300.     287.     300.   10316.       1. ]
 [   302.5    309.     302.     306.5  15698.       1. ]]

In [45]:
#Exercise 4
"""
Combine these two arrays into one 3-dimensional 2x3x4 array as follows:
"""
import numpy as np
A = np.array(
    [
        [1.3315865, 0.71527897, -1.54540029, -0.00838385],
        [0.62133597, -0.72008556, 0.26551159, 0.10854853],
        [0.00429143, -0.17460021, 0.43302619, 1.20303737],
    ]
)
B = np.array(
    [
        [-0.96506567, 1.02827408, 0.22863013, 0.44513761],
        [-1.13660221, 0.13513688, 1.484537, -1.07980489],
        [-1.97772828, -1.7433723, 0.26607016, 2.38496733],
    ]
)

C = np.concatenate(([A],[B]))
print(C)

[[[ 1.3315865   0.71527897 -1.54540029 -0.00838385]
  [ 0.62133597 -0.72008556  0.26551159  0.10854853]
  [ 0.00429143 -0.17460021  0.43302619  1.20303737]]

 [[-0.96506567  1.02827408  0.22863013  0.44513761]
  [-1.13660221  0.13513688  1.484537   -1.07980489]
  [-1.97772828 -1.7433723   0.26607016  2.38496733]]]

In [46]:
#Another way
result = np.stack((A,B)) #Combine  two arrays into one 3-dimensional
print(result)

[[[ 1.3315865   0.71527897 -1.54540029 -0.00838385]
  [ 0.62133597 -0.72008556  0.26551159  0.10854853]
  [ 0.00429143 -0.17460021  0.43302619  1.20303737]]

 [[-0.96506567  1.02827408  0.22863013  0.44513761]
  [-1.13660221  0.13513688  1.484537   -1.07980489]
  [-1.97772828 -1.7433723   0.26607016  2.38496733]]]

In [47]:
#Exercise 5
"""

"""

import numpy as np

A = np.array(
    [
        [0, 1, 5, 7],
        [8, 9, 2, 5],
        [3, 4, 6, 7],
    ]
)
B = np.column_stack((A, np.array([1,4,2])))
print(B)

[[0 1 5 7 1]
 [8 9 2 5 4]
 [3 4 6 7 2]]

***SECTION 21 - SORTING, SEARCHING & COUNTING***

In [54]:
#Exercise 1
"""
Sort this array:
-by row (ascending)
-by column (ascending)
And print result to the console as shown below.
"""

import numpy as np
A = np.array(
    [
        [4.99, 3.49, 9.99],
        [1.99, 9.99, 4.99],
        [14.99, 2.39, 7.29],
    ]
)

A = np.sort(A, axis = 1)
A2 = np.sort(A, axis = 0)
print(A)
print(A2)

[[ 3.49  4.99  9.99]
 [ 1.99  4.99  9.99]
 [ 2.39  7.29 14.99]]
[[ 1.99  4.99  9.99]
 [ 2.39  4.99  9.99]
 [ 3.49  7.29 14.99]]

In [55]:
#Exercise 2
"""
Sort this array along the rows in ascending order and assign to the variable image_sorted.
"""
import numpy as np
image = np.random.randint(
    low=0,
    high=256,
    size=(200, 300),
    dtype=np.uint8,
)

image_sorted = np.sort(image, axis = 1)
print(image_sorted)

[[  0   0   0 ... 253 254 255]
 [  0   2   3 ... 251 254 255]
 [  2   2   4 ... 251 252 252]
 ...
 [  2   2   5 ... 254 254 254]
 [  0   0   1 ... 251 254 255]
 [  3   3   4 ... 254 254 255]]

In [58]:
#Exercise 3
"""
Return a list of indexes that sorts this array in ascending order and print it to the console.
"""
import numpy as np

arr = np.array([0.2, 0.15, 0.1, 0.3, 0.2, 0.05])

arr = np.argsort(arr) #Returns the indices that would sort an array.
print(arr)

[5 2 1 0 4 3]

In [90]:
#Exercise 4
"""
Using the function np.apply_along_axis(), sort this array in ascending order along the rows.
"""
import numpy as np

arr = np.array(
    [
        [4, 3, 6],
        [5, 2, 7],
        [8, 3, 10],
        [-3, 4, 2],
    ]
)
"""def function(arr):
    for row in arr:
        arr = np.sort(row)
        #print(arr)"""
        
new_arr = np.apply_along_axis(sorted, -1,arr)
print(new_arr)

[[ 3  4  6]
 [ 2  5  7]
 [ 3  8 10]
 [-3  2  4]]

In [16]:
#Exercise 5
"""
Using the np.apply_along_axis() function, find the difference between the highest and the lowest value for each column of this array. 
In response, print the result to the console.
"""
import numpy as np
arr = np.array(
    [
        [4, 3, 6],
        [5, 2, 7],
        [8, 3, 10],
        [-3, 4, 2],
    ]
)
def max_min(arr):
    return max(arr)- min(arr)

arr = np.apply_along_axis(max_min, 0, arr)
print(arr)

[11  2  8]

In [15]:
#Another way
def calc_diff(column):
    return max(column) - min(column)    
 
 
diff = np.apply_along_axis(calc_diff, 0, arr)
print(diff)

[11  2  8]

In [22]:
#Exercise 6
"""
From this array, extract all the numbers divided by 3 and print result to the console.
"""
import numpy as np

A = np.array(
    [
        [563, 996, 272, 400, 487, 581, 117, 749, 434, 815],
        [195, 942, 938, 580, 897, 72, 109, 600, 979, 586],
        [468, 970, 898, 765, 316, 368, 143, 381, 674, 971],
        [963, 733, 548, 247, 779, 170, 830, 665, 692, 502],
        [40, 494, 384, 353, 337, 181, 689, 142, 181, 386],
    ]
)
B = []
for row in A:
    for element in row:
        if element % 3 == 0:
            B.append(element)
B = np.asarray(B)
print(B)
#Another form
result = A[A % 3 == 0]
print(result)

[996 117 195 942 897  72 600 468 765 381 963 384]
[996 117 195 942 897  72 600 468 765 381 963 384]

In [30]:
#Exercise 7
"""
In this array, replace all numbers divided by 5 with 0 and print this array to the console.
"""
import numpy as np

A = np.array(
    [
        [563, 996, 272, 400, 487, 581, 117, 749, 434, 815],
        [195, 942, 938, 580, 897, 72, 109, 600, 979, 586],
        [468, 970, 898, 765, 316, 368, 143, 381, 674, 971],
        [963, 733, 548, 247, 779, 170, 830, 665, 692, 502],
        [40, 494, 384, 353, 337, 181, 689, 142, 181, 386],
    ]
)
B = []
for row in A:
    for element in row:
        if element % 5 == 0:
            element = 0
            B.append(element)
        else:
            B.append(element)
B = np.asarray([B]).reshape(5,10)
print(B)
#Another way
A[A % 5 == 0] = 0
print(A)

[[563 996 272   0 487 581 117 749 434   0]
 [  0 942 938   0 897  72 109   0 979 586]
 [468   0 898   0 316 368 143 381 674 971]
 [963 733 548 247 779   0   0   0 692 502]
 [  0 494 384 353 337 181 689 142 181 386]]
[[563 996 272   0 487 581 117 749 434   0]
 [  0 942 938   0 897  72 109   0 979 586]
 [468   0 898   0 316 368 143 381 674 971]
 [963 733 548 247 779   0   0   0 692 502]
 [  0 494 384 353 337 181 689 142 181 386]]

In [86]:
#Exercise 8
"""
Find the indexes for the top five values for a given column. 
In response, print the result to the console as shown below.
"""
import numpy as np

np.random.seed(20)
arr = np.array(
    [
        [0.81962558, 0.49493548, 0.26629952, -1.93044173],
        [-1.14910012, 0.85876675, 0.84823235, -0.56566086],
        [0.43882931, 0.70548493, 0.23222401, -0.0805907],
        [-0.85628432, -0.54329747, -1.37073966, 0.65853535],
        [-0.10846233, 1.86670301, 0.95987168, 0.81918861],
        [-0.23291363, -2.89063233, 1.02889526, 1.74559839],
        [-0.3076063, 0.16903975, -0.20025437, 1.96900662],
        [0.06451082, -1.76787826, -0.97673015, -0.6917593],
        [0.86859882, 2.35890846, -1.02617496, -1.20017004],
        [0.46280219, -1.25203028, 0.23837634, -0.72370636],
    ]
)
result = np.argsort(arr, axis = 0)[-5:][::-1]
print(result)

[[8 8 5 6]
 [0 4 4 5]
 [9 1 1 4]
 [2 2 0 3]
 [7 0 9 2]]

***SECTION 22 - SORTING, SEARCHING & COUNTING***

In [93]:
#Exercise 1
"""
Set all values greater than 1.05 to 1.05 and print this array to the console.
"""
import numpy as np

accumulation_factors = np.array(
    [
        [1.03, 1.085, 1.037],
        [1.037, 1.035, 1.04],
        [1.02, 1.05, 1.028],
        [1.01, 1.023, 1.088],
    ]
)
B = []
for row in accumulation_factors.flat:
    if row > 1.05:
        row = 1.05
        B.append(row)
    else:
        B.append(row)
B = np.asarray(B).reshape(4,3)
print(B)
print('ANOTHER WAY')
result = np.where(accumulation_factors > 1.05, 1.05, accumulation_factors)
print(result)

[[1.03  1.05  1.037]
 [1.037 1.035 1.04 ]
 [1.02  1.05  1.028]
 [1.01  1.023 1.05 ]]
ANOTHER WAY
[[1.03  1.05  1.037]
 [1.037 1.035 1.04 ]
 [1.02  1.05  1.028]
 [1.01  1.023 1.05 ]]

In [100]:
#Exercise 2
"""
Which represents the probability of a given class in a machine learning model with 4 classes (columns). 
The classes are identified with the following indices: 0, 1, 2 and 3. 
Using NumPy, extract the class labels for each data sample (5 rows) and print it to the console.
"""
import numpy as np

probabilities = np.array(
    [
        [0.2, 0.6, 0.1, 0.1],
        [0.1, 0.3, 0.4, 0.2],
        [0.9, 0.0, 0.0, 0.1],
        [0.05, 0.15, 0.8, 0.0],
        [0.2, 0.7, 0.1, 0.0],
    ]
)
probabilities = np.argmax(probabilities, axis = 1)
print(probabilities)

[1 2 0 2 1]

In [118]:
#Exercise 3
"""
Which represents the probability of a given class in a machine learning model with 4 classes (columns). 
The classes are identified with the following indices: 0, 1, 2 and 3. Using NumPy, 
extract the class labels for each data sample (5 rows) as shown below and print it to the console.
"""
import numpy as np
probabilities = np.array(
    [
        [0.2, 0.6, 0.1, 0.1],
        [0.1, 0.3, 0.6, 0.0],
        [0.9, 0.0, 0.0, 0.1],
        [0.05, 0.15, 0.8, 0.0],
        [0.2, 0.7, 0.1, 0.0],
    ]
)
result = np.where(probabilities >= 0.6, 1, probabilities)
result = np.where(result !=1, 0, result)
result = result.astype('int')
print(result)
print('Another solution')
result2 = np.where(probabilities > 0.5, 1, 0)
print(result2)

[[0 1 0 0]
 [0 0 1 0]
 [1 0 0 0]
 [0 0 1 0]
 [0 1 0 0]]
Another solution
[[0 1 0 0]
 [0 0 1 0]
 [1 0 0 0]
 [0 0 1 0]
 [0 1 0 0]]

In [187]:
#Exercise 4
"""
Which represents the stock market data.
The columns mean respectively: open price, max price, min price, close price and volume. 
Calculate the average price for a given trading session (open + high + low + close / 4) and concatenate it 
with the volume. 
In response, print the result to the console.
"""

import numpy as np


playway = np.array(
    [
        [305.0, 324.5, 283.5, 310.0, 64081.0],
        [325.5, 340.5, 320.0, 340.5, 55496.0],
        [324.0, 340.5, 315.0, 330.0, 36152.0],
        [344.0, 344.0, 310.0, 315.0, 35992.0],
        [306.5, 307.0, 291.0, 305.0, 32539.0],
        [274.0, 291.0, 250.0, 258.0, 79402.0],
        [278.0, 284.5, 256.0, 264.0, 35700.0],
        [270.0, 270.0, 238.5, 245.0, 60445.0],
        [218.0, 228.0, 196.0, 197.0, 94031.0],
        [210.0, 229.0, 198.8, 211.0, 100412.0],
        [205.0, 248.0, 197.8, 240.5, 50659.0],
        [245.0, 269.0, 232.5, 264.0, 99480.0],
        [264.0, 280.0, 251.0, 270.0, 70136.0],
        [267.0, 280.0, 267.0, 279.5, 30732.0],
        [297.5, 307.0, 280.0, 280.5, 43426.0],
        [274.0, 289.0, 258.0, 285.0, 37098.0],
        [305.0, 309.0, 296.5, 309.0, 31939.0],
        [313.0, 330.0, 295.0, 304.0, 46724.0],
        [300.0, 309.0, 295.5, 300.0, 27213.0],
        [302.0, 306.5, 290.0, 296.0, 13466.0],
        [299.0, 300.0, 287.0, 300.0, 10316.0],
        [302.5, 309.0, 302.0, 306.5, 15698.0],
    ]
)
arr = playway[0:,[0]]
arr2 = playway[0:,[1]]
arr3 =  playway[0:,[2]]
arr4 = playway[0:,[3]]
arr5 = playway[:,4]
result = np.round((arr+arr2+arr3+arr4)/4,2)
result = np.column_stack((result,arr5))
print(result)
"""
result = np.c_[
    np.round(np.average(playway[:, [0, 1, 2, 3]], axis=1), 2), 
    playway[:, -1]
]
"""

[[   305.75  64081.  ]
 [   331.62  55496.  ]
 [   327.38  36152.  ]
 [   328.25  35992.  ]
 [   302.38  32539.  ]
 [   268.25  79402.  ]
 [   270.62  35700.  ]
 [   255.88  60445.  ]
 [   209.75  94031.  ]
 [   212.2  100412.  ]
 [   222.82  50659.  ]
 [   252.62  99480.  ]
 [   266.25  70136.  ]
 [   273.38  30732.  ]
 [   291.25  43426.  ]
 [   276.5   37098.  ]
 [   304.88  31939.  ]
 [   310.5   46724.  ]
 [   301.12  27213.  ]
 [   298.62  13466.  ]
 [   296.5   10316.  ]
 [   305.    15698.  ]]

''

In [197]:
#Exercise 5
"""
From this array, extract all numbers that belong to the interval [100, 200] 
and print these numbers to the console.
"""

import numpy as np

A = np.array(
    [
        [563, 996, 272, 400, 487, 581, 117, 749, 434, 815],
        [195, 942, 938, 580, 897, 72, 109, 600, 979, 586],
        [468, 970, 898, 765, 316, 368, 143, 381, 674, 971],
        [963, 733, 548, 247, 779, 170, 830, 665, 692, 502],
        [40, 494, 384, 353, 337, 181, 689, 142, 181, 386],
    ]
)
element = []
for row in A.flat:
    if row >= 100 and row <=200:
        element.append(row)
element = np.array(element)
print(element)
"""
result = A[(A >= 100) & (A <= 200)]
print(result)
"""

[117 195 109 143 170 181 142 181]

In [205]:
#Exercise 6
"""
Return a list of indexes with maximum values for each row from this array and print it to the console.
"""
import numpy as np

A = np.array([[0.4, 0.3, 0.3], [0.1, 0.1, 0.8], [0.2, 0.5, 0.3]])
A = np.argmax(A, axis = 1)
print(A)

[0 2 1]

In [253]:
#Exercise 7
"""
From this array extract the first 10 rows with the highest volume sorted in descending order.
"""
import numpy as np


np.set_printoptions(suppress=True)
playway_values = np.array(
    [
        [305.0, 324.5, 283.5, 310.0, 64081.0],
        [325.5, 340.5, 320.0, 340.5, 55496.0],
        [324.0, 340.5, 315.0, 330.0, 36152.0],
        [344.0, 344.0, 310.0, 315.0, 35992.0],
        [306.5, 307.0, 291.0, 305.0, 32539.0],
        [274.0, 291.0, 250.0, 258.0, 79402.0],
        [278.0, 284.5, 256.0, 264.0, 35700.0],
        [270.0, 270.0, 238.5, 245.0, 60445.0],
        [218.0, 228.0, 196.0, 197.0, 94031.0],
        [210.0, 229.0, 198.8, 211.0, 100412.0],
        [205.0, 248.0, 197.8, 240.5, 50659.0],
        [245.0, 269.0, 232.5, 264.0, 99480.0],
        [264.0, 280.0, 251.0, 270.0, 70136.0],
        [267.0, 280.0, 267.0, 279.5, 30732.0],
        [297.5, 307.0, 280.0, 280.5, 43426.0],
        [274.0, 289.0, 258.0, 285.0, 37098.0],
        [305.0, 309.0, 296.5, 309.0, 31939.0],
        [313.0, 330.0, 295.0, 304.0, 46724.0],
        [300.0, 309.0, 295.5, 300.0, 27213.0],
        [302.0, 306.5, 290.0, 296.0, 13466.0],
        [299.0, 300.0, 287.0, 300.0, 10316.0],
        [302.5, 309.0, 302.0, 306.5, 15698.0],
    ]
)
result = playway_values[playway_values[:, 4].argsort()[::-1]][:10]
print(result)

[[   210.     229.     198.8    211.  100412. ]
 [   245.     269.     232.5    264.   99480. ]
 [   218.     228.     196.     197.   94031. ]
 [   274.     291.     250.     258.   79402. ]
 [   264.     280.     251.     270.   70136. ]
 [   305.     324.5    283.5    310.   64081. ]
 [   270.     270.     238.5    245.   60445. ]
 [   325.5    340.5    320.     340.5  55496. ]
 [   205.     248.     197.8    240.5  50659. ]
 [   313.     330.     295.     304.   46724. ]]

***SECTION 23 FILTERING & BOOLEAN MASK***

In [254]:
#Exercise 1
"""
Extract all elements from the following array with a value greater than 8 and print them to the console.
"""
import numpy as np


arr = np.array(
    [
        [4.99, 3.49, 9.99],
        [1.99, 9.99, 4.99],
        [14.99, 2.39, 7.29],
    ]
)
arr = arr[arr >=9.99]
print(arr)

[ 9.99  9.99 14.99]

In [259]:
#Exercise 2
"""
Replace elements greater than 10 with a fixed value = 10.0 and print this array to the console.
"""
import numpy as np

arr = np.array(
    [
        [4.99, 3.49, 9.99],
        [1.99, 9.99, 14.99],
        [14.99, 2.39, 7.29],
    ]
)
arr[arr > 10] = 10.0
"""
result = np.where(arr > 10.0, 10.0, arr)
print(result)
"""
print(arr)

[[ 4.99  3.49  9.99]
 [ 1.99  9.99 10.  ]
 [10.    2.39  7.29]]

In [274]:
#Exercise 3
"""
Calculate the total trading volume (last column) for March of this company and print result to the console.
"""
import numpy as np


playway = np.array(
    [
        ['Date', 'Open', 'High', 'Low', 'Close', 'Volume'],
        ['2020-03-02', '305', '324.5', '283.5', '310', '64081'],
        ['2020-03-03', '325.5', '340.5', '320', '340.5', '55496'],
        ['2020-03-04', '324', '340.5', '315', '330', '36152'],
        ['2020-03-05', '344', '344', '310', '315', '35992'],
        ['2020-03-06', '306.5', '307', '291', '305', '32539'],
        ['2020-03-09', '274', '291', '250', '258', '79402'],
        ['2020-03-10', '278', '284.5', '256', '264', '35700'],
        ['2020-03-11', '270', '270', '238.5', '245', '60445'],
        ['2020-03-12', '218', '228', '196', '197', '94031'],
        ['2020-03-13', '210', '229', '198.8', '211', '100412'],
        ['2020-03-16', '205', '248', '197.8', '240.5', '50659'],
        ['2020-03-17', '245', '269', '232.5', '264', '99480'],
        ['2020-03-18', '264', '280', '251', '270', '70136'],
        ['2020-03-19', '267', '280', '267', '279.5', '30732'],
        ['2020-03-20', '297.5', '307', '280', '280.5', '43426'],
        ['2020-03-23', '274', '289', '258', '285', '37098'],
        ['2020-03-24', '305', '309', '296.5', '309', '31939'],
        ['2020-03-25', '313', '330', '295', '304', '46724'],
        ['2020-03-26', '300', '309', '295.5', '300', '27213'],
        ['2020-03-27', '302', '306.5', '290', '296', '13466'],
        ['2020-03-30', '299', '300', '287', '300', '10316'],
        ['2020-03-31', '302.5', '309', '302', '306.5', '15698'],
    ],
    dtype='<U10',
)
arr = np.array(playway[1:,-1]).astype('float')
arr = np.sum(arr)
print(arr)

1071137.0

In [279]:
#Exercise 4
"""
Count the total number of 0.0 values in this array and print it to the console.
"""
import numpy as np


probabilities = np.array(
    [
        [0.2, 0.6, 0.1, 0.1],
        [0.1, 0.3, 0.6, 0.0],
        [0.9, 0.0, 0.0, 0.1],
        [0.05, 0.15, 0.8, 0.0],
        [0.2, 0.7, 0.1, 0.0],
    ]
)
count = 0
for row in probabilities.flat:
    if row == 0:
        count = count +1
print(count)    
"""
mask = probabilities == 0.0
result = np.count_nonzero(mask)
"""

5

In [311]:
#Exercise 5
"""
Calculate the average for the close price, then use that average to check which values are greater
than that average across the entire array (boolean mask). Exclude only the last column (volume). 
In response, print the result to the console.
"""
import numpy as np


playway = np.array(
    [
        [305.0, 324.5, 283.5, 310.0, 64081.0],
        [325.5, 340.5, 320.0, 340.5, 55496.0],
        [324.0, 340.5, 315.0, 330.0, 36152.0],
        [344.0, 344.0, 310.0, 315.0, 35992.0],
        [306.5, 307.0, 291.0, 305.0, 32539.0],
        [274.0, 291.0, 250.0, 258.0, 79402.0],
        [278.0, 284.5, 256.0, 264.0, 35700.0],
        [270.0, 270.0, 238.5, 245.0, 60445.0],
        [218.0, 228.0, 196.0, 197.0, 94031.0],
        [210.0, 229.0, 198.8, 211.0, 100412.0],
        [205.0, 248.0, 197.8, 240.5, 50659.0],
        [245.0, 269.0, 232.5, 264.0, 99480.0],
        [264.0, 280.0, 251.0, 270.0, 70136.0],
        [267.0, 280.0, 267.0, 279.5, 30732.0],
        [297.5, 307.0, 280.0, 280.5, 43426.0],
        [274.0, 289.0, 258.0, 285.0, 37098.0],
        [305.0, 309.0, 296.5, 309.0, 31939.0],
        [313.0, 330.0, 295.0, 304.0, 46724.0],
        [300.0, 309.0, 295.5, 300.0, 27213.0],
        [302.0, 306.5, 290.0, 296.0, 13466.0],
        [299.0, 300.0, 287.0, 300.0, 10316.0],
        [302.5, 309.0, 302.0, 306.5, 15698.0],
    ]
)
arr = []
close_price = np.average(playway[:,[3]])
for row in playway[0:,:4].flat:
    if row > close_price:
        row = True
        arr.append(row) 
    else:
        row = False
        arr.append(row)
arr = np.array(arr).reshape(22,4)
print(arr)
"""
avg = np.average(playway, axis=0)[3]
mask = (playway > avg)[:, :-1]
"""

[[ True  True  True  True]
 [ True  True  True  True]
 [ True  True  True  True]
 [ True  True  True  True]
 [ True  True  True  True]
 [False  True False False]
 [False  True False False]
 [False False False False]
 [False False False False]
 [False False False False]
 [False False False False]
 [False False False False]
 [False False False False]
 [False False False False]
 [ True  True False False]
 [False  True False  True]
 [ True  True  True  True]
 [ True  True  True  True]
 [ True  True  True  True]
 [ True  True  True  True]
 [ True  True  True  True]
 [ True  True  True  True]]

In [351]:
#Exercise 6
"""
From this array, extract a row with the value 'PKOBP' in the first column and print this row
to the console (don't use an explicitly declared index - try to search for the value).
"""
import numpy as np
stocks = np.array(
    [
        ['PEKAO', '9619710660', '6.185', '5.27', '9'],
        ['PGE', '3561588720', '2.290', '2.88', '18'],
        ['PGNIG', '6072784704', '3.905', '1.56', '12'],
        ['PKNORLEN', '17701360760', '11.382', '12.44', '8'],
        ['PKOBP', '18807014490', '12.093', '10.49', '9'],
        ['PLAY', '3696209380', '2.377', '1.47', '16'],
        ['PZU', '17515160100', '11.262', '6.64', '6'],
    ],
    dtype='<U12',
)
row = stocks[stocks[:, 0] == 'PKOBP']
print(row)

[['PKOBP' '18807014490' '12.093' '10.49' '9']]

In [352]:
stocks[:, 0]

array(['PEKAO', 'PGE', 'PGNIG', 'PKNORLEN', 'PKOBP', 'PLAY', 'PZU'],
      dtype='<U12')

In [369]:
#Exercise 7
"""
Extract rows from this array where close price (column with index 3) is greater than 300.0. 
In response, print the result to the console as shown below.
"""
import numpy as np


np.set_printoptions(suppress=True)
playway_values = np.array(
    [
        [305.0, 324.5, 283.5, 310.0, 64081.0],
        [325.5, 340.5, 320.0, 340.5, 55496.0],
        [324.0, 340.5, 315.0, 330.0, 36152.0],
        [344.0, 344.0, 310.0, 315.0, 35992.0],
        [306.5, 307.0, 291.0, 305.0, 32539.0],
        [274.0, 291.0, 250.0, 258.0, 79402.0],
        [278.0, 284.5, 256.0, 264.0, 35700.0],
        [270.0, 270.0, 238.5, 245.0, 60445.0],
        [218.0, 228.0, 196.0, 197.0, 94031.0],
        [210.0, 229.0, 198.8, 211.0, 100412.0],
        [205.0, 248.0, 197.8, 240.5, 50659.0],
        [245.0, 269.0, 232.5, 264.0, 99480.0],
        [264.0, 280.0, 251.0, 270.0, 70136.0],
        [267.0, 280.0, 267.0, 279.5, 30732.0],
        [297.5, 307.0, 280.0, 280.5, 43426.0],
        [274.0, 289.0, 258.0, 285.0, 37098.0],
        [305.0, 309.0, 296.5, 309.0, 31939.0],
        [313.0, 330.0, 295.0, 304.0, 46724.0],
        [300.0, 309.0, 295.5, 300.0, 27213.0],
        [302.0, 306.5, 290.0, 296.0, 13466.0],
        [299.0, 300.0, 287.0, 300.0, 10316.0],
        [302.5, 309.0, 302.0, 306.5, 15698.0],
    ]
)
arr = playway_values[playway_values[:,3] > 300]
print(arr)

[[  305.    324.5   283.5   310.  64081. ]
 [  325.5   340.5   320.    340.5 55496. ]
 [  324.    340.5   315.    330.  36152. ]
 [  344.    344.    310.    315.  35992. ]
 [  306.5   307.    291.    305.  32539. ]
 [  305.    309.    296.5   309.  31939. ]
 [  313.    330.    295.    304.  46724. ]
 [  302.5   309.    302.    306.5 15698. ]]

***SECTION 24 MISSING VALUES***

In [29]:
#Exercise 1
"""
Extract all values except missing values from this array and print it to the console.
"""
import numpy as np

arr = np.array([4, 3, 5, np.nan, 5, 3, np.nan], dtype='float32')
index = [3,6]
arr = np.delete(arr, index)
print(arr)
"""
result = arr[~np.isnan(arr)]
"""

[4. 3. 5. 5. 3.]

''

In [55]:
#Exercise 2
"""
Replace all missing values -  np.nan with a constant value of 0.0 and print this array to the console.
"""
import numpy as np

arr = np.array([4, 3, 5, np.nan, 5, 3, np.nan], dtype='float')
arr[3] = 0
arr[6] = 0
print(arr)
"""
arr[np.isnan(arr)] = 0
print(arr)
"""

[4. 3. 5. 0. 5. 3. 0.]

In [102]:
#Exercise 3
"""
Check if the following array has missing data - np.nan
"""
import numpy as np

arr = np.array([[3, 2, 1, np.nan], [5, np.nan, 1, 6]])
result = np.isnan(arr)
print(result)

[[False False False  True]
 [False  True False False]]

In [138]:
#Exercise 4
"""
Replace the minimum value of the specified array with the missing value. 
In response, print this array to the console.
"""
import numpy as np

np.random.seed(20)
arr = np.array(
    [
        [0.88389311],
        [0.19586502],
        [0.35753652],
        [-2.34326191],
        [-1.08483259],
        [0.55969629],
        [0.93946935],
        [-0.97848104],
        [0.50309684],
        [0.40641447],
    ]
)
arr[np.argmin(arr), 0] = np.nan
print(arr)

[[ 0.88389311]
 [ 0.19586502]
 [ 0.35753652]
 [        nan]
 [-1.08483259]
 [ 0.55969629]
 [ 0.93946935]
 [-0.97848104]
 [ 0.50309684]
 [ 0.40641447]]

In [197]:
#Exercise 5
"""
Split this array into three parts:
-the first two columns assign to the A1 variable
-the next four columns assign to the A2 variable
-the last two columns assign to the A3 variable
"""
import numpy as np

np.random.seed(42)

A = np.random.randint(low=0, high=7, size=(5, 8))
A[:, :2] = 0
A[:, -2:] = 1
print(A)
A1 = A[0:,:2]
print(A1)
A2 = A[0:,2:6]
print(A2)
A3 = A[0:,6:8]
print(A3)

[[0 0 4 6 2 4 1 1]
 [0 0 6 2 2 4 1 1]
 [0 0 1 3 5 5 1 1]
 [0 0 3 1 5 4 1 1]
 [0 0 2 6 1 3 1 1]]
[[0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]]
[[4 6 2 4]
 [6 2 2 4]
 [1 3 5 5]
 [3 1 5 4]
 [2 6 1 3]]
[[1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]]

In [204]:
A1, A2, A3 = np.split(A, [2,6], axis=1)
 
print(A1)
print(A2)
print(A3)

[[0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]]
[[4 6 2 4]
 [6 2 2 4]
 [1 3 5 5]
 [3 1 5 4]
 [2 6 1 3]]
[[1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]]

In [206]:
#Exercise 6
import numpy as np

A = np.array(
    [
        [2.46532508, 1.38323223, 0.34623312, 1.02251611, 0.16681027],
        [1.65671662, 0.66788961, -0.22994664, -1.12955119, -0.6399626],
        [0.31383052, -1.22583598, -0.22179314, 1.33992631, 0.02930971],
        [1.98538575, 1.4471656, -0.28762941, -1.35931057, -0.04804133],
        [-0.48078734, 0.37775309, 1.61440797, -1.12310404, -0.38872795],
        [0.33234995, 1.13497317, 0.51071441, 0.41429764, 1.34454942],
        [0.49351532, -0.23700418, 0.05728515, -0.70707145, 0.54666484],
        [0.94250041, -2.97959677, 1.21814885, -0.05652072, 0.46088845],
        [0.66237401, -2.29510333, -1.19592931, -0.33310116, -0.79139077],
        [0.27417278, -0.51490992, -1.7110712, 0.61229731, 1.10012937],
    ]
)
A1, A2 = np.split(A, [5], axis = 0)
print(A1)
print(A2)

[[ 2.46532508  1.38323223  0.34623312  1.02251611  0.16681027]
 [ 1.65671662  0.66788961 -0.22994664 -1.12955119 -0.6399626 ]
 [ 0.31383052 -1.22583598 -0.22179314  1.33992631  0.02930971]
 [ 1.98538575  1.4471656  -0.28762941 -1.35931057 -0.04804133]
 [-0.48078734  0.37775309  1.61440797 -1.12310404 -0.38872795]]
[[ 0.33234995  1.13497317  0.51071441  0.41429764  1.34454942]
 [ 0.49351532 -0.23700418  0.05728515 -0.70707145  0.54666484]
 [ 0.94250041 -2.97959677  1.21814885 -0.05652072  0.46088845]
 [ 0.66237401 -2.29510333 -1.19592931 -0.33310116 -0.79139077]
 [ 0.27417278 -0.51490992 -1.7110712   0.61229731  1.10012937]]

In [209]:
#Exercise 7
"""
Split this array into three arrays as follows:

-assign the first two rows to variable A1
-assign the next four rows to variable A2
-assign the last two rows to variable A3
"""
import numpy as np

A = np.array(
    [
        [2.46532508, 1.38323223, 0.34623312, 1.02251611, 0.16681027],
        [1.65671662, 0.66788961, -0.22994664, -1.12955119, -0.6399626],
        [0.31383052, -1.22583598, -0.22179314, 1.33992631, 0.02930971],
        [1.98538575, 1.4471656, -0.28762941, -1.35931057, -0.04804133],
        [-0.48078734, 0.37775309, 1.61440797, -1.12310404, -0.38872795],
        [0.94250041, -2.97959677, 1.21814885, -0.05652072, 0.46088845],
        [0.66237401, -2.29510333, -1.19592931, -0.33310116, -0.79139077],
        [0.27417278, -0.51490992, -1.7110712, 0.61229731, 1.10012937],
    ]
)
A1, A2, A3 = np.split(A, [2,6])
print(A1)
print(A2)
print(A3)

[[ 2.46532508  1.38323223  0.34623312  1.02251611  0.16681027]
 [ 1.65671662  0.66788961 -0.22994664 -1.12955119 -0.6399626 ]]
[[ 0.31383052 -1.22583598 -0.22179314  1.33992631  0.02930971]
 [ 1.98538575  1.4471656  -0.28762941 -1.35931057 -0.04804133]
 [-0.48078734  0.37775309  1.61440797 -1.12310404 -0.38872795]
 [ 0.94250041 -2.97959677  1.21814885 -0.05652072  0.46088845]]
[[ 0.66237401 -2.29510333 -1.19592931 -0.33310116 -0.79139077]
 [ 0.27417278 -0.51490992 -1.7110712   0.61229731  1.10012937]]

In [30]:
#Exercise 8
"""
Extract all coordinates of missing values in the form of NumPy array (see below) and 
print the result to the console.
"""
import numpy as np

arr = np.array(
    [
        [1, 0, 5, 0],
        [6, 6, 6, 6],
        [0, 1, np.nan, 1],
        [5, 6, 3, 5],
        [2, 3, 0, 6],
        [0, 1, 4, 5],
        [0, np.nan, 5, 3],
        [6, 2, 1, 1],
        [0, 5, 5, 0],
        [np.nan, 2, 6, 6],
    ]
)
arr = np.argwhere(np.isnan(arr))
print(arr)

[[2 2]
 [6 1]
 [9 0]]

***SECTION 25 - ITERATING***

In [32]:
#Exercise 1
"""
Iterate through this array and print each item to the console as shown below.
"""
import numpy as np

arr = np.array(
    [
        [0.88389311, 0.19586502, 0.35753652, -2.34326191],
        [-1.08483259, 0.55969629, 0.93946935, -0.97848104],
        [0.50309684, 0.40641447, 0.32346101, -0.49341088],
    ]
)

for i in arr.flat:
    print(i)
print("-------------------")
for a in np.nditer(arr):
    print(a)

0.88389311
0.19586502
0.35753652
-2.34326191
-1.08483259
0.55969629
0.93946935
-0.97848104
0.50309684
0.40641447
0.32346101
-0.49341088
-------------------
0.88389311
0.19586502
0.35753652
-2.34326191
-1.08483259
0.55969629
0.93946935
-0.97848104
0.50309684
0.40641447
0.32346101
-0.49341088

In [34]:
#Exercise 2
"""
Iterate through each row of this array and print each row to the console as shown below.
"""
import numpy as np

arr = np.array(
    [
        [0.88389311, 0.19586502, 0.35753652, -2.34326191],
        [-1.08483259, 0.55969629, 0.93946935, -0.97848104],
        [0.50309684, 0.40641447, 0.32346101, -0.49341088],
    ]
)
for row in arr:
    print(row)

[ 0.88389311  0.19586502  0.35753652 -2.34326191]
[-1.08483259  0.55969629  0.93946935 -0.97848104]
[ 0.50309684  0.40641447  0.32346101 -0.49341088]

In [59]:
#Exercise 3
"""
Iterate through each column of this array and print each column to the console as shown below.
"""
import numpy as np

arr = np.array(
    [
        [0.88389311, 0.19586502, 0.35753652, -2.34326191],
        [-1.08483259, 0.55969629, 0.93946935, -0.97848104],
        [0.50309684, 0.40641447, 0.32346101, -0.49341088],
    ]
)
for column in range(arr.shape[1]):
    print(arr[:,column])
"""
for i in arr.T:
    print(i)
"""

[ 0.88389311 -1.08483259  0.50309684]
[0.19586502 0.55969629 0.40641447]
[0.35753652 0.93946935 0.32346101]
[-2.34326191 -0.97848104 -0.49341088]

In [89]:
#Exercise 4
"""
Iterate through each value of this array with 
the corresponding indices and print them to the console as shown below.
"""
import numpy as np

arr = np.array(
    [
        [0.88389311, 0.19586502, 0.35753652, -2.34326191],
        [-1.08483259, 0.55969629, 0.93946935, -0.97848104],
        [0.50309684, 0.40641447, 0.32346101, -0.49341088],
    ]
)
for index, value in np.ndenumerate(arr):
    print(index, value)

(0, 0) 0.88389311
(0, 1) 0.19586502
(0, 2) 0.35753652
(0, 3) -2.34326191
(1, 0) -1.08483259
(1, 1) 0.55969629
(1, 2) 0.93946935
(1, 3) -0.97848104
(2, 0) 0.50309684
(2, 1) 0.40641447
(2, 2) 0.32346101
(2, 3) -0.49341088

In [110]:
#Exercise 5
"""
For each element of this array whose sum of indices is divisible by 3, set the value to 1.
In response, print this array to the console.
"""
import numpy as np


arr = np.zeros((10, 4), dtype='int')
for index, value in np.ndenumerate(arr):
    if np.sum(index) % 3 == 0:
        arr[index] = 1
print(arr)
"""
for (i, j), _ in np.ndenumerate(arr):
        if (i + j) % 3 == 0:
            arr[i, j] = 1
 
print(arr)
"""

[[1 0 0 1]
 [0 0 1 0]
 [0 1 0 0]
 [1 0 0 1]
 [0 0 1 0]
 [0 1 0 0]
 [1 0 0 1]
 [0 0 1 0]
 [0 1 0 0]
 [1 0 0 1]]

''

In [259]:
#Exercise 6
"""
Then, iterating over this array, create the following array
(each item is the sum of the squares of the indices for a given position):

Then calculate the square root of this array, and:

-set 1 where the condition is met int(val) == val
-set 0 otherwise
"""
import numpy as np

arr = np.zeros((9,9), dtype= 'int')
for index, value in np.ndenumerate(arr):
    arr[index] = np.sum(np.square(index))

arr2 = np.sqrt(arr)
for (index, value), val in np.ndenumerate(arr2):
    arr[index, value] = int(val) == val
print(arr)

[[1 1 1 1 1 1 1 1 1]
 [1 0 0 0 0 0 0 0 0]
 [1 0 0 0 0 0 0 0 0]
 [1 0 0 0 1 0 0 0 0]
 [1 0 0 1 0 0 0 0 0]
 [1 0 0 0 0 0 0 0 0]
 [1 0 0 0 0 0 0 0 1]
 [1 0 0 0 0 0 0 0 0]
 [1 0 0 0 0 0 1 0 0]]

***SECTION 26 - MISCELLANEOUS FUNCTIONS***

In [261]:
#Exercise 1
"""
Calculate the total number of non-zero elements of this array and print it to the console.
"""
import numpy as np


np.random.seed(42)
arr = np.random.randint(low=0, high=2, size=(10, 6))
arr = np.count_nonzero(arr)
print(arr)

31

In [276]:
#Exercise 2
"""
Set the appropriate NumPy option to print arrays with the specified precision. 
Set the precision to 4 and print this array.
"""
import numpy as np

np.random.seed(42)
arr = np.random.randn(10, 4)
np.set_printoptions(precision=4)

print(arr)

[[ 0.4967 -0.1383  0.6477  1.523 ]
 [-0.2342 -0.2341  1.5792  0.7674]
 [-0.4695  0.5426 -0.4634 -0.4657]
 [ 0.242  -1.9133 -1.7249 -0.5623]
 [-1.0128  0.3142 -0.908  -1.4123]
 [ 1.4656 -0.2258  0.0675 -1.4247]
 [-0.5444  0.1109 -1.151   0.3757]
 [-0.6006 -0.2917 -0.6017  1.8523]
 [-0.0135 -1.0577  0.8225 -1.2208]
 [ 0.2089 -1.9597 -1.3282  0.1969]]

In [283]:
#Exercise 3
"""
Set the NumPy printing precision to 8. Also set the appropriate NumPy option to 
suppress mathematical notation and print this array to the console.
"""
import numpy as np

arr = np.array([1.2e-6, 1.7e-7])
np.set_printoptions(precision = 8, suppress=True)
print(arr)

[0.0000012  0.00000017]

In [285]:
#Exercise 4
"""
Set the NumPy printing option to print only ten edge elements and print this array to the console.
"""
import numpy as np

np.random.seed(42)
arr = np.random.randint(10, size=(100, 30))
np.set_printoptions(edgeitems = 10)
print(arr)

[[6 3 7 4 6 9 2 6 7 4 ... 4 0 9 5 8 0 9 2 6 3]
 [8 2 4 2 6 4 8 6 1 3 ... 2 0 3 1 7 3 1 5 5 9]
 [3 5 1 9 1 9 3 7 6 8 ... 6 8 7 0 7 7 2 0 7 2]
 [2 0 4 9 6 9 8 6 8 7 ... 0 2 4 2 0 4 9 6 6 8]
 [9 9 2 6 0 3 3 4 6 6 ... 9 6 8 6 0 0 8 8 3 8]
 [2 6 5 7 8 4 0 2 9 7 ... 2 0 4 0 7 0 0 1 1 5]
 [6 4 0 0 2 1 4 9 5 6 ... 5 0 8 5 2 3 3 2 9 2]
 [2 3 6 3 8 0 7 6 1 7 ... 3 0 1 0 4 4 6 8 8 2]
 [2 2 3 7 5 7 0 7 3 0 ... 1 1 5 2 8 3 0 3 0 4]
 [3 7 7 6 2 0 0 2 5 6 ... 4 2 3 2 0 0 4 5 2 8]
 ...
 [6 4 8 2 0 3 8 3 1 9 ... 8 4 7 1 5 2 9 4 7 9]
 [0 4 2 3 1 8 2 1 9 8 ... 7 7 6 5 8 3 0 7 6 6]
 [2 3 9 8 5 4 2 8 4 4 ... 6 1 7 5 3 4 7 2 2 3]
 [0 8 7 7 9 5 6 5 8 2 ... 2 3 7 5 4 3 7 0 8 0]
 [7 3 8 4 2 8 8 3 3 7 ... 4 4 3 4 2 0 4 8 8 3]
 [2 0 1 7 0 7 6 7 5 8 ... 2 3 6 6 3 5 2 5 1 7]
 [1 6 8 0 7 6 5 5 5 8 ... 2 7 2 3 7 0 5 0 0 7]
 [3 0 9 6 4 4 0 9 5 8 ... 6 8 6 2 0 7 2 7 7 4]
 [0 9 6 9 4 7 8 6 6 0 ... 7 3 0 0 9 2 8 6 1 8]
 [9 1 2 9 1 2 5 8 8 6 ... 8 2 0 6 9 4 4 0 8 6]]

In [288]:
#Exercise 5
"""
Return an element-wise indication of the sign of a number for this array.
"""
import numpy as np

A = np.array(
    [
        [-4, 3, 0, 1, -5],
        [6, -4, -2, 1, 3],
    ]
)
arr = np.sign(A)
print(arr)

[[-1  1  0  1 -1]
 [ 1 -1 -1  1  1]]

In [289]:
#Exercise 6
"""
Using the np.lookfor() function search the documentation of the NumPy library for the phrase 
'natural logarithm'. In response, print the result to the console.
"""
import numpy as np

search = np.lookfor('natural logarithm')

Search results for 'natural logarithm'
--------------------------------------
numpy.log
    Natural logarithm, element-wise.
numpy.log1p
    Return the natural logarithm of one plus the input array, element-wise.
numpy.ma.log
    Natural logarithm, element-wise.
numpy.linalg.slogdet
    Compute the sign and (natural) logarithm of the determinant of an array.
numpy.exp
    Calculate the exponential of all elements in the input array.
numpy.ma.exp
    Calculate the exponential of all elements in the input array.

***SECTION 27 - MISCELLANEOUS FUNCTIONS***

In [290]:
#Exercise 1
"""
Extract all unique values from this array as a list and print it to the console.
"""
import numpy as np

np.random.seed(10)
arr = np.random.randint(low=1, high=10, size=(3, 5))

arr = np.unique(arr)
print(arr)

[1 2 4 5 7 9]

In [292]:
#Exercise 2
"""
Find all the unique values appearing in this array and print them to the console.
"""
import numpy as np

arr = np.array([4, 3, 5, 5, 3, 5, 2, 6, 5, 2, 0, 8])
arr = np.unique(arr)
print(arr)

[0 2 3 4 5 6 8]

In [310]:
#Exercise 3
"""
Find all the unique values of this array along with their distribution and 
print them to the console as shown below.
"""
import numpy as np

votes = np.array(['yes', 'no', 'yes', 'no', np.nan, 'yes', 'yes'])

votes = np.unique(votes, return_counts = True)
print(votes[0])
print(votes[1])

['nan' 'no' 'yes']
[1 2 4]

In [319]:
#Exercise 4
"""
Extract the same elements (intersection) of these arrays as a list and print them to the console.
"""
import numpy as np

A = np.arange(8).reshape(-1, 4)
B = np.array([[9, 10, 11, 3], [2, 8, 0, 9]])

result = np.intersect1d(A,B)
print(result)

[0 2 3]

In [358]:
#Exercise 5
"""
Find the unique elements of this array with the number of times each element appears.
In response, print the result to the console as shown below.
"""
import numpy as np

arr = np.array(
    [
        [1, 4, 0, 5, 6],
        [9, 7, 4, 0, 6],
        [1, 9, 6, 7, 9],
        [7, 6, 9, 8, 8],
        [2, 2, 1, 5, 2],
        [9, 7, 5, 5, 9],
        [6, 9, 9, 5, 2],
        [9, 6, 1, 8, 1],
    ],
    dtype='int16',
)
arr = np.unique(arr, return_counts = True)
arr1 =  arr[0]
arr2 = arr[1]
"""result = np.c_[uniques[0], uniques[1]]"""
result = np.column_stack((arr1,arr2))
print(result)

[[0 2]
 [1 5]
 [2 4]
 [4 2]
 [5 5]
 [6 6]
 [7 4]
 [8 3]
 [9 9]]

In [364]:
#Exercise 6
"""
Using NumPy create a 1-dimensional array (vector) consisting of eleven 
equally distributed numbers from the [0,1] interval.
"""
import numpy as np
arr = np.linspace(0,1, 11)
print(arr)

[0.  0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1. ]

***SECTION 28 - LINEAR ALGEBRA***

In [366]:
#Exercise 1
"""
Calculate the norm of this vector and print it to the console.
"""
import numpy as np

v = np.array([3, 4, -2])
v = np.linalg.norm(v)
print(v)

5.385164807134504

In [371]:
#Exercise 2
"""
Perform matrix multiplication A x B and print the result to the console.
"""
import numpy as np

A = np.array([[2, 3], [-4, 2], [5, 0]])
B = np.array([[4, 3, 2], [-1, 0, 2]])

result = np.dot(A,B) #Perform matrix multiplication
print(result)

[[  5   6  10]
 [-18 -12  -4]
 [ 20  15  10]]

In [374]:
#Exercise 3
"""
Calculate the determinant of this matrix and print it to the console.
"""
import numpy as np

arr = np.array(
    [
        [-2, 0, 4],
        [5, 2, -1],
        [-4, 2, 4],
    ]
)

arr = np.linalg.det(arr)
print(arr)

51.999999999999986

In [378]:
#Exercise 4
"""
Calculate eigenvalues and their corresponding eigenvectors of 
this matrix and print them to the console as shown below.
"""
import numpy as np

arr = np.array(
    [
        [5, 8, 16],
        [4, 1, 8],
        [-4, 4, -11],
    ]
)
"""
eigenvalues, eigenvectors = np.linalg.eig(arr)
"""
arr = np.linalg.eig(arr) #Compute the eigenvalues and right eigenvectors of a square array.
print(arr[0])
print(arr[1])

[-9.24621125 -3.          7.24621125]
[[-0.62616472 -0.89442719  0.89015941]
 [-0.31308236  0.          0.4450797 ]
 [ 0.71407086  0.4472136  -0.09757197]]

In [379]:
#Exercise 5
"""
Find the inverse matrix to this matrix and print it to the console.
"""
import numpy as np

arr = np.array(
    [
        [5, 8, 16],
        [4, 1, 8],
        [-4, 4, -11],
    ]
)

arr = np.linalg.inv(arr) #Compute the (multiplicative) inverse of a matrix
print(arr)

[[-0.21393035  0.75621891  0.23880597]
 [ 0.05970149  0.04477612  0.11940299]
 [ 0.09950249 -0.25870647 -0.13432836]]

In [381]:
#Exercise 6
"""
Find the trace of this matrix (sum of elements on the main diagonal) and print it to the console.
"""
import numpy as np

arr = np.array(
    [
        [5, 8, 16],
        [4, 1, 8],
        [-4, 4, -11],
    ]
)

arr = np.trace(arr)
print(arr)

-5

In [383]:
#Exercise 7
"""
Perform the matrix multiplication A1 * A2. The result will be an array with the
shape (3, 3). In response, print the result to the console.
"""
import numpy as np

A1 = np.array([[2], [-1], [-5]])
A2 = np.array([[4, 3, -1]])

result = np.matmul(A1,A2) #Matrix product of two arrays.
print(result)

[[  8   6  -2]
 [ -4  -3   1]
 [-20 -15   5]]

In [385]:
#Exercise 8
"""
-matrix A1 with the shape (3, 2)
-matrix A2 with the shape (2, 3)

Perform the matrix multiplication A1 * A2. The result will be an array with the shape (3, 3) 
and calculate the determinant of the resulting matrix. 
In response. print this determinant to the consol
"""
import numpy as np

A1 = np.array([[2, 3], [-1, 4], [-5, 2]])
A2 = np.array([[4, 3, -1], [2, 0, 1]])

result = np.linalg.det(np.matmul(A1,A2))
print(result)

0.0

***SECTION 29 - LINEAR ALGEBRA***

In [7]:
#Exercise 1
"""
Shapes of these arrays:
-A - 4x2
-B - 1x8
Transform array B to perform the matrix multiplication A x B. 
Then perform this multiplication and print result to the console.
"""
import numpy as np

A = np.array(
    [
        [2, 0],
        [4, 2],
        [5, 3],
        [4, 2],
    ]
)
B = np.array([[4, 0, 2, 1, 1, 0, 2, 9]])
B = B.reshape(2,4)

result = np.matmul(A, B)
print(result)

[[ 8  0  4  2]
 [18  0 12 22]
 [23  0 16 32]
 [18  0 12 22]]

In [8]:
#Exercise 2
"""
Using NumPy, calculate the dot product of v1 and v2 vectors. In response, print the result to the console.
"""
import numpy as np

v1 = np.array([5, -1, 5])
v2 = np.array([3, 1, 0])

result = np.dot(v1, v2)
print(result)

14

In [12]:
#Exercise 3
"""
Using NumPy, calculate the norm of v1 and v2 vectors. In response, 
print the result to the console as shown below.
"""
import numpy as np

v1 = np.array([5, -1, 5])
v2 = np.array([3, 1, 0])

v1 = np.linalg.norm(v1)
v2 = np.linalg.norm(v2)
print(v1)
print(v2)

7.14142842854285
3.1622776601683795

In [17]:
#Exercise 4
"""
Using NumPy, find the angle measure in radians between v1 and v2 vectors.
In response, print the result to the console as shown below.
"""
import numpy as np

v1 = np.array([1, 0, 0])
v2 = np.array([0, 1, 0])

result = np.arccos(np.dot(v1,v2))
print(result)

"""
v1_norm = np.linalg.norm(v1)
v2_norm = np.linalg.norm(v2)
 
result = np.arccos(np.dot(v1, v2) / (v1_norm * v2_norm))
print(result)
"""

1.5707963267948966

In [21]:
#Exercise 5
"""
Using NumPy, calculate the angle measure in degrees between v1 and v2 vectors. 
In response, print the result to the console as shown below.
"""
import numpy as np

v1 = np.array([1, 0, 0])
v2 = np.array([0, 1, 0])

result = np.arccos(np.dot(v1,v2))
result = np.degrees(result)
print(result)
"""
v1_norm = np.linalg.norm(v1)
v2_norm = np.linalg.norm(v2)
 
result = np.degrees(np.arccos(np.dot(v1, v2) / (v1_norm * v2_norm)))
print(result)
"""

90.0

In [29]:
#Exercise 6
"""
Using NumPy, check if the vectors v1 and v2 satisfy the Pythagorean theorem equation.

Where ||u|| stands for the norm of the vector u. In response, print True or False as appropriate.
"""
import numpy as np

u = np.array([1, 0, 0])
v = np.array([0, 1, 0])

is_orthogonal = np.dot(u + v, u + v) == np.dot(u, u) + np.dot(v, v)
print(is_orthogonal)

True

In [39]:
#Exercise 7
"""
Compute the 50-th percentile (median) of the data along the columns and print the result to the console.
"""
import numpy as np

arr = np.array(
    [
        [0.94977903, 0.56168686, 0.17878052],
        [0.77025193, 0.49238104, 0.63125307],
        [0.83949792, 0.4610394, 0.49794007],
        [0.67941112, 0.65078591, 0.26879524],
        [0.06732467, 0.77144514, 0.48098413],
        [0.32920641, 0.51064106, 0.26362883],
        [0.31051155, 0.62685344, 0.55744981],
        [0.31857956, 0.39484322, 0.25797459],
        [0.58224112, 0.16162871, 0.59813382],
        [0.82582358, 0.15639172, 0.73430052],
    ]
)
result = np.median(arr, axis = 0)
print(result)

"""
p = np.percentile(arr, 50, axis=0)
print(p)
"""

[0.63082612 0.50151105 0.4894621 ]

***SECTION 30 - POLYOMIALS & SYSTEM OF EQUATIONS***

In [41]:
#Exercise 1
"""
Calculate the roots of the following polynomial:
w(x) = 4x^2 + 5x + 1
"""
import numpy as np

coeff = [4,5,1]
result = np.roots(coeff) #Return the roots of a polynomial with coefficients given in p.
print(result)

"""
W = np.array([4, 5, 1])
roots = np.roots(W)
print(roots)
"""

[-1.   -0.25]

In [45]:
#Exercise 2
"""
Calculate the roots of the following polynomials:
-Q(x) = 2x^3  + 4x^2 + 5x + 1
-R(x) = 2x^3 -5x + 1
"""
import numpy as np

Q = np.array([2,4,-5,1])
R = np.array([2,0,-5,1])

Q = np.roots(Q)
R = np.roots(R)

print(Q)
print(R)

[-2.91610583  0.65388685  0.26221898]
[-1.67298165  1.46961743  0.20336421]

In [56]:
#Exercise 3
"""
Perform the following operations and print results to the console as shown below:
"""
Q = np.array([4,5,1])
R = np.array([2,4,-5,1])

result1 = np.polyadd(Q,R)
result2 = np.polysub(Q,R)
result3 = np.polymul(Q,R)
result4 = np.polyadd(Q, (2*R))
print(result1)
print(result2)
print(result3)
print(result4)

[2 8 0 2]
[-2  0 10  0]
[  8  26   2 -17   0   1]
[ 4 12 -5  3]

In [18]:
#Exercise 4
"""
Using NumPy, solve the following system of equations:
a. 5x - 3y = 21
a. x -2y = 7
"""
import numpy as np

A = np.array(([[5,-3], [1,-2]]), dtype = 'float')
B = np.array(([21,7]), dtype = 'float')
A, B = np.linalg.solve(A,B)
print(f'x = {A:.2f}\ny = {B:.2f}')

x = 3.00
y = -2.00

In [49]:
#Exercise 5
import numpy as np
"""
Using NumPy, solve the following system of equations:
-x + y +z = 1
-2x + y + 5z = 0
-x - y = z
"""
A = np.array([[1,1,1],[2,1,5],[1,-1,-1]])
B = np.array([1,0,0])
result = np.linalg.solve(A,B).round(2)
print(f'x = {result[0]:.2f}\ny = {result[1]}\nz = {result[2]}')

x = 0.50
y = 0.88
z = -0.38

In [41]:
#Exercise 6
from numpy.polynomial import Polynomial as P
import numpy as np
"""
Using the Polynomial class from the numpy.polymonial package create the following polynomials:
-p(x) = 3.0 - 4.0·x¹ + 2.0·x², with default domain [-1, 1]
-q(x) = 10.0 + 0.0·x¹ + 2.0·x² + 4.0·x³, with default domain [-1, 1]
In response, print these polynomials to the console as shown below.
"""
poly1 = np.array([3, -4, 2], dtype = 'float')
p1 = np.polynomial.Polynomial(poly1, domain=[-1, 1])

poly2 = np.array([10, 0, 2, 4], dtype = 'float')
p2 = np.polynomial.Polynomial(poly2, domain=[-1,1])

print(p1)
print(p2)

"""ANOTHER WAY
p = P([3, -4, 2])
q = P([10, 0, 2, 4])
 
print(p)
print(q)
"""

3.0 - 4.0 x**1 + 2.0 x**2
10.0 + 0.0 x**1 + 2.0 x**2 + 4.0 x**3

In [48]:
#Exercise 7
"""
Using the Polynomial class from the numpy.polymonial package create the following polynomials:
-p(x) = 4.0 - 4.0·x¹ + 1.0·x², with default domain [-1, 1]
-q(x) = 2.0 + 6.0·x¹ - 5.0·x², with default domain [-1, 1]
Find a new polynomial r(x) = p(x) + q(x). Then, calculate the roots of the polynomial r(x) and print result to the console.
"""
from numpy.polynomial import Polynomial as P
import numpy as np


p = P([4,-4,1])
q = P([2,6,-5])

r = p + q
result = P.roots(r)
print(result)

[-1.   1.5]

***SECTION 31 - ARRAYS WITH CHARACTERS***

In [61]:
#Exercise 1
"""
Merge them together as shown below and print result to the console.
"""
import numpy as np

A = np.array(['001', '002', '003'], dtype='str')
B = np.array(['XC', 'YC', 'ZC'], dtype='str')

result = np.char.add(A,B) #Merge two strings arrays
print(result)

['001XC' '002YC' '003ZC']

In [84]:
#Exercise 2
"""
Add '000' (3 zeros) at the beginning of each element of this array 
as shown below and print the result to the console.
"""
import numpy as np

A = np.array(['1', '2', '3'], dtype='str')

result = np.char.add(['000'],A)
result2 = np.char.rjust(A, 4, '0')
result3 = np.char.zfill(A,4)
print(result3)

['0001' '0002' '0003']

In [86]:
#Exercise 3
"""
Split each element of this array by space character as shown below.
"""
import numpy as np

A = np.array(
    [
        ['PLW CDR 11B TEN', 'AMC LPP'],
        ['CDR PKO KGH', 'CCC QMK'],
    ],
    dtype='str',
)
result = np.char.split(A) #For each element in a, return a list of the words in the string, 
#using sep as the delimiter string.
print(result)

[[list(['PLW', 'CDR', '11B', 'TEN']) list(['AMC', 'LPP'])]
 [list(['CDR', 'PKO', 'KGH']) list(['CCC', 'QMK'])]]

In [92]:
#Exercise 4
"""
Replace all # characters with spaces and then strip all unnecessary white characters around
the text as shown below. 
In response, print this array to the console.
"""
import numpy as np

A = np.array([['#summer#time#mood'], ['#sport#time']])

result = np.char.strip(np.char.replace(A,'#',' '))
#For each element in a, return a copy with the leading and trailing characters removed.
#For each element in a, return a copy of the string with all occurrences of substring old replaced by new.
print(result)

[['summer time mood']
 ['sport time']]

In [96]:
#Exercise 5
"""
Count the number of occurrences of the word 'time' in each element of this array.
"""
import numpy as np

A = np.array(
    [
        ['#summer#time#mood', '#vibe'],
        ['#sport#time', '#good#time'],
        ['#event#summer', '#fast#move'],
    ]
)

result = np.char.count(A, 'time')
#Returns an array with the number of non-overlapping occurrences of substring sub in the range [start, end].
print(result)

[[1 0]
 [1 1]
 [0 0]]

In [98]:
#Exercise 6
import numpy as np

A = np.arange(0, 50).reshape(10, -1)
A = np.char.rjust(A.astype('str'), width=2, fillchar='0')
print(A)

[['00' '01' '02' '03' '04']
 ['05' '06' '07' '08' '09']
 ['10' '11' '12' '13' '14']
 ['15' '16' '17' '18' '19']
 ['20' '21' '22' '23' '24']
 ['25' '26' '27' '28' '29']
 ['30' '31' '32' '33' '34']
 ['35' '36' '37' '38' '39']
 ['40' '41' '42' '43' '44']
 ['45' '46' '47' '48' '49']]

In [102]:
#Exercise 7
"""
Extract all filenames that end with '.jpg' and print it to the console.
"""
import numpy as np

filenames = np.array(
    [
        [
            '003_image.jpg',
            '043_image.jpg',
            '060_image.jpg',
            '002_image.png',
        ],
        [
            '098_image.jpg',
            '023_image.png',
            '004_image.jpg',
            '001_image.jpg',
        ],
        [
            '035_image.jpg',
            '055_image.jpg',
            '009_image.png',
            '100_image.jpg',
        ],
    ]
)

result = filenames[np.char.endswith(filenames, '.jpg')]
print(result)
#Returns a boolean array which is True where the string element in a ends with suffix, otherwise False.
#Calls str.endswith element-wise.

['003_image.jpg' '043_image.jpg' '060_image.jpg' '098_image.jpg'
 '004_image.jpg' '001_image.jpg' '035_image.jpg' '055_image.jpg'
 '100_image.jpg']

In [117]:
#Exercise 8
"""
Remove all spaces from the text and replace all commas with periods. 
In response, print this array to the console.
"""
import numpy as np

np.set_printoptions(linewidth=150)
stocks = np.array(
    [
        [
            'ALIOR',
            'PLALIOR00045',
            '88 860 000',
            '1 386 216 000',
            '0,891',
            '2,16',
            '14',
        ],
        [
            'CCC',
            'PLCCC0000016',
            '27 918 000',
            '1 292 603 400',
            '0,831',
            '5,28',
            '42',
        ],
        [
            'CDPROJEKT',
            'PLOPTTC00011',
            '67 348 000',
            '22 864 646 000',
            '14,702',
            '7,39',
            '7',
        ],
        [
            'DINOPL',
            'PLDINPL00011',
            '47 937 000',
            '8 916 282 000',
            '5,733',
            '9,13',
            '12',
        ],
        [
            'JSW',
            'PLJSW0000015',
            '52 636 000',
            '716 902 320',
            '0,461',
            '1,51',
            '24',
        ],
        [
            'KGHM',
            'PLKGHM000017',
            '136 410 000',
            '9 881 540 400',
            '6,354',
            '4,78',
            '8',
        ],
    ],
    dtype='<U14',
)
A = np.char.replace(stocks, ' ', '')
B = np.char.replace(A, ',','.')
#result = np.char.strip(np.char.replace(stocks, ',', '.'))
print(B)

[['ALIOR' 'PLALIOR00045' '88860000' '1386216000' '0.891' '2.16' '14']
 ['CCC' 'PLCCC0000016' '27918000' '1292603400' '0.831' '5.28' '42']
 ['CDPROJEKT' 'PLOPTTC00011' '67348000' '22864646000' '14.702' '7.39' '7']
 ['DINOPL' 'PLDINPL00011' '47937000' '8916282000' '5.733' '9.13' '12']
 ['JSW' 'PLJSW0000015' '52636000' '716902320' '0.461' '1.51' '24']
 ['KGHM' 'PLKGHM000017' '136410000' '9881540400' '6.354' '4.78' '8']]

In [144]:
#Exercise 9
"""
Create an array from this string as shown below and assign to the playway variable. 
In response, print this array to the console.
"""
import numpy as np


playway_raw = """Date,Open,High,Low,Close,Volume
2020-03-02,305,324.5,283.5,310,64081
2020-03-03,325.5,340.5,320,340.5,55496
2020-03-04,324,340.5,315,330,36152
2020-03-05,344,344,310,315,35992
2020-03-06,306.5,307,291,305,32539
2020-03-09,274,291,250,258,79402
2020-03-10,278,284.5,256,264,35700
2020-03-11,270,270,238.5,245,60445
2020-03-12,218,228,196,197,94031
2020-03-13,210,229,198.8,211,100412
2020-03-16,205,248,197.8,240.5,50659
2020-03-17,245,269,232.5,264,99480
2020-03-18,264,280,251,270,70136
2020-03-19,267,280,267,279.5,30732
2020-03-20,297.5,307,280,280.5,43426
2020-03-23,274,289,258,285,37098
2020-03-24,305,309,296.5,309,31939
2020-03-25,313,330,295,304,46724
2020-03-26,300,309,295.5,300,27213
2020-03-27,302,306.5,290,296,13466
2020-03-30,299,300,287,300,10316
2020-03-31,302.5,309,302,306.5,15698"""

lines = playway_raw.splitlines() #splitlines
#print(lines)
lines = [line.split(',') for line in lines]
#comprensión de lista" y se utiliza para crear una lista nueva a partir de otra lista o iterable.
#print(lines)
playway = np.array(lines, dtype=np.str)
print(playway)

[['Date' 'Open' 'High' 'Low' 'Close' 'Volume']
 ['2020-03-02' '305' '324.5' '283.5' '310' '64081']
 ['2020-03-03' '325.5' '340.5' '320' '340.5' '55496']
 ['2020-03-04' '324' '340.5' '315' '330' '36152']
 ['2020-03-05' '344' '344' '310' '315' '35992']
 ['2020-03-06' '306.5' '307' '291' '305' '32539']
 ['2020-03-09' '274' '291' '250' '258' '79402']
 ['2020-03-10' '278' '284.5' '256' '264' '35700']
 ['2020-03-11' '270' '270' '238.5' '245' '60445']
 ['2020-03-12' '218' '228' '196' '197' '94031']
 ['2020-03-13' '210' '229' '198.8' '211' '100412']
 ['2020-03-16' '205' '248' '197.8' '240.5' '50659']
 ['2020-03-17' '245' '269' '232.5' '264' '99480']
 ['2020-03-18' '264' '280' '251' '270' '70136']
 ['2020-03-19' '267' '280' '267' '279.5' '30732']
 ['2020-03-20' '297.5' '307' '280' '280.5' '43426']
 ['2020-03-23' '274' '289' '258' '285' '37098']
 ['2020-03-24' '305' '309' '296.5' '309' '31939']
 ['2020-03-25' '313' '330' '295' '304' '46724']
 ['2020-03-26' '300' '309' '295.5' '300' '27213']
 ['2020-03-27' '302' '306.5' '290' '296' '13466']
 ['2020-03-30' '299' '300' '287' '300' '10316']
 ['2020-03-31' '302.5' '309' '302' '306.5' '15698']]

C:\Users\JUANPABLOGASCA\AppData\Local\Temp\ipykernel_21916\836770801.py:38: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  playway = np.array(lines, dtype=np.str)

***SECTION 32 - ARRAY'S WITH CHARACTERS***

In [164]:
#Exercise 1
"""
Extract all rows with the company name starting with the letter 'P' 
and assign to the results variable. In response, print this variable to the console.

"""
import numpy as np
np.set_printoptions(linewidth=150)
stocks = np.array(
    [
        ['ALIOR', '1386216000', '0.891', '2.16', '14'],
        ['CCC', '1292603400', '0.831', '5.28', '42'],
        ['CDPROJEKT', '22864646000', '14.702', '7.39', '7'],
        ['CYFRPLSAT', '6854994900', '4.408', '1.17', '14'],
        ['DINOPL', '8916282000', '5.733', '9.13', '12'],
        ['JSW', '716902320', '0.461', '1.51', '24'],
        ['KGHM', '9881540400', '6.354', '4.78', '8'],
        ['LOTOS', '5609717260', '3.607', '2.91', '16'],
        ['LPP', '7444200000', '4.787', '1.43', '19'],
        ['MBANK', '2830746600', '1.820', '0.42', '24'],
        ['ORANGEPL', '4285503340', '2.756', '1.16', '13'],
        ['PEKAO', '9619710660', '6.185', '5.27', '9'],
        ['PGE', '3561588720', '2.290', '2.88', '18'],
        ['PGNIG', '6072784704', '3.905', '1.56', '12'],
        ['PKNORLEN', '17701360760', '11.382', '12.44', '8'],
        ['PKOBP', '18807014490', '12.093', '10.49', '9'],
        ['PLAY', '3696209380', '2.377', '1.47', '16'],
        ['PZU', '17515160100', '11.262', '6.64', '6'],
        ['SANPL', '5213499000', '3.352', '1.91', '18'],
        ['TAURONPE', '1252308000', '0.805', '1.21', '33'],
    ],
    dtype='<U12',
)

result = stocks[np.char.startswith(stocks[:, 0], 'P')]
print(result)

[['PEKAO' '9619710660' '6.185' '5.27' '9']
 ['PGE' '3561588720' '2.290' '2.88' '18']
 ['PGNIG' '6072784704' '3.905' '1.56' '12']
 ['PKNORLEN' '17701360760' '11.382' '12.44' '8']
 ['PKOBP' '18807014490' '12.093' '10.49' '9']
 ['PLAY' '3696209380' '2.377' '1.47' '16']
 ['PZU' '17515160100' '11.262' '6.64' '6']]

In [179]:
#Exercise 2
"""
Calculate the total trading volume of these companies (second column) and print it to the console.
"""
import numpy as np

np.set_printoptions(linewidth=150)
stocks = np.array(
    [
        ['PEKAO', '9619710660', '6.185', '5.27', '9'],
        ['PGE', '3561588720', '2.290', '2.88', '18'],
        ['PGNIG', '6072784704', '3.905', '1.56', '12'],
        ['PKNORLEN', '17701360760', '11.382', '12.44', '8'],
        ['PKOBP', '18807014490', '12.093', '10.49', '9'],
        ['PLAY', '3696209380', '2.377', '1.47', '16'],
        ['PZU', '17515160100', '11.262', '6.64', '6'],
    ],
    dtype='<U12',
)
result = np.sum(stocks[:,1].astype(float))
print(result)

76973828814.0

In [189]:
#Exercise 3
"""
Delete the 'Date' column. Then remove the headers and assign result to the playway_values variable. 
Convert this array to the float data type and print result to the console.
"""
import numpy as np

playway = np.array(
    [
        ['Date', 'Open', 'High', 'Low', 'Close', 'Volume'],
        ['2020-03-02', '305', '324.5', '283.5', '310', '64081'],
        ['2020-03-03', '325.5', '340.5', '320', '340.5', '55496'],
        ['2020-03-04', '324', '340.5', '315', '330', '36152'],
        ['2020-03-05', '344', '344', '310', '315', '35992'],
        ['2020-03-06', '306.5', '307', '291', '305', '32539'],
        ['2020-03-09', '274', '291', '250', '258', '79402'],
        ['2020-03-10', '278', '284.5', '256', '264', '35700'],
        ['2020-03-11', '270', '270', '238.5', '245', '60445'],
        ['2020-03-12', '218', '228', '196', '197', '94031'],
        ['2020-03-13', '210', '229', '198.8', '211', '100412'],
        ['2020-03-16', '205', '248', '197.8', '240.5', '50659'],
        ['2020-03-17', '245', '269', '232.5', '264', '99480'],
        ['2020-03-18', '264', '280', '251', '270', '70136'],
        ['2020-03-19', '267', '280', '267', '279.5', '30732'],
        ['2020-03-20', '297.5', '307', '280', '280.5', '43426'],
        ['2020-03-23', '274', '289', '258', '285', '37098'],
        ['2020-03-24', '305', '309', '296.5', '309', '31939'],
        ['2020-03-25', '313', '330', '295', '304', '46724'],
        ['2020-03-26', '300', '309', '295.5', '300', '27213'],
        ['2020-03-27', '302', '306.5', '290', '296', '13466'],
        ['2020-03-30', '299', '300', '287', '300', '10316'],
        ['2020-03-31', '302.5', '309', '302', '306.5', '15698'],
    ],
    dtype='<U10',
)
result1 = np.delete(playway, 0, 1)
result2 = np.delete(result1,0, 0).astype('float')
print(result2)

[[   305.     324.5    283.5    310.   64081. ]
 [   325.5    340.5    320.     340.5  55496. ]
 [   324.     340.5    315.     330.   36152. ]
 [   344.     344.     310.     315.   35992. ]
 [   306.5    307.     291.     305.   32539. ]
 [   274.     291.     250.     258.   79402. ]
 [   278.     284.5    256.     264.   35700. ]
 [   270.     270.     238.5    245.   60445. ]
 [   218.     228.     196.     197.   94031. ]
 [   210.     229.     198.8    211.  100412. ]
 [   205.     248.     197.8    240.5  50659. ]
 [   245.     269.     232.5    264.   99480. ]
 [   264.     280.     251.     270.   70136. ]
 [   267.     280.     267.     279.5  30732. ]
 [   297.5    307.     280.     280.5  43426. ]
 [   274.     289.     258.     285.   37098. ]
 [   305.     309.     296.5    309.   31939. ]
 [   313.     330.     295.     304.   46724. ]
 [   300.     309.     295.5    300.   27213. ]
 [   302.     306.5    290.     296.   13466. ]
 [   299.     300.     287.     300.   10316. ]
 [   302.5    309.     302.     306.5  15698. ]]

In [10]:
#Exercise 4
"""
which represents the seat numbers on a passenger plane. 
In response, print this array to the console.
"""
"""

A = np.arange(0, 50).reshape(10, -1)
A = np.char.rjust(A.astype('str'), width=2, fillchar='0')
"""
import numpy as np

A = np.arange(0, 50).reshape(10, -1)
A = np.char.rjust(A.astype('str'), width=2, fillchar='0')
print(A)

[['00' '01' '02' '03' '04']
 ['05' '06' '07' '08' '09']
 ['10' '11' '12' '13' '14']
 ['15' '16' '17' '18' '19']
 ['20' '21' '22' '23' '24']
 ['25' '26' '27' '28' '29']
 ['30' '31' '32' '33' '34']
 ['35' '36' '37' '38' '39']
 ['40' '41' '42' '43' '44']
 ['45' '46' '47' '48' '49']]

In [13]:
#Exercise 5
import numpy as np

import numpy as np
 
 
A = np.char.add(
    np.full((33, 1), 'A'),
    np.arange(1, 34).reshape(-1, 1).astype('str'),
)
B = np.char.add(
    np.full((33, 1), 'B'),
    np.arange(1, 34).reshape(-1, 1).astype('str'),
)
C = np.char.add(
    np.full((33, 1), 'C'),
    np.arange(1, 34).reshape(-1, 1).astype('str'),
)
D = np.char.add(
    np.full((33, 1), 'D'),
    np.arange(1, 34).reshape(-1, 1).astype('str'),
)
E = np.char.add(
    np.full((33, 1), 'E'),
    np.arange(1, 34).reshape(-1, 1).astype('str'),
)
F = np.char.add(
    np.full((33, 1), 'F'),
    np.arange(1, 34).reshape(-1, 1).astype('str'),
)
 
airplane = np.c_[A, B, C, D, E, F]
print(airplane)

[['A1' 'B1' 'C1' 'D1' 'E1' 'F1']
 ['A2' 'B2' 'C2' 'D2' 'E2' 'F2']
 ['A3' 'B3' 'C3' 'D3' 'E3' 'F3']
 ['A4' 'B4' 'C4' 'D4' 'E4' 'F4']
 ['A5' 'B5' 'C5' 'D5' 'E5' 'F5']
 ['A6' 'B6' 'C6' 'D6' 'E6' 'F6']
 ['A7' 'B7' 'C7' 'D7' 'E7' 'F7']
 ['A8' 'B8' 'C8' 'D8' 'E8' 'F8']
 ['A9' 'B9' 'C9' 'D9' 'E9' 'F9']
 ['A10' 'B10' 'C10' 'D10' 'E10' 'F10']
 ['A11' 'B11' 'C11' 'D11' 'E11' 'F11']
 ['A12' 'B12' 'C12' 'D12' 'E12' 'F12']
 ['A13' 'B13' 'C13' 'D13' 'E13' 'F13']
 ['A14' 'B14' 'C14' 'D14' 'E14' 'F14']
 ['A15' 'B15' 'C15' 'D15' 'E15' 'F15']
 ['A16' 'B16' 'C16' 'D16' 'E16' 'F16']
 ['A17' 'B17' 'C17' 'D17' 'E17' 'F17']
 ['A18' 'B18' 'C18' 'D18' 'E18' 'F18']
 ['A19' 'B19' 'C19' 'D19' 'E19' 'F19']
 ['A20' 'B20' 'C20' 'D20' 'E20' 'F20']
 ['A21' 'B21' 'C21' 'D21' 'E21' 'F21']
 ['A22' 'B22' 'C22' 'D22' 'E22' 'F22']
 ['A23' 'B23' 'C23' 'D23' 'E23' 'F23']
 ['A24' 'B24' 'C24' 'D24' 'E24' 'F24']
 ['A25' 'B25' 'C25' 'D25' 'E25' 'F25']
 ['A26' 'B26' 'C26' 'D26' 'E26' 'F26']
 ['A27' 'B27' 'C27' 'D27' 'E27' 'F27']
 ['A28' 'B28' 'C28' 'D28' 'E28' 'F28']
 ['A29' 'B29' 'C29' 'D29' 'E29' 'F29']
 ['A30' 'B30' 'C30' 'D30' 'E30' 'F30']
 ['A31' 'B31' 'C31' 'D31' 'E31' 'F31']
 ['A32' 'B32' 'C32' 'D32' 'E32' 'F32']
 ['A33' 'B33' 'C33' 'D33' 'E33' 'F33']]

In [14]:
#LIST COMPREHENSION
import numpy as np
 
 
A = [
    np.char.add(
        np.full((33, 1), arr),
        np.arange(1, 34).reshape(-1, 1).astype('str'),
    )
    for arr in list('ABCDEF')
]
airplane = np.concatenate(A, axis=1)
print(airplane)

[['A1' 'B1' 'C1' 'D1' 'E1' 'F1']
 ['A2' 'B2' 'C2' 'D2' 'E2' 'F2']
 ['A3' 'B3' 'C3' 'D3' 'E3' 'F3']
 ['A4' 'B4' 'C4' 'D4' 'E4' 'F4']
 ['A5' 'B5' 'C5' 'D5' 'E5' 'F5']
 ['A6' 'B6' 'C6' 'D6' 'E6' 'F6']
 ['A7' 'B7' 'C7' 'D7' 'E7' 'F7']
 ['A8' 'B8' 'C8' 'D8' 'E8' 'F8']
 ['A9' 'B9' 'C9' 'D9' 'E9' 'F9']
 ['A10' 'B10' 'C10' 'D10' 'E10' 'F10']
 ['A11' 'B11' 'C11' 'D11' 'E11' 'F11']
 ['A12' 'B12' 'C12' 'D12' 'E12' 'F12']
 ['A13' 'B13' 'C13' 'D13' 'E13' 'F13']
 ['A14' 'B14' 'C14' 'D14' 'E14' 'F14']
 ['A15' 'B15' 'C15' 'D15' 'E15' 'F15']
 ['A16' 'B16' 'C16' 'D16' 'E16' 'F16']
 ['A17' 'B17' 'C17' 'D17' 'E17' 'F17']
 ['A18' 'B18' 'C18' 'D18' 'E18' 'F18']
 ['A19' 'B19' 'C19' 'D19' 'E19' 'F19']
 ['A20' 'B20' 'C20' 'D20' 'E20' 'F20']
 ['A21' 'B21' 'C21' 'D21' 'E21' 'F21']
 ['A22' 'B22' 'C22' 'D22' 'E22' 'F22']
 ['A23' 'B23' 'C23' 'D23' 'E23' 'F23']
 ['A24' 'B24' 'C24' 'D24' 'E24' 'F24']
 ['A25' 'B25' 'C25' 'D25' 'E25' 'F25']
 ['A26' 'B26' 'C26' 'D26' 'E26' 'F26']
 ['A27' 'B27' 'C27' 'D27' 'E27' 'F27']
 ['A28' 'B28' 'C28' 'D28' 'E28' 'F28']
 ['A29' 'B29' 'C29' 'D29' 'E29' 'F29']
 ['A30' 'B30' 'C30' 'D30' 'E30' 'F30']
 ['A31' 'B31' 'C31' 'D31' 'E31' 'F31']
 ['A32' 'B32' 'C32' 'D32' 'E32' 'F32']
 ['A33' 'B33' 'C33' 'D33' 'E33' 'F33']]

In [24]:
#Exercise 5
import numpy as np

data = {
    'products': [
        'bread eggs',
        'bread eggs milk',
        'milk cheese',
        'bread butter cheese',
        'eggs milk',
        'bread milk butter cheese',
    ]
}

sales = [transaction.split() for transaction in data['products']]
number_of_transactions = len(data['products'])
max_len = max(len(items) for items in sales)
 
arr = np.full(
    (number_of_transactions, max_len), 
    fill_value=np.nan, 
    dtype='<U32'
)
 
for idx_tran, transaction in enumerate(sales):
    for idx_prod, product in enumerate(transaction):
        arr[idx_tran, idx_prod] = product
 
print(arr)

[['bread' 'eggs' 'nan' 'nan']
 ['bread' 'eggs' 'milk' 'nan']
 ['milk' 'cheese' 'nan' 'nan']
 ['bread' 'butter' 'cheese' 'nan']
 ['eggs' 'milk' 'nan' 'nan']
 ['bread' 'milk' 'butter' 'cheese']]

In [38]:
#Exercise 6
"""
The string wig_games_raw is given  - WIG.GAMES index data (see below).
Create an array from this string as shown below and assign to the wig_games variable.
In response, print this array to the console.
"""
import numpy as np


np.set_printoptions(linewidth=160, suppress=True)

wig_games_raw = """Profile	Time	Course	Change	Change%	Ref.	Open	Low	High	Volume	Turn	Share
11B (11BIT)	17 kwi 17:01	391.00	+8.00	(+2.09%)	383.00	383.50	383.00	394.00	12 784	4 994 874	19.034%
CDR (CDPROJEKT)	17 kwi 17:01	339.50	+5.30	(+1.59%)	334.20	338.30	337.00	344.20	233 059	79 245 368	39.618%
CIG (CIGAMES)	17 kwi 17:03	0.742	-0.012	(-1.59%)	0.754	0.772	0.730	0.772	1 311 078	971 459	1.855%
PLW (PLAYWAY)	17 kwi 17:03	387.50	+18.00	(+4.87%)	369.50	374.00	373.00	388.00	33 206	12 661 786	10.638%
TEN (TSGAMES)	17 kwi 17:02	349.50	+22.50	(+6.88%)	327.00	332.00	330.00	353.50	39 793	13 697 060	28.855%"""

lines = wig_games_raw.splitlines()
lines = [line.split('\t') for line in lines]
wig_games = np.array(lines, dtype=str)
wig_games = np.char.replace(wig_games, ' ', '')
print(wig_games)

[['Profile' 'Time' 'Course' 'Change' 'Change%' 'Ref.' 'Open' 'Low' 'High' 'Volume' 'Turn' 'Share']
 ['11B(11BIT)' '17kwi17:01' '391.00' '+8.00' '(+2.09%)' '383.00' '383.50' '383.00' '394.00' '12784' '4994874' '19.034%']
 ['CDR(CDPROJEKT)' '17kwi17:01' '339.50' '+5.30' '(+1.59%)' '334.20' '338.30' '337.00' '344.20' '233059' '79245368' '39.618%']
 ['CIG(CIGAMES)' '17kwi17:03' '0.742' '-0.012' '(-1.59%)' '0.754' '0.772' '0.730' '0.772' '1311078' '971459' '1.855%']
 ['PLW(PLAYWAY)' '17kwi17:03' '387.50' '+18.00' '(+4.87%)' '369.50' '374.00' '373.00' '388.00' '33206' '12661786' '10.638%']
 ['TEN(TSGAMES)' '17kwi17:02' '349.50' '+22.50' '(+6.88%)' '327.00' '332.00' '330.00' '353.50' '39793' '13697060' '28.855%']]

***SECTION 33 - FUNCTIONAL PROGRAMMING & UNIVERSAL FUNCTIONS***

In [43]:
#Exercise 1
"""
Using the np.apply_along_axis() function, determine the difference between the highest
and the smallest value for each row of this array. In response, print 
the result to the console.
"""

import numpy as np

A = np.array(
    [
        [4, 3, 6],
        [5, 2, 7],
        [8, 3, 10],
        [-3, 4, 2],
    ]
)
def max_min(A):
    return max(A) - min(A)
result = np.apply_along_axis(max_min, 1, A)
print(result)

[3 5 7 7]

In [56]:
#Exercise 2
"""
Using the np.apply_along_axis() function and the formula below, standardize this array (along the columns).
In response, print the result to the console.
"""
import numpy as np

A = np.array(
    [
        [4, 3, 6],
        [5, 2, 7],
        [8, 3, 10],
        [3, 4, 2],
    ]
)
def std(A):
    return (A - min(A) )/(max(A) - min(A))
result = np.apply_along_axis(std, 0, A)
print(result)

[[0.2   0.5   0.5  ]
 [0.4   0.    0.625]
 [1.    0.5   1.   ]
 [0.    1.    0.   ]]

In [103]:
#Exercise 3
"""
Using the np.apply_along_axis() function replace the first element of each line with the last one.
In response, print the result to the console.
"""
import numpy as np


A = np.array(
    [
        [4, 3, 6],
        [5, 2, 7],
        [8, 3, 10],
        [-3, 4, 2],
    ]
)
def replace(row):
    first = row[0]
    last = row[-1]
    row[0] = last
    row[-1] = first
    return row

result = np.apply_along_axis(replace, 1, A)
print(result)

[[ 6  3  4]
 [ 7  2  5]
 [10  3  8]
 [ 2  4 -3]]

In [24]:
#Exercise 4
"""
Create your own universal function in NumPy called add_three() that takes one argument, 
adds 3 to it, and returns the result.
Then, call this function on the following arrays and print result to the console as shown below.
"""
import numpy as np
 
 
A = np.array([4, 5, 1, -4])
B = np.array([[3, 6, 7, 9], [-1, 2, 5, 4]])
 
 
def add_three(a):
    return a + 3
 
 
add_three = np.frompyfunc(add_three, 1, 1)
 
print(add_three(A))
print(add_three(B))

[7 8 4 -1]
[[6 9 10 12]
 [2 5 8 7]]

In [32]:
#Exercise 5
"""
Create your own universal function in NumPy called add_abs() that takes two arguments,
adds its absolute values, and returns the result.

Then, call this function on the following arrays and print result to the console as shown below.
"""
import numpy as np

A = np.array([4, 5, 1, -4])
B = np.array([3, -6, 7, 9])

def add_abbs(x,y):
    result = np.abs(x) + np.abs(y)
    return result

add_abbs = np.frompyfunc(add_abbs, 2, 1)
print(add_abbs(A,B))
#print(add_abbs(B))

[7 11 8 13]

In [50]:
#Exercise 6
"""
Use an appropriate universal function to reduce array's dimensions by one,
by applying np.add() function along rows of the array.
In response, print the result to the console.
"""
import numpy as np

A = np.array(
    [
        [9, 7, 8, 6, 1, 8, 7, 0, 3, 5],
        [0, 5, 2, 7, 9, 9, 2, 6, 9, 6],
        [1, 0, 7, 3, 6, 1, 0, 3, 1, 6],
        [2, 6, 4, 2, 3, 6, 2, 1, 6, 6],
    ]
)
result = np.add.reduce(A, axis = 1)
print(result)

[54 55 28 38]

In [61]:
#Exercise 7
"""
Perform the following calculations:
use an appropriate universal function to reduce array's dimensions by one, 
by applying minimum function along columns of the array
use an appropriate universal function to reduce array's dimensions by one, 
by applying maximum function along columns of the array
"""
import numpy as np

A = np.array(
    [
        [0.24398619, 0.14025396, -0.34406837, -0.12594602, 1.05677039],
        [-0.02779126, 1.63826084, 0.71438632, -1.48433242, 0.43180597],
        [0.81548431, 0.29686715, 0.73958158, -0.30588133, 0.46631347],
        [0.75545748, -1.0659269, -0.84961631, 0.88909722, -0.13956892],
    ]
)

result1 = np.min(A, axis = 0)
result2 = np.max(A, axis = 0)
"""
min_result = np.minimum.reduce(A, axis=0)
max_result = np.maximum.reduce(A, axis=0)
"""
print(result1)
print(result2)

[-0.02779126 -1.0659269  -0.84961631 -1.48433242 -0.13956892]
[0.81548431 1.63826084 0.73958158 0.88909722 1.05677039]

***TEST***

In [62]:
#1
A = np.array([[3],[1],[6]])
B = np.array([[3,4]])
print(np.dot(A,B))

[[ 9 12]
 [ 3  4]
 [18 24]]

In [63]:
#2
A = np.array([[3],[1],[6]])
B = np.array([[3,4], [2,1]])
print(np.dot(A,B))

ValueError: shapes (3,1) and (2,2) not aligned: 1 (dim 1) != 2 (dim 0)

In [64]:
#5
print(np.array([1, 2, 3]) + 5)

[6 7 8]

In [65]:
#6
print(np.array([1, 2, 3]) * 2)

[2 4 6]

In [66]:
#7
arr1 = np.array([[1, 1, 1, 1], [0, 0, 0, 0]])
arr2 = np.array([[1, 10, 100, 1000]])

print(arr1 + arr2)

[[   2   11  101 1001]
 [   1   10  100 1000]]

In [67]:
#8
arr1 = np.array([[1, 1, 1, 1], [0, 0, 0, 0], [-1, -1, -1, -1]])
arr2 = np.array([[1, 10, 100]])

print(arr1 + arr2)

ValueError: operands could not be broadcast together with shapes (3,4) (1,3)

In [68]:
#9
arr = np.array([[2, 5], [6, 2], [9, 1]])

print(arr[arr > 5])

[6 9]

In [69]:
#10
arr = np.array([[2, 5], [6, 2], [9, 1]])

mask = (arr == 5) | (arr > 8)
arr[mask] = 0
print(arr)

[[2 0]
 [6 2]
 [0 1]]